





\lyricmode {

	% part "A"
	You'll see just one look and you'll know __
	She's so ten -- der and warm
	You'll re -- cog -- nise __ this is love __
	And you'll find yourself __ on a -- no -- ther plane __
	"500" _ _ mi -- les high __
}

