




% this version of the lyrics is from the fake book but adjusted for the real book (the real book has no lyrics)...
\lyricmode {

	% part "A"
	Some day you'll look in to her eyes __
	Then there'll be no good -- byes
	And yes -- ter -- day __ will have gone __
	And you'll find yourself __ in a -- no -- ther space __
	"500" _ _ mi -- les high __

	% part "Coda"
	_ "500" _ _ mi -- les high __
}


