

	DONE:
	- got the real book epdf.
	- put in the lyrics url.
	- put in the meta data from the real book.
	- put in the chords from the real book.
	- put in the tune from the real book.
	- put in the lyrics for the real book version.
	- played the real book version to hear that it sounds well.
	- checked the real book chords.
	- checked the real book tune.
	- checked the lyrics for the real book version.
	- put in youtube performances.
	TODO:
	- fix the coda thing.





