






\lyricmode {

	% part "A"
	Be sure that you love stays so free __
	Then it nev -- er can die
	Just re -- a -- lise __ this is truth __
	And above the skies __ you will al -- ways stay __
	"500" _ _ mi -- les high __
}
