




\lyricmode {
	A Cup of Cof -- fee a sand -- wich and you, __ A co -- zy
	cor -- ner, a ta -- ble for two, __ A chance to
	whis -- per and cud -- dle and coo __ With lots of
	hug -- gin' and kiss -- in' in view __ I don't need
	mus -- ic lob -- ster or wine. __ When -- ev -- er
	your eyes look in -- to mine __ The things I
	long for are sim -- ple and few; __
	A cup of cof -- fee, a sand __ wich and you! A cup of

	you! __
}
