

	DONE:
	- brought in the fake book epdf.
	- filled in the meta data from the fake book.
	- filled in the tunes structure.
	- put in the chords from the fake book.
	- put in the tune from the fake book.
	- put in the lyrics from the fake book.
	- check the fake book chords.
	- check the fake book tune.
	- check the fake book lyrics.
	- hear that the tune sounds well on midi and adjust tune speed.
	- put in youtube performances
	- put in the lyrics url
	TODO:
	- add the hal leonard version (page 49)



