








% lyrics taken from the fake book and adjusted for the real book
\lyricmode {

	% part "A"
	A Fine Ro -- mance with no kis -- es!
	A Fine Ro -- mance, my friend, this is!

	% part "B"
	We should be like a cou -- ple of hot to -- ma -- toes, __
	but you're as cold as yes -- ter -- day's mashed po -- ta -- toes. __

	A

	% part "C"
	might as well play bridge with my old maid aunts!
	I have -- n't got a chance. This is A Fine Ro -- mance.

	A
}

