

	DONE:
	- brought in the real book epdf.
	- brought in the fake book epdf.
	- filled in the meta data from the fake book.
	- put in the fake book chords.
	- put in the fake book tune.
	- put in the fake book lyrics.
	- put in the real book chords.
	- put in the real book tune.
	- put in the real book lyrics.
	- checked the fake book chords.
	- checked the fake book tune.
	- heard the fake book tune to hear that it sounds well.
	- checked the fake book lyrics.
	- checked the real book chords.
	- checked the real book lyrics.
	- checked the real book tune.
	- heard the real book tune to hear that it sounds well.
	- filled in data about the you tube performances.
	- added a lyrics url.








