





\lyricmode {

	% part "A"
	_ Fine Ro -- mance my good fel -- low!
	You take ro -- mance, I'll take jel -- lo!

	% part "B"
	You're calm -- er than the seal in the Arc -- tic O -- cean, __
	at least they flap their fins to ex -- press e -- mo -- tion. __

	% part "A"
	A Fine Ro -- mance with no quar -- rels,
	With no in -- sults, and all mor -- als!

	% part "C"
	I've nev -- er mussed the crease in your blue serge pants!
	I nev -- er get the chance. This is A Fine Ro -- _ _ mance. __
}




