



{
	\tempo "Presto" 4 = 196
	\time 4/4
	\key c \major

	\partial 4 e4 |

	\repeat volta 2 {

		% part "A"
		c1 | a'4 g2 a4 | b,1 | b'4 a2 b4 |
		e,1 | d'4 c2 e,4 | g1 | e'4 d2 g,4 |

		% part "B"
		c4 b c d | \tuplet 3/2 { c b! bes } a aes | g2 g~ | g2. g4 |
		a gis a b | \tuplet 3/2 { a aes g! } fis f | e2 e~ | e2. e4 |

		% part "A"
		c1 | a'4 g2 a4 | b,1 | b'4 a2 b4 |
		e,1 | d'4 c2 e,4 | g1 | e'4 d2 g,4 |

		% part "C"
		c4 b c d | \tuplet 3/2 { e d c } b! bes | a1 | \tuplet 3/2 { c4 b bes } a! aes |
		g1 | \tuplet 3/2 { b4 a aes } g! d' |
	} \alternative {
		{
			c1 | r2 r4 e,4 |
		}
		{
			c'1~ | c2. r4 |
		}
	}
}






