






\chordmode {
	\startChords
	\startSong

	\partial 4 s4 |

	\repeat volta 2 {

		\myMark "A"
		\startPart
		c1:6 | a:m7 | g:7 | dis:dim | \myEndLine
		e:m7 | a:m7 | d:m7 | g:7 | \myEndLine
		\endPart
	} \alternative {
		{

			\myMark "B"
			\startPart
			c:6 | e2.:m7 aes4:7 | d2:m7 g:7 | d:m7 g:7 | \myEndLine
			a1:m7 | e2.:m7 f4 | e2:7 a:7 | d:m7 g:7 | \myEndLine
			\endPart
		}
		{

			\myMark "C"
			\startPart
			c1:maj7 | c2:7/bes g4:7 c:7 | f2:maj7 a:7/e | d:m7 dis:dim | \myEndLine
			e1:m7 | g:7 | c:6 | \LPC d2:m7 \RPC g:7 | \myEndLine
			\endPart
		}
	}

	\endSong
	\endChords
}



