





\lyricmode {
	_
	strange it ws, how sweet and strange. There was nev -- er a dream to com -- pare with that
	ha -- zy, cra -- zy night we met, when A Night -- in -- gale Sang In Ber -- k'ley Square.
	This heart of mine beat loud and fast like a mer -- ry -- go -- round in a fair. For
	we were dan -- cing cheek to cheek "and A" Night -- in -- gale Sang In Ber -- k'ley Square.
	When dawn came steal -- ing up all gold and blue __ to in -- ter -- rupt our ren -- dez -- vous,
	I still re -- mem -- ber how you smiled and said __ "\"was" that a dream of was it "true?\"" our
	home -- ward step was just as light as the tap -- dan -- cing feet of As -- taire and like an e -- cho
	far a -- way A Night -- in -- gale Sang In Ber -- k'ley Square. __
}
