




\lyricmode {
	That cer -- tain night, the night we met there was ma -- gic a -- broad in the air, there were
	an -- gels din -- in at the Ritz, and A Nigh -- in -- gale Sang In Ber -- k'ley Square.
	I may be right, I may be wrong, but I'm per -- fect -- ly will -- ing to swear that
	when you turn'd and smiled at me A Night -- in gale Sang In Ber -- k'ley Square.
	The moon that lin -- gered o -- ver Lon -- don town, __ poor Puz -- zled moon, he wore a frown.
	How could he know we two were so in love. __ The whole darn world seemed up -- side down, the
	streets of town were paved with stars. It was such a ro -- man -- tic af -- fair, and as we kiss'd and
	said "\"good" -- "night\"" A Night -- in gale Sang In Ber -- k'ley Square. __ How Square.
	I know, 'cause I was there that night in Ber -- k'ly Square. __
}

