




\chordmode {
	\startChords
	\startSong

	\partial 4 s4 |

	\myMark "A"
	\startPart
	\repeat volta 2 {
		c1:maj7 | c2:m7 f:7 | bes1:maj7 | bes2:m7 ees:7 | \myEndLine
		aes1:maj7 | d2:m7 g:7.9- | c1:maj7 |
	} \alternative {
		{
			d2:m7 g:7 | \myEndLineVoltaNotLast
		}
		{
			c1:maj7 | \myEndLineVoltaLast
		}
	}
	\endPart

	\myMark "B"
	\startPart
	d1:m7 | g:7 | c:maj7/e | a:9 | \myEndLine
	d:m7 | g:7 | c:maj7 | d2:m7 g:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	c1:maj7 | c2:m7 f:7 | bes1:maj7 | bes2:m7 ees:7 | \myEndLine
	aes1:maj7 | d2:m7 g:7.9- | c1:maj7 | \LPC d2:m7 \RPC g:7 | \myEndLine
	\endPart

	\endSong

	\endChords
}

