





{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key c \major

	\partial 4 e'8-- g-^ |

	% part "A"
	\repeat volta 2 {
		r8 d4-^ c8 b c d e | ees g, bes d c4 d8-- f-^ |
		r c4-^ bes8 a bes c d | des f, aes c bes4 c8 ees-^ |
		r c4-^ aes8 g bes aes g~ | g2~ g8 bes aes g~ |
		g1 |
	} \alternative {
		{
			r2 r4 e'8-- g-^ |
		}
		{
			r2 a,4 b8 c~ |
		}
	}

	% part "B"
	c2. d8 e~ | e2. d8 c~ | c2. e8 a,~ | a2. b8 c~ |
	c2. d8 e~ | e2. f8 g~ | g2 g8 e f g~ |
	g2. e8-- g-^ |

	% part "A"
	r8 d4-^ c8 b c d e | ees g, bes d c4 d8-- f-^ |
	r c4-^ bes8 a bes c d | des f, aes c bes4 c8-- ees-^ |
	r c4-^ aes8 g bes aes g~ | g2~ g8 bes aes g~ |
	g1~ \mark \markup { \italic { Fine } } | g1 |
}
