


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	\repeat volta 2 {
		d2.:m7 | g:7 | c:maj7 | f:maj7 | \myEndLine
		b:m7.5- | e:7 | a:m7 | ees:7 | \myEndLine
		d:m7 | g:7 | e:m7 | a:m7 | \myEndLine
		d:m7 | g:7 |
	} \alternative {
		{
			% the chords a:m7 d:7 are a mistake in the real book
			e4.:m7 a:7 | d:m7 g:7 | \myEndLineVoltaNotLast
		}
		{
			c2.:maj7 | a:m7 | \myEndLineVoltaLast
		}
	}
	\endPart

	\myMark "B"
	\startPart
	d2.:7 | g:7 | e:m7 | a:m7 | \myEndLine
	d:m7 | g:7 | c:maj7 | f:maj7 | \myEndLine
	fis:m7.5- | b:7.9- | e:m7 | a:7 | \myEndLine
	d2:m7 a4:7 | d2:m7 a4:7 | d2:m7 aes4:7 | g2.:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	d2.:m7 | g:7 | c:maj7 | f:maj7 | \myEndLine
	b:m7.5- | e:7 | a:m7 | ees:7 | \myEndLine
	d:m7 | g:7 | e:m7 | a:m7 | \myEndLine
	d:m7 | g:7 | c2.*2:maj7 | \myEndLine
	\endPart

	\endSong
	\endChords
}



