




% This is taken from the inetnet and adjusted for this tune
\lyricmode {

	% part "A"
	A -- lice In Won -- der -- land
	How do you get to won -- der -- land
	O -- ver the hill or un -- der -- land
	or just be -- hind the tree __
}

