




\lyricmode {

	% part "A"
	All, __ Or Noth -- ing At All. __
	Half a love nev -- er ap -- pealed to me. __
	If your heart nev -- er could yield to me, __
	then I'd rath -- er have noth -- ing at all!

	% part "A"
	All __ Or Noth -- ing At All! __
	If it's love, there is no in -- be -- tween. __
	Why be -- gin, then cry for some -- thing that might have been. __
	No, I'd rath -- er have noth -- ing at all. __

	% part "B"
	But, please, don't bring your lips so close to my cheek. __
	Don't smile or I'll be lost be -- yond re -- call. __
	The kiss in your eyes, the touch of your hand makes me weak, __
	And my heart may grow diz -- zy and fall.

	% part "A"
	And if I fell un -- der the spell of your call. __
	I would be caught in the un -- der -- tow. __
	So, you see, I've got to say: No! No!
	All __ Or Noth -- ing At All! __
}
