





\chordmode {
	\startChords

	\startSong

	\myMark "A"
	\startPart
	f1:m7 | bes:m7 | ees:7 | aes:maj7 | \myEndLine
	des:maj7 | g:7 | c1*2:maj7 | \myEndLine
	c1:m7 | f:m7 | bes:7 | ees:maj7 | \myEndLine
	aes:maj7 | a2:m7.5- d:7.9- | g1:maj7 | g2:maj7 e:7.9+ | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	a1:m7 | d:7 | g:maj7 | c:maj7 | \myEndLine
	fis:m7.5- | b:7 | e:maj7 | c:7.5+ | \myEndLine
	\endPart

	\myMark "C"
	\startPart
	f:m7 | bes:m7 | ees:7 | aes:maj7 | \myEndLine
	des:maj7 | des2:m7 ges:7.9 | aes1:maj7 | b:dim7 | \myEndLine
	bes:m7 | ees:7.9 | aes1*2:maj7 | \myEndLine
	\endPart

	\endSong
}


