



{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key aes \major

	% part "A"
	aes'1 | des2. aes4 | g g g g | g c2 g4 |
	f f f f | f b2 f4 | e1~ | e |
	ees | aes2. ees4 | d d d d | d g2 d4 |
	c c c c | \tuplet 3/2 { c d ees } d c | b1~ | b4 d g d' |

	% part "B"
	d2 c~ | c4 ees, e c' | b1~ | b4 d, g b |
	b2 a~ | a4 bes,? b a' | aes1~ | aes |

	% part "C"
	aes | des2. aes4 | g g g g | g c2 g4 |
	f1 | ees'2 des | ees,4 ees \tuplet 3/2 { ees ees ees } | g2. f4 |
	des f aes des | f2 g | aes1~ | aes |
}




