






{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key aes \major

	% part "A"
	aes'1 | des2. aes4 | g g g g | g c2 g4 |
	f f f f | f b2 f4 | e1~ | e |
	ees | aes2. ees4 | d d d d | d g2 d4 |
	c c c c | c d8 ees d4 c | b1~ | b4 d g d' |

	% part "B"
	d4. c8 c2~ | c4 dis, e c' | b1~ | b4 d, g b |
	b4. a8 a2~ | a4 bes,? b a' | gis1 | r |

	% part "C"
	aes | des2. aes4 | g g g g | g c2 g4 |
	f1 | ees'2. des4 | ees, ees \tuplet 3/2 { ees ees ees } | g2. f4 |
	des des f aes | f'2 g, | aes1~ | aes2. r4 |
}

