


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	f1:m7 | bes:m7 | ees:7 | aes:maj7 | \myEndLine
	des:maj7 | g:7 | c1*2:maj7 | \myEndLine
	c1:m7 | f:m7 | bes:7 | ees:maj7 | \myEndLine
	aes:maj7 | d:7 | g1*2:maj7 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	a1:m7 | d:7 | g1*2:maj7 | \myEndLine
	fis1:m7 | b:7 | e:maj7 | c:7.5+ | \myEndLine
	\endPart

	\myMark "C"
	\startPart
	f1:m7 | bes:m7 | ees:7 | aes:maj7 | \myEndLine
	des:maj7 | des:m7 | c:m7 | b:dim7 | \myEndLine
	bes:m7 | ees:7 | aes:maj7 | \LPC g2:7 \RPC c:7 | \myEndLine
	\endPart

	\endSong
	\endChords
}





