

	DONE:
	- bring in real book pdf.
	- bring in fake book pdf.
	- wrote the real book chords.
	- wrote the real book tune.
	- filled in the meta data from the fake book.
	- write the fake book lyrics fitted for the real book tune.
	- checked the real book chords.
	- check the real book notes.
	- hear the tune, adjust it's speed and see it's ok.
	- check the lyrics.
	- wrote the lyrics for the fake book vesion.
	- wrote the fake book chords.
	- wrote the fake book tune.
	- checked the chords of the fake book version.
	- check the tune of the fake book version.
	- check the lyrics of the fake book version.
	- put you tube performances and lyrics url.
	- put in where the meta data came from.
	TODO:






