





\lyricmode {

	% part "A"
	A -- lone To -- geth -- er; __
	the blind -- ing rain __
	The star -- less night, __
	we're not in vain;
	For we're to -- geth -- er, and what is there
	to fear to -- _ _ _ geth -- er. __

	% part "B"
	Our love __ is as deep as the sea, __
	Our love __ is as great as a love can be,

	% part "A"
	And we can wea -- ther __
	the great un -- known, __
	If we're A -- lone To -- geth -- er. __

	A
}
