



{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key d \minor

	\partial 8 d8 |

	% part "A"
	\repeat volta 2 {
		f2.. d8 | e e4.~ e2~ | e4 r8 d e4. f8 | a1~ |
		a4 r8 d, e4. f8 | a1~ | a4 r8 g a4. bes8 | d2.. d8 |
		e2.. d8 | c c4.~ c bes8 | a4. g8 a4. g8 | a2.. g8 |
	} \alternative {
		{ fis fis4.~ fis2~ | fis2. r8 d | }
		{ fis fis4.~ fis2~ | fis2. d4 | }
	}

	% part "B"
	c'1~ | \tuplet 3/2 { c4 a bes } \tuplet 3/2 { c ees d } | bes1~ | bes2. d,4 |
	bes'1~ | \tuplet 3/2 { bes4 g a } \tuplet 3/2 { bes des c } | a2.. f8 | g2.. d8 |

	% part "A"
	f2.. d8 | e e4.~ e2~ | e4 r8 d e4. f8 | a1~ |
	a4 r8 a b4. d8 | f2.. cis8 | d d4.~ d2~ | d2 r4 r8 <\parenthesize d,>8 |
}


