




% this version of the lyrics is from the fake book but adjusted for the real book (the real book has no lyrics)...
\lyricmode {

	% part "A"
	A -- lone To -- geth -- er; __
	be -- yond the crowd. __
	a -- bove the world, __
	we're not too proud
	to cling to -- geth -- er. __
	Were strong
	As long as we're to -- geth -- er __

	A
}

