




\lyricmode {

	% part "A"
	I'll be lov -- ing you, Al -- ways __
	With a love that's true, Al -- ways __
	When the things you've planned
	Need a help -- ing hand,
	I will un -- der -- stand, Al -- ways, Al -- ways.

	% part "B"
	Days may not be fair, Al -- ways __
	That's when I'll be there, Al -- ways. __
	Not for just and hour, Not for just a day,
	Not for just a year, But Al -- ways. __

	% part "Volta"
	Al -- ways. __
}
