


\chordmode {
	\startSong
	\startChords

	\repeat volta 2 {

		\myMark "A"
		\startPart
		ees2 c:9- | f1:m7 | bes2.:7 bes4:5+9 | ees1~ | \myEndLine
		ees2 ees4/g ges:dim7 | f1:m7 | bes:7 | ees~ | \myEndLine
		\endPart

		\myMark "A"
		\startPart
		ees2 c:9- | f1:m7 | bes2.:7 bes4:5+9 | ees1~ | \myEndLine
		ees2 ees4/g ges:dim7 | f1:m7 | bes:9 | ees | \myEndLine
		\endPart

		\myMark "B"
		ees:7 | aes:6 | f2:m7 bes4:7 bes:5+9 | ees1~ | \myEndLine
		ees | bes:7~ | bes2:7 d:dim7 | g:7 c:m7 | f:9 bes:5+7 | \myEndLine
		\startPart
		\endPart

		\myMark "A"
		\startPart
		ees c:9- | f1:m7 | bes2.:7 bes4:5+9 | ees1~ | \myEndLine
		ees2 ees4/g ges:dim7 | f1:m7 | bes:9 |
	} \alternative {
		{
			ees2 c:m7 | f:m bes:7 | \myEndLineVoltaNotLast
		}
		{
			ees2 aes:m6 | ees1 | \myEndLineVoltaLast
		}
	}
	\endPart

	\endChords
	\endSong
}


