


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	\repeat volta 2 {
		c2:m7 aes:7/c | c:m6 aes:9/c | c:m9 a:m7.5- | ees4:13 aes:maj7 g:7.5- d:m11 | \myEndLine
		c2:m9 aes:7/c | c:m6 aes:9/c | d:7.9- aes4:9 g:7.9- |
	} \alternative {
		{
			c2:m7 aes4:9 g:7.9- | \myEndLineVoltaNotLast
		}
		{
			c1:m | \myEndLineVoltaLast
		}
	}
	\endPart

	\myMark "B"
	\startPart
	bes2:m9 ees:7.9- | aes:maj7.9 f:7.9- | bes:m9 ees:7.9- | aes2.:maj7.9 des4:maj7.9 | \myEndLine
	a2:m9 d:7.9- | g2.:maj7 c4:maj7.9 | cis2:m7 fis:7.5+ | d:m7 g:7.5+ | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	c2:m9 aes:7/c | c:m6 aes:9/c | c:m9 a:m7.5- | d:m7 g4:7.5- g:7 | \myEndLine
	c2:m9 aes:7/c | c:m6 aes:9/c | d:7.9- aes4:9 g:7.5+ | c2:m c:m/bes | aes:9 g:7.5+ | c1:m7+ | \myEndLine
	\endPart

	\endSong
	\endChords
}



