





\lyricmode {

	% part "A"
	An -- gel Eyes __
	that old dev -- il sent, __
	they glow un -- bear -- a -- bly bright. __
	Need I say __ that my love's mis -- spent, __
	mis -- spent with An -- gel Eyes to -- night. __
}
