




\lyricmode {

	% part "A"
	Try to think __
	that love's not a -- round __
	still it's un -- com -- fort -- 'bly near. __
	My old heart __
	ain't gain -- in' no ground __
	be -- cause my An -- gel Eyes ain't here. __
	_

	% part "B"
	So drink up __ all you peo -- ple, __
	or -- der an -- y -- thing you see. __
	Have fun, __ you hap -- py peo -- ple __
	the drink and the laugh's __ on me. __

	% part "A"
	Par -- don me, __
	but I got -- ta run, __
	the fact's un -- com -- mon -- ly clear. __
	Got -- ta find __ who's now "\"Num" -- ber "One\""__
	and why my An -- gel Eyes ain't here. __
	'Scuse me while I di -- s -- ap -- pear. __
}

