

	DONE:
	- brough in the real book jazz epdf.
	- put in the tunes meta data from the real book and from the internet.
	- put in the tunes structure.
	- put in the real book chords.
	- put in a lyrics url.
	- put in lyrics for the real book from the internet.
	- put in the real book tune.
	- checked the real book chords.
	- checked the real book tune.
	- adjusted the tunes speed.
	- heard the tune to make sure it's ok.
	- sync the words to the melody.
	- put in youtube performances.
	TODO:
	- put in the copyright (from where?)
	- put another version here (from where?)




