




\lyricmode {

	% part "A"
	You must re -- mem -- ber this
	A kiss is still a kiss
	A sigh is still a sigh
	The fun -- da -- men -- tal things app -- ly
	As Time Goes By __

	% part "A"
	And _

	% part "B"
	Moon -- light and love __ songs- nev -- er out of date
	Hearts full of pas -- __ sion- jea -- lou -- sy and hate
	Wo -- men needs man- __ and man must have his mate
	That no one can de -- ny

	% part "A"
	It's still the same old sto -- ry
	A fight for love and glo -- ry
	A case of do or die
	The world will al -- ways wel -- come lov -- ers
	As Time Goes By
}

