

	DONE:
	- got the Aebersold epdf in here.
	- got the real book epdf in here.
	- got the fake book epdf in here.
	- put in the structure of the tune.
	TODO:
	- mark whats been done to the Aebersold tune.
	- document the you tube performances.
	- write the real book version.
	- write the fake book version.
	REMARKS:
	- I moved the Aebersold tune to scale f major which is better for this tune. Why the hell did aebersold put it in C?


