





\lyricmode {

	% part "A"
	Au -- tumn In New York,
	the gleam -- ing roof -- tops at sun -- down.
	Au -- tumn In New York,
	it lifts you up when you're run -- down.

	% part "B"
	Jad -- ed rou -- es and gay di -- vor -- cees
	who lunch at the Ritz __
	will tell you that "\"it's" __
	di -- "vine!\"" __

	% part "A"
	This Au -- tumn In New York,
	trans -- forms the slums in -- to May -- fair;
	Au -- tumn In New York, __
	you'll need no cas -- tles in Spain. __

	% part "C"
	Lov -- ers that bless the dark
	on bench -- es in Cen -- tral Park
	greet Au -- tumn In New York, __
	it's good to live it a -- gain.
}
