

	DONE:
	- brought in epdf from the real book.
	- checked the chords in the real book version.
	- brought in epdf from the fake book.
	- put in the meta data.
	- checked the tune in the real book version.
	- checked the lyrics in the real book version.
	- heard the tune to make sure the rythm is right.
	- document the youtube performances.
	- add a lyrics url.
	TODO:
	- check the entire fake book version.







