




% lyrics are taken from the fake book and adjusted for the real one
\lyricmode {

	% part "A"
	Au -- tumn In New York,
	why does it seem so in -- vit -- ing?
	Au -- tumn In New York,
	it spells the thrill of first night -- ing.

	% part "B"
	Glit -- ter -- ing crowds and shim -- mer -- ing clouds
	in can -- yons of steel, __
	they're mak -- ing me feel __
	I'm home. __

	% part "A"
	It's Au -- tumn In New York,
	that brings the pro -- mise of new love;
	Au -- tumn In New York __
	is of -- ten min -- gled with pain. __

	% part "C"
	Dream -- ers with emp -- ty hands
	may sigh for ex -- ot -- ic lands;
	It's Au -- tumn In New York, __
	it's good to live it a -- gain.
}

