








\lyricmode {

	% part "A"
	The fall -- ing leaves __ drift by the win -- dow, __
	The Au -- tumn Leaves, __ of red and gold.

	% part "A"
	I see your lips, __ the sum -- mer kiss -- es,
	The sun -- burned hands __ I used to hold.

	% part "B"
	Since you went a -- way __ the days grow long, __
	And soon I'll hear __ old win -- ter's song. __
	But I miss you most of all my dar -- ling, __
	When Au -- tumn Leaves start to fall. __
}
