



{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key e \minor

	\partial 2. e4 fis g |

	% part "A"
	\repeat volta 2 {
		c1~ | c4 d, e fis | b2 b~ | b4 c, d e |
		a1~ |
	} \alternative {
		{
			a4 b, cis dis | g1 | r4 e fis g |
		}
		{
			a4\repeatTie fis a g | e1~ | e4 r dis e |
		}
	}

	% part "B"
	fis b, fis'2~ | fis4 fis e fis | g1~ | g4 g fis g |
	a1~ | a4 d, d' c | b1~ | b4 r ais b |
	c c a a | fis2. c'4 | b2 b~ | b2. e,4 |
	a2. g4 | fis2 g4 b, | e1 | r4 <\parenthesize e> <\parenthesize fis> <\parenthesize g> |
}





