

	DONE:
	- filled out basic details.
	- filled in lyrics url.
	- filled in the tunes structure.
	- filled in more meta data from the hal leonard version.
	- added the real book epdf.
	- entered the real book chords.
	- entered the real book tune.
	- entered the real book lyrics.
	- checked the real book chords.
	- checked the real book tune.
	- checked the real book lyrics.
	- heard the real book version and it sounds good.
	- adjusted the speed of the real book version.
	- added the hal leonard epdf.
	- added performances on you tube.
	TODO:
	- how do I mention the beat of the chords when it's confusing?
		(consider the a2:m7 d4:7 des4:7 in the tune where the sheet
		music does NOT SHOW the fact that the a minor is two beats and
		each of the following chords are on one beat).
		Document this issue in the lilyponds hints file.
	- how do I enter french keys? As in the words of the song 'rou -- es'
		(the e is supposed to be a french e)
	- how do I united two exact lyrics? Look at the hal leonard lyrical
		ending of this songs and see how he joins the two lyrics
		versions... Document this.
	- do the hal leonard epdf.




