


\chordmode {
	\startChords
	\startSong

	\partial 2. s2. |

	\myMark "A"
	\startPart
	\repeat volta 2 {
		a1:m7 | d:7 | g:maj7 | c:maj7 | \myEndLine
		fis:m7.5- |
	} \alternative {
		{
			b:7 | e1*2:m | \myEndLineVoltaNotLast
		}
		{
			b1:7 | e1*2:m | \myEndLineVoltaLast
		}
	}
	\endPart

	\myMark "B"
	\startPart
	fis1:m7.5- | b:7.9- | e1*2:m | \myEndLine
	a1:m7 | d:7 | g1*2:maj7 | \myEndLine
	fis1:m7.5- | b:7.9- | e2:m7 ees:7 | d:m7 des:7 | \myEndLine
	c1:maj7 | b:7.9- | e1*2:m | \myEndLine
	\endPart

	\endSong
	\endChords
}






