

	DONE:
	- filled in the structure of the tune.
	- wrote down the real book chords.
	- added a lyrics url.
	- wrote down the real book tune.
	- wrote down the real book lyrics.
	- checked the real book lyrics.
	- bring in real book pdf.
	- bring in fake book pdf.
	- fill in the meta data from the fake book pdf.
	- checked the real book chords.
	- checked the real book tune.
	- hear the tune, adjust it's speed and see it's ok.
	- put you tube performances.
	TODO:
	- add the fake book version.




