




\lyricmode {
Beau ti ful love, you're all a my stery -      
Beau ti ful love, what have you done to me?
I was con t ent un til you came along
Thril ling my soul with you r song
Beau ti ful love, will my dreams come true?
}

