


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	ees1:7 | aes:7 | ees1*2:7 | \myEndLine
	aes:7 | ees:7 | \myEndLine
	bes1:7 | aes:7 | ees:7 | bes:7 | \myEndLine
	\endPart

	\endSong
	\endChords
}

