




\lyricmode {

	% part "A"
	I'm wild a -- gain, be -- guiled a -- gain,
	a sim -- per -- ing, whim -- per -- ing child a -- gain,
	Be -- witched, both -- ered and be -- wild -- ered am I. __

	% part "A"
	Could -- n't sleep, and would -- n't sleep,
	when love came and told me I should -- n't sleep,
	Be -- witched, both -- ered and be -- wild -- ered am I. __

	% part "B"
	Lost my heart, but what of it?
	He is cold I a -- gree,
	he can laugh, but I love it, __
	al -- though the laugh's on me.

	% part "A"
	I'll sing to him, each spring to him,
	and long for the day when I'll cling to him,
	Be -- witched, both -- ered and be -- wild -- ered am I.

	% part "Volta"
	I'm I. __
}
