



{
	\tempo "Moderato" 4 = 100
	\time 2/2
	\key c \major

	\partial 4 g'4 |

	\repeat volta 2 {

		% part "A"
		e8 b' c2 e,4 | f8 b c2 f,4 | g8 b c4 gis8 b c4 | a8 b c2 b4 |
		c r b8 a g fis | g4 d2 e4 | f1~ | f2 r |

		% part "A"
		e8 b' c2 e,4 | f8 b c2 f,4 | g8 b c4 gis8 b c4 | a8 b c2 b4 |
		c r b8 a g fis | g4 d2 e4 | a1~ | a2. r4 |

		% part "B"
		b8 a f2 b8 a | f4 f2. | b8 a e2 b'8 a | e1 |
		c'8 b g2 c8 b | g4 g~ g8 a b c | d2 c f,2. g4 |

		% part "A"
		e8 b' c2 e,4 | f8 b c2 f,4 | g8 b c4 gis8 b c4 | a8 b c2 b4 |
		c r b8 a g fis | g4 d'2 g,4 |
	} \alternative {
		{
			c1 | r2 r4 g4 |
		}
		{
			c1~ | c4 r4 r2 |
		}
	}
}

