




% this version of the lyrics is from the internet adjusted for the real book.
\lyricmode {

	% part "A"
	A place in -- side my heart __
	Is where you live __
	Mem -- ories of our start __
	The love you give __

	Days when we're a -- lone __
	And you are in my arms __
	The_blue -- ness of the_true -- ness of our love __
}


