





\lyricmode {

	% part "A"
	_ Nights of moon -- lit skies __
	A gen -- tle kiss __
	Some -- thing in your eyes __
	Fills me with bliss __

	Hold me in your arms __
	And then I will re -- call __
	The_blue -- ness of the_true -- ness of our love __

	The
}

