



{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key f \major

	% part "A"
	\repeat volta 2 {
		c4 f2 d4 | c g'2 d4 | c a'2 d,4 | c bes'2 d,4 |
		c c' c c | c8 d bes2 g4 |
	} \alternative {
		{
			f f f8 g a4 | c,2. r4 |
		}
		{
			f f f8 g a g | f2. r4 |
		}
	}

	% part "B"
	e f g a | bes c d e | r f f8 e d4 | c2 d |
	r4 e e8 d c4 | bes2 c | r4 a a8 g f4 | c2. r4 |

	% part "A"
	c f2 d4 | c g'2 d4 | c a'2 d,4 | c bes'2 d,4 |
	c c' c c | c8 f bes,2 a8 g | f4 f f8 g a g | f1 |
}


