


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	bes1:maj7.11+ | a:7.9+ | d2.:m9 des4:7 | c2:m9 f:7.9- |
	bes1:maj7 | a:7.5+.9+ | \myEndLine
	d:m6.9 | e:7.5+.9+ | a:m9 | d:m9 |
	bes:maj7.11+ | a2.:7.9+ a4:7.9- | d1:m6.9 | \myEndLine
	\endPart

	\endSong
	\endChords
}

