


\chordmode {
	\startChords
	\startSong

	\partial 8*5 s8 bes2:7 |

	\myMark "A"
	\startPart
	\repeat volta 2 {
		c1:m | f2:m7 bes:7 | c1:m | bes2:m7 ees:7 | \myEndLine
		f1:m | f2:m7 bes:7 | c1:m | a2:m7 d:7 | \myEndLine
		g1:m | f2:m7 bes:7 |
	} \alternative {
		{
			c1:m | f2:m7 bes:7 | \myEndLineVoltaNotLast
		}
		{
			c1:m7.5- | c1:m | \myEndLineVoltaLast
		}
	}
	\endPart

	\endSong
	\endChords
}

