





\lyricmode {

	% part "A"
	Long as there's love in your heart to share, dear Blues -- ette, don't des -- pair
	Some blue boy is long -- ing, just like you to find a some -- one to be true to.
	Two lov -- ing arms he can nest -- le in and stay. __
}
