




\lyricmode {

	% part "A"
	Poor lit -- tle, sad lit -- tle blue Blues -- ette,
	don't you cry, don't you fret.
	You can bet one luck -- y day you'll wak -- en and your blues will be for -- sak -- en.
	One luck -- y day love -- ly love will come your way. __

	% part "A"
	Get set, Blues -- ette, true love is com -- ing.
	Your trou -- bled heart soon will be hum -- ming.
	\markup \italic Hum __ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
	Doo -- ya, doo -- ya, doo -- ya, doo -- ya, doo -- ya, doo -- ya,
	Doo -- oo -- _ _ oo Blues -- ette. __

	% part "A"
	Pret -- ty lit -- tle Blues -- ette must -- n't be a mourn -- er.
	Have you heard the news yet?
	Love is 'round the cor -- ner.
	Love wrapped in rain -- bows and tied with pink rib -- bon
	to make your next spring -- time your gold wed -- ding ring time.
	So, dry your eyes. Don't -- cha pout, don't -- cha fret,
	good -- y good times are com -- ing, Blues -- ette. __

	% part "A"
	Long as there's love in your heart to share, dear Blues -- ette, don't des -- pair.
	Some blue boy is long -- ing, just like you,
	to find a some -- one to be true to.
	One luck -- y day love -- ly love will come your way. __
	That mag -- ic day __
	may just be to -- day. __
}

