






\lyricmode {

	% part "A"
	The thought of how we met __
	Still lin -- gers on __
	How can I for -- get __
	That mag -- ic dawn __

	All the warm de -- sire __
	The fi -- re in your touch __
	The_blue -- ness of the_true -- ness of our love __
}
