


\chordmode {
	\startChords
	\startSong

	\partial 4 s4 |

	\repeat volta 3 {

		\myMark "A"
		\startPart
		c1*2:m7 | f:m7 | \myEndLine
		d1:m7.5- | g:7 | c1*2:m7 | \myEndLine
		ees1:m7 | aes:7 | des1*2:maj | \myEndLine
		d1:m7.5- | g:7 |
	} \alternative {
		{
			c1:m7 | d2:m7.5- g:7 | \myEndLineVoltaNotLast
		}
		{
			c1:m7 | c:m7 | \myEndLineVoltaLast
		}
	}
	\endPart

	\endSong
	\endChords
}




