




% this version of the lyrics is from the internet adjusted for the real book.
\lyricmode {

	% part "A"
	We'll have a blue room,
	A new room,
	For two room,
	Where ev' -- ry day's a ho -- li -- day
	Be -- cause you're mar -- ried to me.

	_ _ _ _ _ _ _

	% part "B"
	We will thrive on,
	Keep a -- live on,
	Just not -- hing but kis -- ses,
	With Mis -- ter and Mis -- sus
	On lit -- tle blue chairs.

	% part "A"
	You sew your trous -- seau,
	And Ro -- bin -- son Cru -- soe
	Is not so far from world -- ly cares
	As our blue room far a -- way up -- stairs.
}

