



{
	\tempo "Andante" 4 = 80
	\time 4/4
	\key des \major

	% part "A"
	\repeat volta 2 {
		r8. ees16 f8. ees16 f4 ees | bes' bes2. | r8. aes16 bes8. aes16 bes4 aes | ees'4 des c bes |
		r4 des bes8 ges4 bes,8 | f'2 ees | r8. des16 ees8. f16 aes4 \tuplet 3/2 { aes8 bes fes^\markup {To Coda \musicglyph #"scripts.coda"} } |
	} \alternative {
		{
			des1 |
		}
		{
			des2. r4 |
		}
	}

	% part "B"
	\key d \major
	r8. d16 e8. fis16 a8 a4 a8 | d d4 fis,8 a a4 g8 | fis fis4 d8 e4 cis8 a~ | a2~ a8 r r4 |
	\key c \major
	r8. d16 e8. f16 a8 a4 g8 | e' e4 b8 d d4 a8 | c c4 a8 b b4 g8 | e4 ees d bes'^\markup {D.C. al Coda} |

	% part "Coda"
	\key des \major
	des,1 |
}







