







\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	\repeat volta 2 {
		ees2:m7 bes:7.9- | ees:m7 d:7 | des:maj7 ges:7 | f:m7 e:dim7 | \myEndLine
		ees1:m7 | c2:m7.5- f:7 | bes4:m7 ees:7 ees:m7 aes:7 |
	} \alternative {
		{
			des2:6 bes:7 | \myEndLineVoltaNotLast
		}
		{
			des a:7 | \myEndLineVoltaLast
		}
	}
	\endPart

	\myMark "B"
	\startPart
	d2:maj7 e:m7 | d/fis g4:m7 c:7 | fis:m7 b:m7 e:m7 a:7 | d1:maj7 | \myEndLine
	d2:m7 g:7 | c:maj7 ees:dim7 | d:m7 g:7 | c4:7 b:7 bes2:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	ees2:m7 bes:7.9- | ees:m7 d:7 | des:maj7 ges:7 | f:m7 e:dim7 | \myEndLine
	ees1:m7 | c2:m7.5- f:7 | bes4:m7 ees:7 ees:m7 aes:7 | des2:6_\markup { \italic { Fine } } \OPC bes:7 | \myEndLine
	\endPart

	\endSong
	\endChords
}



