








{
	\tempo "Andante" 4 = 80
	\time 4/4
	\key des \major

	% part "A"
	\repeat volta 2 {
		r8 ees f ees f4. ees8 | bes'4 bes2. | r8 aes bes aes bes4. aes8 | ees'4 des c bes |
		r4 des \tuplet 3/2 { bes ges bes, } | f'2 ees | r8 des ees f aes4 \tuplet 3/2 { aes8 bes e, } |
	} \alternative {
		{
			des1 |
		}
		{
			des1 |
		}
	}

	% part "B"
	\key d \major
	r8 d e fis a a4 a8 | d d4 fis,8 a a4 g8 | fis fis4 d8 e4 cis | a2. r4 |
	\key c \major
	r8 d e f a a4 g8 | e' e4 b8 d d4 a8 | c c4 a8 b4 g | e dis d bes' |

	% part "A"
	\key des \major
	r8 ees, f ees f4. ees8 | bes'4 bes2. | r8 aes bes aes bes4. aes8 | ees'4 des c bes |
	r4 des \tuplet 3/2 { bes ges bes, } | f'2 ees | r8 des ees f aes4 \tuplet 3/2 { aes8 bes e, } | des1 |
}


