






\lyricmode {

	% part "A"
	my life a wreck you're mak -- ing,
	you know I'm yours for just the tak -- ing;
	I'd glad -- ly sur -- ren -- der
	my -- self to you, Bod -- y And

	% part "B"
	_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
	_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

	% part "Coda"
	Soul!
}




