




\lyricmode {

	% part "A"
	My heart is sad and lone -- ly,
	for you I sigh, for you, dear, on -- ly.
	Why have -- n't you seen it?
	I'm all for you, Bod -- y And Soul! _

	% part "B"
	I can't be -- lieve it,
	it's hard to con -- ceive it
	that you'd turn a -- way ro -- mance. __
	Are you pre -- tend -- ing,
	it looks like the end -- ing
	un -- less I could have one more chance to prove, dear,
}






