




\lyricmode {

	% part "A"
	They're wri -- ting songs of love, __
	But not for me
	A luc -- ky stars a -- bove, __
	But not for me!

	% part "B"
	With love to lead the way,
	I've found more clouds of gray
	Than a -- ny Rus -- sian play
	Could gua -- ran -- tee

	I was a

	% part "C"
	can't dis -- miss
	the me -- mory of his kiss,
	I guess he's not for me __
}

