




\lyricmode {

	% part "A"
	Love is fun -- ny or it's sad or it's qui -- et or it's mad;
	it's a good thing or it's bad, But Beau -- ti -- ful! __

	% part "B"
	Beau -- ti -- ful to take a chance and if you fall, you fall,
	and I'm think -- ing I would -- n't mind at all. __

	% part "A"
	Love is tear -- ful or it's gay; it's a prob -- lem or it's play;
	it's a heart -- ache eith -- er way, But Beau -- ti -- ful! __

	% part "C"
	And I'm think -- ing if you were mine I'd nev -- er let you go,
	and that would be But Beau -- ti -- ful I

	% part "Volta"
	know. __ Love is
	know. __
}
