



{
	\tempo "Allegro" 4 = 130
	\time 2/2
	\key g \major

	\partial 4 cis8 d |

	\repeat volta 2 {

		% part "A"
		a'4 a2 g8 fis | f!2. dis8 e | b'4 b2 a8 aes | g2. fis8 g |
		d'4 d2 b8 bes | a2. gis4 | b8 b b2.~ | b1 |

		% part "B"
		b8 b b2 a4 | d b a4. g8 | c4 a g fis | b2. d,8 dis |
		e4 e2 g4 | b g fis e | a1~ | a2. cis,8 d |

		% part "A"
		a'4 a2 g8 fis | f!2. dis8 e | b'4 b2 a8 aes | g2. fis8 g |
		d'4 d2 b8 bes | a2. gis4 | b8 b b2.~ | b e,8 eis |

		% part "C"
		fis4 fis2 a4 | d b a4. g8 | e'4 c b a | g2. g4 |
		d'8 d d2 g,4 | c8 c c2 fis,4 |

	} \alternative {
		{
			g1~ | g2. cis,8 d |
		}
		{
			g1~ | g2. r4 |
		}
	}
}

