




\lyricmode {

	% part "A"
	Pack up all my care and woe,
	here I go, Sing -- ing low,
	Bye Bye Black -- bird, __

	% part "B"
	Where some -- bod -- y waits for me,
	sug -- ar's sweet, so is she,
	Bye Bye Black -- bird. __

	% part "C"
	No one here can love or un -- der -- stand me,
	oh, what hard luck sto -- ries they all hand me.

	% part "D"
	Make my bed and light the light,
	I'll ar -- rive late to -- night,
	black -- bird __ bye bye.
	bye. __
}
