




\lyricmode {
	Fish got to swim __ and birds got to fly __ I got to love __ one man 'til I die, __ Can't Help
	Lov -- in' Dat Man of mine. Tell me he's la -- zy tell me he's slow, __
	tell me I'm cra -- zy may -- be I know, __ Can't Help Lov -- in' Dat Man of mine.

	When he goes a -- way __ dat's a rain -- y day, __ and when he comes back dat day is fine, __ the sun will shine.
	He can come home as late as can be, __ home with -- out him __ ain't no home to me, __ Can't Help Lov -- in' Dat Man of mine. __
}
