

	DONE:
	- put in the chords.
	- put in the lyrics from the internet.
	- put in the melody.
	- checked the melody.
	- put in youtube performances.
	- put in lyrics url.
	- put in the lyrics from ella.
	- checked the lyrics of ella.
	- checked the lyrics from the internet.
	- checked the chords.
	- added the location in the real book
	TODO:
	- do the style marking which are now in remark. If you enable them they will not
	be seen since there is little room for them without stepping over the "A", "B"
	rehersal markings.
	- put the alternate chords from the (how do I do that?!?)






