






% these lyrics are from the Ella Firtgerald performance and adjusted for this tune...
\lyricmode {

	% part "A"
	Night __ and stars that shine ab -- ove so bright __
	The ma -- gic of their fa -- ding light __
	That shines u -- pon our Ca -- ra -- van __

	% part "B"
	You are so exciting, __ _ _ _
	This is so inviting __ _ _ _ _
	Res -- ting in my_arms __
	As I thrill to the magic charms __ _ _

	% part "A"
	Of_you be -- side me here, be -- neath the blue __
	My dream of love is com -- ing true __
	With -- in our de -- sert Ca -- ra -- van __
}

