

	DONE:
	- brought in fake book epdf for this tune.
	- filled in meta data from the fake book.
	- filled in chords from the fake book.
	- filled in lyrics from the fake book.
	- filled in tune from the fake book.
	- checked chords from the fake book.
	- checked tune from the fake book.
	- checked lyrics from the fake book.
	- heard that the tune sounds well.
	- added youtube performances.
	- added lyrics url.
	TODO:
	- there is a boy/girl part in the lyrics of which I retrained just the 'boy' part. Do them both.
	- get another version of this tune.



