


\chordmode {
	\startChords
	\startSong

	\repeat volta 2 {

		\myMark "A"
		\startPart
		bes1:maj7 | c2:m7 f:7 | bes1:maj7 | g4:m7 ges:m7 f:m7 bes:7 | \myEndLine
		ees1:maj7 | f2:m7 bes:7 | ees1:maj7 | g2:m7 c:7 | \myEndLine
		\endPart
	} \alternative {
		{

			\myMark "B"
			\startPart
			f1:maj7 | a:7.9- | d2:m7 g:7 | a:m7.5- d:7.9- | \myEndLine
			g:m g:m7 | c1:7 | f:7 | c2:9 c4:m7 f:7 | \myEndLineVoltaLast
			\endPart
		}
		{

			\myMark "C"
			\startPart
			bes1:maj7 | d:7 | ees2:maj7 c4:7 g:7 | ees2:m7 aes:7 | \myEndLine
			bes1:maj7 | c2:9 c4:m7 f:7 | bes1:6 | \LPC c2:m7 \RPC f:7 | \myEndLineVoltaLast
			\endPart
		}
	}

	\endSong
	\endChords
}

