



{
	\tempo "Allegro" 4 = 168
	\time 4/4
	\key bes \major

	\repeat volta 2 {

		% part "A"
		r4 d f d | g1 | r4 d f d | g4 ges8 f~ f2 |
		r4 g! bes g | c1 | r4 g bes g | c4 ces8 bes~ bes2 |
	} \alternative {
		{

			% part "B"
			r4 a c!4. a8 | g fis g bes~ bes4. g8 | f! e! f a~ a f e4 | ees!2. r4 |
			r d8 d~ d cis d4 | a'2 g | r4 f8 f~ f e! f4 | d'2 c |
		}
		{

			% part "C"
			r4 bes d4. bes8 | a gis a c~ c4. a8 | g! fis g bes~ bes f! g4 | ees1 |
			r4 f g d' | d2 c8 bes c4 | bes1_\markup { \italic { Fine } } | r |
		}
	}
}
