




\lyricmode {

	% part "A"
	Now __ you say you're lone -- ly, __ you cry the long night thru; __ well, you can Cry __ Me A Riv --er,
	Cry __ Me A Riv -- er, I cried a riv -- er o -- ver you. __

	% part "A"
	Now __ you say you're sor -- ry __ for be -- in' so un -- true; __ well, you can Cry __ Me A Riv -- er,
	Cry __ My A Riv -- er, I cried a riv -- er o -- ver you.

	% part "B"
	You drove me, __ near -- ly drove me, out of my head, __
	while you __ nev -- er shed a tear. __ Re -- mem -- ber? __ I re -- mem -- ber, all that you said; __
	told me love was too ple -- be -- ian, told me you were thru with me, an'

	% part "A"
	Now __ you say you love me, __ well, just to prove you do, __ Come on, an' Cry Me A Riv -- er,
	Cry Me A Riv -- er, I cried a riv -- er o -- ver you. __ you. __
}
