


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	\repeat volta 2 {
		f1:maj7 | f:7.5+ | bes2:maj7 b:dim | a:m7 aes:dim | \myEndLine
		g:m7 c:7 | a:m7.5- d:7.9- | g:m7 c:7 | f1:6 | \myEndLine
	}
	\endPart

	\myMark "B"
	\startPart
	g:m7 | c:7 | f:maj7 | a2:m7.5- d:7 | \myEndLine
	g1:m7 | c:7 | a2:m7.5- d:7 | g:m7 c:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	f1:maj7 | f:7.5+ | bes2:maj7 b:dim | a:m7 aes:dim | \myEndLine
	g1:m7 | c:7 | f | \mark \markup { \italic { Fine } } \LPC g2:m7 \RPC c:7 | \myEndLine
	\endPart

	\endSong
	\endChords
}



