




% this version of the lyrics is from the fake book but adjusted for the real book (the real book has no lyrics)...
\lyricmode {

	% part "A"
	He dan -- ces o -- ver -- head
	on the ceil -- ing near my bed
	in my sight
	through the night

	% part "B"
	I whis -- per "\"go" a -- way my lo -- ver it's not "fair\"" __
	but I'm so grate -- ful to dis -- co -- ver he's till there __

	% part "A"
	lo -- ve my ceil -- ing more
	since it is a dan -- cing floor
	just for __ my love __
}

