




\lyricmode {

	% part "A"
	Darn That Dream I dream each night,
	You say you love me and you hold me tight,
	but when I a -- wake you're out of sight.
	Oh, Darn That Dream.

	% part "A"
	Darn your lips and darn your eyes,
	they lift me high a -- bove the moon -- lit skies,
	then I tum -- ble out of Par -- a -- dise.
	Oh, Darn That Dream.

	% part "B"
	Darn that one- -- track mind of mine, __
	it can't un -- der -- stand __ that you don't care. __
	Just to change the mood I'm in, __
	I'd wel -- come a nice __ old night -- mare.

	% part "A"
	Darn That Dream and bless it too,
	with -- out that dream I nev -- er would have you.
	But it haunts me and it won't come true,
	Oh, Darn That Dream.
}
