



{
	\tempo "Adagio" 4 = 72
	\time 4/4
	\key g \major

	% part "A"
	d4 g ees4. ees8 | e4 a f4. fis8 | g4 b gis8 a b c | d4 e b2 |
	b4 d c8 b a g | fis4 a e ees | d2 fis | d r |

	% part "A"
	d4 g ees4. ees8 | e4 a f4. fis8 | g4 b gis8 a b c | d4 e b2 |
	b4 d c8 b a g | fis4 a e ees | d2 b' | g2. r4 |

	% part "B"
	r8 g4 g8 f4 ees | c' c8 bes~ bes4. c8 | d ees d des~ des4 ces | bes aes8 f~ f2 |
	r8 g4 g8 f4 ees | g a8 bes~ bes4. c8 | d d d d~ d4 d, | bes'2 b |

	% part "A"
	d,4 g ees4. ees8 | e4 a f4. fis8 | g4 b gis8 a b c | d4 e b2 |
	b4 d c8 b a g | fis4 a e ees | d2 b' | g2. r4 |
}

