

	DONE:
	- brought in the real book epdf.
	- brought in the fake book epdf.
	- put in the tunes meta data from the fake book.
	- put in the tunes chords from the fake book.
	- put in the tunes tune from the fake book.
	- put in the tunes lyrics from the fake book.
	- filled in the tunes structure
	- checked the fake book chords.
	- checked the fake book tune.
	- checked the fake book lyrics.
	- heard the tune to make sure it sounds ok.
	- documented the you tube performances.
	- added a lyrics url.
	TODO:
	- add the real book version of this tune.
	- in the fake book version the rythm for this tune is cut time instead of regular 4/4.
	make it so. (how do I do that in lilypond?)
	REMARKS:
	- the tune structure is marked as AABA but all the A's in there are not exactly the same.
	still AABA is a good description of this tune (better than ABCD which would be a description
	that a pedantic would give).



