

	DONE:
	- brought in the real book pdf.
	- filled in the meta data from the real book
	- added my own remarks about the tunes structure.
	- filled in the real book chords.
	- filled in the real book tune.
	- checked the real book chords.
	- checked the real book tune.
	- heard the real book tune to make sure it sounds right.
	- documented the youtube performance.
	- upgraded the tune to level 5.
	TODO:
	- fill in the copyright from somewhere.
	- get another version from somewhere (aebersold?!? he's got a solo too, I think...).
	- fill in the rest of the fingerings from Ofer Portugali (in my own private real "real book")
	REMARK:
	- the fingering in the notes are from Ofer Portugali.


