



{
	\tempo "Adagio" 4 = 72
	\time 4/4
	\key f \major

	% part "A"
	d4 f2 a8 d, | e1 | d4 f2 e8 f | e1 |
	c'4 bes2. | bes4 a2 a8 d, | e1~ | e4 r r2 |

	% part "A"
	d4 f2 a8 d, | e1 | d4 f2 e8 f | e1 |
	c'4 bes2. | bes4 a2 a8 d, | f1~ | f |

	% part "B"
	a8 a c a bes bes4. | g8 g bes g a2 | f8 f a f g g4. | e8 f g g g f e4 |
	a8 a c a bes bes4. | g8 g bes g a2 | f8 f a f g g4. | e8 f g f e2 |

	% part "A"
	d4 f2 a8 d, | e1 | d4 f2 e8 f | e1 |
	c'4 bes2. | bes4 a2 a8 d, | f1~ | f |
}

