




\lyricmode {

	% part "A"
	Hush now, Don't Ex -- plain!
	Just say youl'll re -- main,
	I'm glad you're back,
	Don't Ex -- plain! __

	% part "A"
	Qui -- et, Don't Ex -- plain!
	What is there to gain?
	Skip that lip -- stick,
	Don't Ex -- plain! __

	% part "B"
	You know that I love you
	and what love en -- dures.
	All my thoughts are of you
	for I'm so com -- plete -- ly yours.
	Cry to hear folks chat -- ter,
	and I know you cheat.
	Right or wrong don't mat -- ter
	when you're with me, sweet.

	% part "A"
	Hush now, Don't Ex -- plain!
	You're my joy and pain.
	My life's yours love,
	Don't Ex -- plain! __
}
