


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	\repeat volta 2 {
		c2:6 f4:m7 bes:7 | e2:m7 a:7 | d:m7 g:7 | c:maj7 a:m7 | \myEndLine
		d:m7 g:7 | e:m7.5- a:7 |
	} \alternative {
		{
			d:m7 g:7 | c:6 d4:m7 g:7 | \myEndLineVoltaNotLast
		}
		{
			d2:m7 g:7 | c:6 g4:m7 c:7 | \myEndLineVoltaLast
		}
	}
	\endPart

	\myMark "B"
	\startPart
	f1 | e:7 | a1*2:m7 | \myEndLine
	d:7 | d2:m7 aes:7 | g1:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	c2 e:m7.5- | a1:7 | d2:m7 g:7 | c:maj7 a:m7 | \myEndLine
	d:m7 g:7 | e:m7.5- a:7 | d:m7 g:7 | c1:6 | \myEndLine
	\endPart

	\endSong
	\endChords
}



