




% these are lyrics from the internet adjusted for the real book
\lyricmode {

	% part "A"
	Don't Blame Me
	For fal -- ling in love with you.
	I'm un -- der your spell
	But how can I help it?
	Don't Blame Me.
	_ _ _

	% part "B"
	I can't help it
	If that dog -- gone moon a -- bove __
	Makes me want __
	Some -- one like you to love.

	% part "A"
	Blame your kiss
	As sweet as a kiss can be,
	And blame all your charms
	That melt in my arms,
	But Don't Blame Me.
}

