

	DONE:
	- filled in the tune structure.
	- filled in the tune meta data from the fake book.
	- put in the fake book chords.
	- put in the fake book lyrics.
	- put in the fake book tune.
	- added the fake book epdf.
	- checked the fake book chords.
	- checked the fake book tune.
	- checked the fake book lyrics.
	- checked that the tune sounds good.
	- add you tube performances.
	- add lyrics url.
	- added the jazz ltd epdf.
	TODO:
	- do the jazz ltd version (the epdf is there).
	REMARKS:
	- in the fake book lyrics there are dual parts for girl and boy and I only put the girl
	version cause I don't know how to write dual parts.



