

	DONE:
	- brought in the real book pdf.
	- filled in the tunes meta data from the fake book.
	- added the fake book epdf.
	- wrote down the fake book chords.
	- wrote down the fake book tune.
	- bring in the fake book pdf.
	- check the fake book chords.
	- check the fake book tune.
	- heard the tune to make sure it sounds right.
	- document the youtube performance.
	- added the tunes structure.
	- marked the part markings in the fake book version.
	TODO:
	- add the real book chords and tune.
	- how about adding the Aebersold version too?


