



{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key bes \major

	\partial 8 f8 |

	% part "A"
	\repeat volta 2 {
		bes8 d bes f bes4 r8 f | bes8 f bes des r g,4 f8 |
	} \alternative {
		{
			e8 g bes des \tuplet 3/2 { c8 des c } g8 bes | r2 r4 r8 f |
		}
		{
			e8 g bes des \tuplet 3/2 { c8 des c } g8 a | r1 |
		}
	}

	% part "B"
	g'4 r8 f~ f r des4~ | des4. g,8 r c4 g8 | des'4 des8 des g,4 c | r2 r4 r8 f, |

	% part "A"
	bes d bes f bes4 r8 f | bes f bes des r g,4 f8 | e g bes des \tuplet 3/2 { c8 des c } g8 bes | r1 |
}
