


\chordmode {
	\startChords
	\startSong

	\partial 8 s8 |

	\myMark "A"
	\startPart
	\repeat volta 2 {
		bes2:7 aes:7 | aes:7 g:7 |
	} \alternative {
		{
			c:7 f:7 | bes1:7 | \myEndLineVoltaNotLast
		}
		{
			c:7 | f:7 | \myEndLineVoltaLast
		}
	}
	\endPart

	\myMark "B"
	\startPart
	bes1*2:7 | ees1:7 | e:dim7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	bes2 aes:7 | aes:7 g:7 | c:7 f:7 | bes1 | \myEndLine
	\endPart

	\endSong
	\endChords
}

