

	DONE:
	- added the real book location.
	- added the fake book location.
	- added the meta data from the fake book.
	- wrote down the tunes structure.
	- added lyrics url.
	- added the real book chords.
	- added the real book tune.
	- added the real book lyrics.
	- print "Fine" at the end in the real book version.
	- check the real book chords.
	- check the real book tune.
	- check the real book lyrics.
	- heard the real book version to make sure it sounds ok and is in good pace.
	- added you tube performances.
	TODO:
	- add the fake book version.




