




\lyricmode {

	% part "A"
	Li -- ving for you is ea -- sy li -- ving
	It's ea -- sy to live when you're in love
	And I'm so in love
	There is nothing in life but you __
	_ _ _ _ _ _

	% part "B"
	For you may -- be I'm_a fool
	But it's fun
	Peo -- ple say you rule me with one wave of your hand
	Dar -- ling, it's grand
	They just don't un -- der -- stand

	% part "A"
	Li -- ving for you is ea -- sy li -- ving
	It's ea -- sy to live when you're in love
	And I'm so in love
	There is nothing in life but you __
}

