


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	cis2:7 d:7 | cis:7 d:7 | cis:7 d:7 | cis:7 d:7 | \myEndLine
	dis:7 e:7 | dis:7 e:7 | dis:7 e:7 | dis:7 e:7 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	dis:7 e:7 | dis:7 e:7 | dis:7 e:7 | dis:7 e:7 | \myEndLine
	cis:7 d:7 | cis:7 d:7 | cis:7 d:7 | cis:7 d:7 | \myEndLine
	\endPart

	\myMark "C"
	\startPart
	fis1*4:m | \myEndLine
	b1*2:7 | des1:7 | d:7 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	dis2:7 e:7 | dis:7 e:7 | dis:7 e:7 | dis:7 e:7 | \myEndLine
	cis:7 d:7 | cis:7 d:7 | cis:7 d:7 | \mark \markup { \musicglyph #"scripts.coda" } cis:7 d:7 | \myEndLine
	\endPart

	%\myMark "Coda"
	\mark \markup { \musicglyph #"scripts.coda" }
	\startPart
	cis:7 d:7 | ges1:7.11+ | \myEndLine
	\endPart

	\endSong
	\endChords
}

