

	DONE:
	- brought in the real book epdf.
	- filled in meta data from the real book.
	- filled in the tunes structure.
	- put in the real book chords.
	- put in the real book tune.
	- checked the real book chords.
	- checked the real book tune.
	- played the real book version to hear that it sounds well.
	- put in you tube performances.
	TODO:
	- how do I do the reapeat marks for chords?
		https://lists.gnu.org/archive/html/lilypond-user/2009-03/msg00605.html
	- bring another version of this tune.


