

	DONE:
	- brought in the fake book epdf.
	- filled in the meta data from the fake book.
	- put in the tunes structure.
	- put in the fake book chords.
	- put in the fake book lyrics.
	- put in the fake book tune.
	- checked the fake book chords.
	- checked the fake book tune.
	- checked the fake book lyrics.
	- played the fake book version to hear that it sounds well.
	- put in you tube performances with documentation.
	- put in a lyrics url.
	TODO:
	- add another version of this tune (from where?)
	REMARKS:




