





\lyricmode {

	% part "A"
	Fla -- min -- go, __
	in your trop -- i -- cal hue,
	speak of pas -- sion un -- dy -- ing
	and a love that is _ _ true. __

	% part "B"
	The wind sings a song to you as you go,
	a song __ that I hear be -- low the mur -- mur -- ing palms. __

	% part "A"
	Fla -- min -- go, __
	when the sun meets the sea,
	say fare -- well to my lov -- er
	and has -- ten to me. __
}
