



{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key c \major

	\repeat volta 2 {

		% part "A"
		c'4 b a8 g4. | f g8 a4 c | b a g8 f4. | e1 |
		a4 g f8 e4. | d4. e8 f4 a | gis f e8 d4. | c2. cis4 |
		d8 a'4 a8~ a2~ | a4 c2 b4 | g1~ | g2. b,4 |
		c8 f4 f8~ f2~ | f4 a2 g4 | f2 e2~ | e1 |

		% part "B"
		c'4 b a8 g4. | f g8 a4 c | b a g8 f4. | e1 |
		a4 g f8 e4. | d4 e4 f a | gis f e8 d4. | c2. cis4 |
		d8 a'4 a8~ a2~ | a4 c2 b4 |
	} \alternative {
		{
			g1~ | g2. gis4 |
			a8 c,4 c8~ c2~ | c4 c2 d4 | c1 | r |
		}
		{
			e'1~ | e2. c4 |
			d8 a4 a8~ a2~ | a4 b2 d4 | c1~ | c2. r4 |
		}
	}
}

