




\lyricmode {

	% part "A"
	Fly Me To The Moon, and let me play a -- mong the stars;
	let me see what spring is like on Ju -- pi -- ter and Mars.
	In oth -- er words, __ hold my hand! __
	In oth -- er words, __ dar -- ling kiss me! __

	% part "B"
	Fill my heart with song, and let me sing for -- ev -- er -- more;
	you are all I long for all I wor -- ship and a -- dore.
	In oth -- er words, __ please be true! __
	In oth -- er words, __ I love you!

	% part "Volta"
	true! __ In oth -- er words, __ I love you! __
}
