

	DONE:
	- added the real book pdf.
	- added the real book chords.
	- added the real book notes.
	- added the tunes structure.
	- added the real book lyrics and adjusted them to the tune.
	- brought in the hal leonard epdf.
	- added meta data (copyright)
	- checked the speed of the tune.
	- checked the real book chords.
	- checked the real book tune.
	- added youtube performances.
	- added the new real book epdf.
	- added the tunes structure, in the meta data and in the tune itself.
	TODO:
	- do the hal leonard epdf.
	REMARKS:
	- there is a note which has no corresponding lyric in the real book version (last line).




