



{
	\tempo "Prestissimo" 4 = 240
	\time 4/4
	\key c \major

	% part "A"
	fis'2 d | b g4. bes8~ | bes1 | b4. a8~ a2 |
	d bes | g dis4. fis8~ | fis1 | g2 f4. bes8~ |
	bes1 | b2 a4. d8~ | d1 | dis2 cis4. fis8~ |
	fis2 fis | g f4. bes8~ | bes1 | fis4. fis8~ fis2 |
}


