

	DONE:
	- added the chords.
	- added the notes.
	- added youtube performances.
	- added the tunes structure.
	- checked the speed of the tune.
	- added epdfs for real book and new real book.
	- filled in the copyright
	TODO:
	- do the rythm markings on the second bar of the real book version.
	- enter the new real book version.


