

	DONE:
	- added the tune structure.
	- added meta data about the tune from the fake book.
	- added the fake book chords.
	- added the fake book notes.
	- added the fake book lyrics.
	- checked the fake book chords.
	- checked the fake book notes.
	- checked the fake book lyrics.
	- heard that the tune sounds right.
	- added youtube urls.
	- added lyrics url.
	TODO:
	- add another version of this tune.




