





\lyricmode {
	_
	I have loved __ _ you oh, so, long __ _ de
	_ _ _ _ _ _ _ _ _
	light -- _ ing in __ _ your com -- pa -- ny.
	Green -- sleeves was my heart of gold, __ _ and
	_ _ _ _ _ _ _ _
	who but my la -- _ dy Green -- sleeves.
}
