




\lyricmode {
	Lo -- ver, __ one love -- ly day __
	A_love came __ plan -- ning to stay __
	Green Dol -- phin Street sup -- plied the setting __
	The_set -- ting for nights be -- yond for -- getting __ And

	When I re -- call the love I found on
	I'm_gonna kiss_the ground I found on Green Dol -- phin Street __
}

