



{
	\tempo "Allegro" 4 = 160
	\time 4/4
	\key c \major

	% part "A"
	\repeat volta 2 {
		c'2 c~ | c \tuplet 3/2 { b4 g e } | bes'1~ | bes |
		a2 a~ | a \tuplet 3/2 { aes4 f des } | g1~ | g |
	} \alternative {
		{

			% part "B"
			r8 g4. d4 e | f g aes bes | g1~ | g |
			r8 bes4. f4 g | aes bes ces des | bes1~ | bes2 b |
		}
		{

			% part "C"
			r8 g4. d4 e | f g gis e' | d4. c8~ c2 | c,4 d dis b' |
			a4. g8~ g2 | r8 g4. g4 g | g1~ | g |
		}
	}
}


