




\lyricmode {
	A -- las, my love, __ _ you do me wrong __ _ to cast me off __ _ dis -- cour -- teous -- ly.
	And
	_ _ _ _ _ _ _ _ _
	Green -- sleeves __ _ was all my joy. __ _ _
	Green -- _ sleeves _ was my de -- light.
}

