



{
	\tempo "Moderato" 4 = 100
	\time 4/4
	\key bes \major

	% part "A"
	\repeat volta 2 {
		f8 g f g~ g2 | g8 a g a~ a2 | a8 bes a bes~ bes a bes4 | d2 c |
		c8 bes a g~ g a bes4 | f4 f2. |
	} \alternative {
		{
			\tuplet 3/2 { f4 c f } cis a'8 g~ | g2. r4 |
		}
		{
			g8 ees g4 a8 bes c bes~ | bes2. r4 |
		}
	}

	% part "B"
	a8 f g a~ a2 | a8 c bes a~ a2 | d8 c bes a~ a f g4 | a1 |
	c8 a bes c~ c2 | bes8 c d c~ c4. a8 | c g a bes~ bes c d4 | c2. r4 |

	% part "A"
	f,8 g f g~ g2 | g8 a g a~ a2 | a8 bes a bes~ bes a bes4 | d2 c |
	c8 bes a g~ g a bes4 | f4 f2. | ees'8 d ees c~ c4 d | bes2. r4\fermata |
}


