




\lyricmode {

	% part "A"
	Is it a sin, __ is it a crime, __ lov -- ing you dar, __ like i do? __ _ If it's a crime __ then I'm
	Guilt -- y, Guilt -- y of lov -- ing you. __ Guit -- y of dream -- ing of you. __
	What can I do, __ what can I say, __ af -- ter I've tak -- en the blame? You say you're thu, __
	you'll go your way __ but I'll al -- ways feel __ just the same. May -- be I'm right, __ may -- by I'm wrong.
	lov -- ing you dear, __ like I do. __ _ If it's a crime __ then I'm Gilt -- y, Guilt -- y of love -- ing you.
}

