

	DONE:
	- brought in the fake book epdf.
	- filled in the song meta data from the fake book.
	- filled in the songs structure.
	- put in the fake book chords.
	- put in the fake book lyrics.
	- put in the fake book tune
	- checked the fake book lyrics.
	- connect the notes of the tune together.
	- checked the fake book chords.
	- checked the fake book tune.
	- heard that it sounds well.
	- added a lyrics url.
	- added youtube performances.
	TODO:
	- add the alternate lyrics (her instead of him and similar stuff from the real book).
	- bring in another version of this tune.



