



{
	\tempo "Allegro" 4 = 160
	\time 4/4
	\key f \major

	% part "A"
	\repeat unfold 2 {
		a'4 d, c d | c2. r4 | d e f g | a bes c2 |
		d4 g, f g | f2. a4 |
	} \alternative {
		{ bes1~ | bes2. r4 |}
		{ c1~ | c4 d d d | }
	}

	% part "B"
	c4 bes f g | aes aes aes aes | aes ges des ees | e! e e e |
	e d fis a | des2 des | bes1~ | bes2. r4 |

	% part "A"
	\repeat volta 2 {
		a4 d, c d | c2. r4 | d e f g | a bes c d |
		e1~ | e4 d a g |
	} \alternative {
		{
			f1 | r |
		}
		{
			f1~ | f2. r4 |
		}
	}
}

