




\lyricmode {

	% part "A"
	"\"Have" You Met Miss "Jones?\"" Some one said as we shook hands.
	She was just Miss Jones to me. __

	% part "A"
	Then I said "\"Miss" Jones, You're a girl who un -- der -- stands,
	I'm a man who must be "free.\"" __

	% part "B"
	And all at once I lost my breath,
	and all at once was scared to death,
	and all at once I owned the earth and sky! __

	% part "A"
	Now I've met Miss Jones, and we'll keep on meet -- ing till we die, __
	Miss Jones and I.

	I. __
}
