



{
	\tempo "Andante Moderato" 4 = 88
	\time 2/2
	\key f \major

	% part "A"
	f4 f f2~ | f8 f e d e f g4 | a a a2~ | a8 a g f g a bes4 |
	c2 f, | r8 d' c bes a4 g | f2~ f8 g a bes | c4 bes8 a g2 |

	% part "A"
	f4 f f2~ | f8 f e d e f g4 | a a a2~ | a8 a g f g a bes4 |
	c2 f, | r8 d' c bes a4 g | f2~ f8 g a bes | c4 f,2. |

	% part "B"
	r8 d' c bes a4. g8 | fis2 g | e f | d e |
	r8 d' c bes a4. g8 | fis2 g | e f | d e4. c8 |

	% part "A"
	f4 f f2~ | f8 f e d e f g4 | a a a2~ | a8 a g f g a bes4 |
	c2 f, | r8 d' c bes a4 g | a1 | r8 bes a g f4 e | f1~ | f2. r4 |
}

