


\chordmode {
	\startSong
	\startChords

	\myMark "A"
	\startPart
	f2 d:m7 | g:m7 c:7 | f d:m7 | g:m7 c:7 | \myEndLine
	f d:m7 | g:m7 c:7 | f1 | g2:m7 c:9 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	f d:m7 | g:m7 c:7 | f d:m7 | g:m7 c:7 | \myEndLine
	f d:m7 | g:m7 c:7 | f1 | f2. f4:7 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	bes2 a:7 | d:7 g:7 | c:7 f:7 | e:7 a:7 | \myEndLine
	bes a:7 | d:7 g:7 | c:9 f:7 | e:7 c:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	f d:m7 | g:m7 c:7 | f d:m7 | g:m7 c:7 | \myEndLine
	f d:m7 | g:m7 c:7 | a:7 d:7 | g:m7 g4:7 c:7 | f1~ | f | \myEndLine
	\endPart

	\endChords
	\endSong
}


