






{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key f \major

	\repeat volta 2 {

		% part "A"
		c2. c4 | c ees aes c | c2. bes8 a! | bes2. r4 |
		c,2. c4 | c e g bes | a1~ | a2. f4 |
	} \alternative {
		{

			% part "B"
			des'2. des4 | des f, fis g | c2. ees,8 e! | f1 |
			bes2. bes4 | bes d, dis e | a1~ | a2. r4 |
		}
		{

			% part "C"
			d2. d4 | d g, a bes | c2. e,8 f | g2. f4 |
			c2. c4 | c e g a | f1~ | f |
		}
	}
}


