





\chordmode {
	\startChords
	\startSong

	\repeat volta 2 {

		\myMark "A"
		\startPart
		f2:m c:7/e | aes:7/ees d:7 | des:maj7 c:m7 | bes:m bes:m7 | \myEndLine
		g1:m7.5- | c:7.9- | f:maj7 | c2:m7 f:7 | \myEndLine
		\endPart
	} \alternative {
		{

			\myMark "B"
			\startPart
			bes1:m7 | ees:7 | aes:maj7 | des:maj7 | \myEndLine
			g:m7.5- | c:7 | f:maj7 | g2:m7.5- c:7.9- | \myEndLine
			\endPart
		}
		{

			\myMark "C"
			\startPart
			bes1:maj7 | g2:m7 c:7 | a1:m7 | aes:dim | \myEndLine
			g:m7 | c:7 | f:maj7 | \LPC g2:m7.5- \RPC c:7.9- | \myEndLine
			\endPart
		}
	}

	\endSong
	\endChords
}



