







\lyricmode {

	% part "A"
	Maybe I should have saved those left -- ov -- er dreams;
	funny, but Here's That Rain -- y Day. __

	% part "B"
	_ Here's That Rain -- y Day they told me a -- bout,
	and_I laughed_at the thought that_it_might turn_out_this way. __

	% part "C"
	Funny how love be -- comes a cold rain -- y day. _
	Funny that rain -- y day is here. __

	% part "Volta"
	here. __
}

