




\lyricmode {

	% part "A"
	Ev -- 're hon -- ey bee fills with jeal -- ous -- y when they see you out with me, I don't blame them, good -- ness knows, __
	Hon -- ey -- sucke -- le Rose. __ When you're pass -in' by, flow -- ers droop and sigh, and I know the rea -- son
	why; You're much sweet -- er good -- ness knows, __ Hon -- ey -- suck -- le Rose. __ Don't buy sug -- ar,
	you just have to touch my cup. __ You're my sug -- ar, it's sweet when you stir it up. __
	When I'm tak -- in' sips from your tas -- ty lips, seems the hon -- ey fair -- ly drips. You're con -- fec -- tion, good -- ness knows, __
	Hon -- ey -- suck -- le rose. __
	Rose. __
}
