





\chordmode {
	\startChords
	\startSong

	\partial 2. s2. |

	\myMark "A"
	\startPart
	g1*2:maj7 | g1:m7 | c:7 | \myEndLine
	f1*2:maj7 | f1:m7 | bes:7 | \myEndLine
	ees:maj7 | a2:m7 d:7 | g1:m7 | a2:m7.5- d:7.9- | \myEndLine
	g1:maj7 | a2:m7 d:7 | b:m7 bes:7 | a:m7 d:7 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	g1*2:maj7 | g1:m7 | c:7 | \myEndLine
	f1*2:maj7 | f1:m7 | bes:7 | \myEndLine
	ees:maj7 | a2:m7 d:7 | g1:maj7 | a2:m7 d:7.9- | \myEndLine
	b:m7 bes:7 | a:m7 d:7 | g1:6 | \LPC a2:m7 \RPC d:7 | \myEndLine
	\endPart

	\endSong
	\endChords
}


