




% this version of the lyrics is from the fake book but adjusted for the real book (the real book has no lyrics)...
\lyricmode {

	% part "A"
	How __ In -- sen -- si -- tive __ I must have seemed __ when she told me that __ she loved me. __
	How __ un -- moved and cold __ I must have seemed __ when she told me so sin -- cere -- __ ly. __
	Why, __ she must have asked, __ did I just turn __ and stare in i -- cy si -- lence? __
	What __ was I to say? __ What can you say __ when a love af -- fair is o -- ver? __
}





