





\lyricmode {

	% part "B"
	Now, __ she's gone a -- way __ and I'm a -- lone __ with the mem -- 'ry of __ her last look. __
	Vague __ dra -- wn and sad, __ I see it still, __ all her heart- break in that last __ look. __
	How, __ she must have asked, __ could I just turn __ and stare in i -- cy si -- lence? __
	What __ was I to do? __ What can one do __ when a love af -- fair is o -- ver? __
}




