









\lyricmode {

	% part "B"
	Now, __ she's gone __ a -- way __ and I'm __ a -- lone __ with the mem -- 'ry of __ her last __ look. __
	Vague __ _ drawn __ and sad, __ I see __ it still, __ all her heart- break in __ that last __ look. __
	How, __ she must __ have asked, __ could I __ just turn __ and stare in i -- __ cy si -- lence? __
	What __ was I __ to do? __ What can __ one do __ when a love __
}
