


\chordmode {
	\startSong
	\startChords

	\myMark "A"
	\startPart
	c1:m7 | d2:m7.5- g:7 | c1:m7 | a2:m7.5- d:7 | \myEndLine
	g1:m7 | a2:m7.5- d:7 | g:m7 c:7 | f:m7 bes:7 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	ees1:maj7 | bes2:m7 ees:7 | aes1:7 | aes:7 | \myEndLine
	c:m7.5- | f:7 | bes:7 | d2:m7.5- g:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	c1:m7 | d2:m7.5- g:7 | c1:m7 | a2:m7.5- d:7 | \myEndLine
	g1:m7 | a2:m7.5- d:7 | g:m7 c:7 | f:m7 bes:7 | \myEndLine
	\endPart

	\myMark "C"
	\startPart
	ees1:7 | g2:m7.5- c:7 | f1:m7 | aes2:m7 des:7 | \myEndLine
	ees1:maj7 | f:7 | f2:m7 bes:7 | ees1:maj7 | \myEndLine
	\endPart

	\endChords
	\endSong
}


