


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	d1*2:m9 | cis:dim7 | \myEndLine
	c:m6 | g:7/b | \myEndLine
	bes:maj7 | ees:maj7 | \myEndLine
	e1:m7.5- | a:7.9- | d:m7 | des:13 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	c1*2:m7 | b:dim7 | \myEndLine
	bes1:maj7 | e2:m7.5- a:7 | d1.:m7 des2:7 | \myEndLine
	c1:m9 | f:7 | b:m7 | e:7.9- | \myEndLine
	bes:maj7 | a:7 | d1*2:m7 | \myEndLine
	\endPart

	\endSong
	\endChords
}







