







{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key d \minor

	\repeat volta 2 {

		% part "A"
		a'1~ | a4 bes8 a~ a bes4 a8~ | a1~ | a4 bes8 a~ a bes4 a8~ |
		a2~ a8 gis4 a8 | c b4 bes8~ bes a4 a8~ | a4. g8~ g2~ | g2~ g4. g8~ |
		g1~ | g4 a8 g~ g a4 g8~ | g1~ | g4 a8 g~ g a4 g8~ |
		g2 r8 fis4 g8 | bes a4 gis8~ gis g4 g8~ | g4. f8~ f2~ | f~ f4. f8~ |

		% part "B"
		f1~ | f4 g8 f~ f g4 f8~ | f1~ | f4 g8 f~ f g4 a8~ |
		a2. f4 | d e8 d~ d e4 f8~ | f2 f~ | f~ f4. f8~ |
		f1~ | f4 g8 f~ f g4 e8~ | e1~ | e4 f8 e~ e f4 e8~ |
		e2 r8 dis e g~ |
	} \alternative {
		{
			g fis4 f8~ f e4 e8~ | e4. d8~ d2~ | d4 r r2 |
		}
		{
			g8\repeatTie fis4 f8~ f e4 e8~ | e4. d8~ d2~ | d2.\fermata r4 |
		}
	}
}


