


\chordmode {
	\startSong
	\startChords

	\myMark "A"
	\startPart
	g1 | g2/b bes:dim7 | a1:m7 | d:7 | \myEndLine
	g | g2 e:m7 | a1:m7 | d:7 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	g:7 | g:7 | c:maj7 | c4:maj7 c:7 b:7 bes:7 | \myEndLine
	a1:7 | a:7 | d:7 | d:7 | \myEndLine
	\endPart

	\myMark "A'"
	\startPart
	g | g2/b bes:dim7 | a1:m7 | d:7 | \myEndLine
	d:m7 | g:7 | c:maj7 | c:maj7 | \myEndLine
	c:maj7 | cis:dim7 | g:maj9/d | e:7 | \myEndLine
	a:m7 | a2:7 d:7 | g4 g/b c c:m | g/d d:7 g2:6 | \myEndLine
	\endPart

	\endChords
	\endSong
}


