



{
	\tempo "Prestissimo" 4 = 240
	\time 2/2
	\key c \major

	\partial 2. c4 e g |

	% part "A"
	c1~ | c2 b | b1~ | b4 b, e g |
	b1~ | b2 a | a1~ | a2 g |
	e1~ | e2 f | g1~ | g2 a |
	d,1~ | d~ | d | r4 d f a |

	% part "B"
	d1~ | d2 cis | cis1~ | cis4 c, f a |
	c1~ | c2 b | b1~ | b2 a |
	f1~ | f2 g | a1~ | a2 a |
	e1~ | e~ | e | r4 e fis gis |

	% part "C"
	b1~ | b4 e, fis gis | a1~ | a2 b |
	gis1 | gis~ | gis~ | gis4 g a b |
	d1~ | d2 g, | a1 | c |
	b1~ | b~ | b4 r c2 | c c |

	% part "D"
	c1~ | c2 b | b1~ | b4 e, g b |
	d1~ | d2 c | c1~ | c4 f, a c |
	e1 | d | f~ | f4 r r2 |
	r1 | b, | c~ | c4 r r2 |
}

