

	DONE:
	- added the epdf from the fake book.
	- added the meta data from the fake book.
	- put in the tunes structure
	- put in the chords (fakebook).
	- put in the lyrics (fakebook).
	- put in the tune (fakebook).
	- check the chords (fakebook).
	- check the tune (fakebook).
	- check the lyrics (fakebook).
	- heard the tune to check that it is right and adjust the tempo.
	- added lyrics url.
	- added youtube performances.
	TODO:
	- in the fake book version fix the boy/girl lyrics which are missing.
	- add another version of this tune.



