




% these are lyrics from the fake book adjusted for the real book
\lyricmode {

	% part "A"
	If they asked me I Could Write A Book, __
	a -- bout the way you walk and whis -- per and look, __
	I could

	% part "B"
	write a pre -- face on how we met,
	so the world would nev -- er for -- get, __

	and the
}

