




\lyricmode {

	% part "A"
	When -- ev -- er skies look grey to me __
	and trou -- ble be -- gins to brew, __
	when -- ev -- er the win -- ter winds be -- come too strong,
	I Con -- cen -- trate On You. __

	% part "A"
	When for -- tune cries "\"nay," "nay!\"" to me __
	and peo -- ple de -- clare "\"You're" "through,\"" __
	when -- ev -- er the blues be -- come my on -- ly song,
	I Con -- cen -- trate On You. __

	% part "B"
	On your smile so sweet, so ten -- der, __
	when at first my kiss you de -- cline. __
	On the light in your eyes,
	when you sur -- ren -- der __ and once a -- gain our arms in -- ter -- twine. __

	% part "A"
	And so when wise -- men say to me __
	that love's young dream nev -- er comes true. __
	To prove that e -- ven wise -- men can be wrong,
	I Con -- cen -- trate On You. __
	_ I con -- cen -- trate, __ and con -- cen -- trate __ on you. __
}
