





\lyricmode {

	% part "A"
	_ _ sim -- ple se -- cret of the plot __
	is just to tell them that I love you a -- lot, __
	then the

	% part "B"
	_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

	% part "C"
	world dis -- cov -- ers as my book ends,
	how to make two lov -- ers of friends.

	% part "Reprise"
	If they
}
