




\lyricmode {

	% part "A"
	I Could Have Danced __ All Night __
	I Could Have Danced __ All Night! __
	and still __ have begged __ for more. __

	% part "B"
	I could have spread __ my wings __
	and done a thou -- sand things __
	I've nev -- er done __ be -- fore. __

	% part "C"
	I'll nev -- er know __ what made it so __
	ex -- cit -- ing, __
	why all at once __ my heart took flight. __

	% part "D"
	I on -- ly know __ when he __
	be -- gan to dance __ with me. __
	I could have danced, danced, danced, __
	all night. __
}
