


\chordmode {
	\startChords
	\startSong

	\partial 2. s2. |

	\myMark "A"
	\startPart
	c1*2 | c:maj7 |
	c:maj7 | c:6 | \myEndLine
	c1*4:maj7 |
	d1*2:m7 | g:7 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	d:m | d1:m7+ | d:m7 |
	d1*2:m7 | g:7 | \myEndLine
	d:m7/g | d1:m7 | g:7 |
	c1*2:maj7 | c:6 | \myEndLine
	\endPart

	\myMark "C"
	\startPart
	e | fis1:m7 | b:7 |
	e1*2:maj7 | e:6 | \myEndLine
	g:maj7 | a1:m7 | d:7.9- |
	g1*2:9 | g2:9 f | c/e d:m7 | \myEndLine
	\endPart

	\myMark "D"
	\startPart
	c1*2 | c:maj7 |
	f1*4:6 | \myEndLine
	d1*2:m7 | d:m7/g |
	d1:m7/g | g:7 | c1*2 | \myEndLine
	\endPart

	\endSong
	\endChords
}


