


\chordmode {
	\startChords
	\startSong

	\repeat volta 2 {

		\myMark "A"
		\startPart
		f1 | f2:/a aes:dim7 | g1:m | g2:m bes:m | \myEndLine
		c1:7 | g2:m9 c:7 | a:7 d:7 | g:7 c:7 | \myEndLine
		\endPart

		\myMark "A"
		\startPart
		f1 | f2:/a aes:dim7 | g1:m | g2:m bes:m | \myEndLine
		c1:7 | g2:m9 c:7 | f2 ees4:6 e:6 | f1:6 | \myEndLine
		\endPart

		\myMark "B"
		\startPart
		c2:m7 f:7 | c:m7 f:7 | bes1*2:maj7 | \myEndLine
		d2:m g:7 | d:m g:7 | d:m g:7 | c:7 c:7.5+ | \myEndLine
		\endPart

		\myMark "A"
		f1 | f2:/a aes:dim7 | g1:m | g2:m bes:m | \myEndLine
		c1:7 | g2:m9 c:7 |
		\startPart
	} \alternative {
		{
			f aes:dim7 | g:m c:7 | \myEndLineVoltaNotLast
		}
		{
			f1*2 | \myEndLineVoltaLast
		}
	}
	\endPart

	\endSong
	\endChords
}


