




\lyricmode {

	% part "A"
	I Don't Want To Set The World On Fire __ _
	I just want to start __
	a flame in your heart __

	% part "A"
	In my heart I have but one de -- sire __ _
	and that one is you __
	no oth -- er will do. __

	% part "B"
	I've lost all am -- bi -- tion for world -- ly ac -- claim
	I just want to be the one you love
	and with your ad -- mis -- sion that you feel the same. __
	I'll have reached the goal I'm dream -- ing of __
	be -- lieve __ me!

	% part "A"
	I Don't Want To Set The World On Fire __ _
	I just want to start __
	a flame in your heart __
}
