




\lyricmode {

	% part "A"
	Oh, I Got Plen -- ty O' Nut -- tin', __ an' nut -- tin's plen -- ty fo' me. I got no car,
	got no mule, I got no mis -- er -- y. __ De

	% part "A"
	folks wid plen -- ty o' plen -- ty __ got a lock __ on de door, _
	faid some -- bod -- y's a go -- in' to rob 'em while dey's out a mak -- in' more. __
	What for? __

	% part "B"
	I got no lock on de door, (dat's no way to be.) __ Day kin steal de rug from de floor, __ dat's o -- keh wid
	me, 'cause de things dat I prize, like de stars in de skies, all are free. __

	% part "A"
	Oh, I Got Plen -- ty O' Nut -- tin; __
	an' nut -- tin's plen -- ty fo' me.
	I got a gal, got my song, got heb ben the whole day long.
	No use com -- plain -- in'! Got my gal, __ got my Lawd, __
	go my song. __
	song. __
}

