




\lyricmode {
	I Left My Heart In San Fran -- cis -- co, __ high on a hill, it calls to
	me. To be where lit -- tle ca -- ble cars __ climb half -- way to the stars! __ to morn -- ing
	fog __ may chill the air I don't care! My love waits there in San Fran -- cis -- co, __
	a -- bove the blue __ and wind -- y sea. When I come home to you San Fran -- cis-- co your gold -- en sun will sine for me. __
}
