




% these are lyrics from the internet adjusted for the real book
\lyricmode {

	% part "A"
	I love you __
	Hums the Ap -- ril breeze. __
	I love you __
	E -- cho the hills. __
	I love you __
	The gol -- den dawn ag -- rees __
	As once more she sees
	Daf -- fo -- dils. __

	% part "B"
	It's spring a -- gain __
	And birds on the wing a -- gain __
	Start to sing a -- gain __
	The old me -- lo -- dy. __
	I love you, __
	That's the song of songs __
	And it all be -- longs
	To you and me.
}
