



{
	\tempo "Adagio" 4 = 76
	\time 4/4
	\key ees \major

	\repeat volta 2 {

		% part "A"
		d8 ees g bes d c bes g | bes a aes bes f2 | d8 ees g bes d c bes g | bes a aes bes f4. g8 |
		bes4 g8 bes b e, ees4 | c' aes8 f d'4. bes8 |
	} \alternative {
		{
			g1~ | g2. r4 |
		}
		{
			ees'1~ | ees |
		}
	}

	% part "B"
	d4 d8 d d4 e8 bes | \tuplet 3/2 { b4 b b } b c8 d | a4 a8 a a4 b8 c | d2. e,4 |
	b'8 a g a bes c d ees | f2 r8 d c bes | ees2 r8 c bes a | bes1 |

	% part "A"
	d,8 ees g bes d c bes g | bes a aes bes f2 | d8 ees g bes d c bes g | bes a aes bes f4. g8 |
	bes4 g8 bes b e, ees4 | c' aes8 f d'4. bes8 | ees1~ | ees2. r4 |
}


