





\lyricmode {

	% part "A"
	_ If you could see me now you'd find me be -- ing brave,
	_ and try -- in aw -- f'lly hard to make my tears be -- have.
	But that's quite im -- pos -- si -- ble.
	I'm still in love with _ you. __
}
