

	DONE:
	- brought in the real book epdf.
	- brought in the wikifonia epdf.
	- added lyrics url.
	- wrote the real book chords.
	- wrote the real book tune.
	- wrote the real book lyrics.
	- checked the real book chords.
	- checked the real book lyrics.
	- checked the real book tune.
	- heard the real book tune to make sure the tempo and tune is right.
	- put in you tube performances.
	TODO:
	- do the wikifonia version.
	- bring in copyright info from somewhere.
	REMARKS:
	- I did lots of fixes to the chords in the real book version:
		- the second volta has really ugly chords. Fixed them up to join nicely with the part "B".
		- the part "B" in the real book lack chords for a whole bar after c:m f7. Put good chords there.
		- the ending does not end with ees:maj7. Fixed it to be so.
		- in the first part "A" the real book says ges:m7 b:7 and should say fis:m7 b:7.




