




\lyricmode {
	I'll Nev -- er Smile A -- gain, un -- til I smile at you. __ I'll nev -- er laugh a -- gain, __ what good would it
	do? __ For tears would fill my eyes my heart would re -- a -- lize that our ro -- mance __ is
	trough, __ I'll nev -- er love a -- gain, I'm so in love with you. __ I'll nev -- er thrill a -- gain __
	to some -- bod -- y new. __ With -- in my heart I know I will nev -- er start to
	smile a -- gain un -- til I smil at you I'll ne -- ver

	you
}
