




\lyricmode {

	% part "A"
	This love -- ly day will leng -- then in -- to ev -- 'ning,
	we'll sign good -- bye to all we've ev -- er had. __
	A -- lone, where we have walked to -- geth -- er, __
	I'll Re -- mem -- ber A -- pril __ and be glad. __

	% part "B"
	I'll be con -- tent __ you loved me once in A -- pril.
	your lips were warm __ and love and Spring were new. __
	But I'm not a -- fraid of Au -- tumn and her sor -- row, __
	for I'll Re -- mem -- ber __ A -- pril and you. __

	% part "Coda"
	won't for -- get, __ but I won't be lone -- ly, __
	I'll Re -- mem -- ber A -- pril, __ and I'll smile. __
}

