

	DONE:
	- Checked chords against the real book.
	- Checked tune against the real book.
	- Fixed up the lyrics.
	- Wrote down my own version.
	TODO:
	- add info about the youtube performances.
	- problem with the words ( the phrase "Don't you know" did not fit in my version, fix the tune).
	- get copyright for this tune (the real book didn't have one).






