

	DONE:
	- brought in the fake book epdf.
	- filled in the meta data from the fake book.
	- put in the tunes strucuture.
	- put in the fake book chords.
	- put in the fake book tune.
	- put in the fake book lyrics.
	- check the fake book chords.
	- check the fake book tune.
	- check the fake book lyrics.
	- check that tune sounds well in midi and tempo wise.
	- put in you tube performances with documentation.
	- put in a lyrics url.
	TODO:
	- get another version of this tune in here.



