




\lyricmode {

	% part "A"
	I'll Be See -- ing You __ in all the old fa -- mil -- iar plac -- es that this heart of mine em -- brac -- es all day thru. __

	% part "B"
	In that samll ca -- fe; __ the park a -- cross the way, __ the chil -- dren's ca -- rou -- sel, __ the
	chet -- nut -- trees, __ the wish -- ing well. __

	% part "A'"
	I'll Be See -- ing You __ in ev -- 'ry love -- ly sum -- mer's day, in ev -- 'ry -- thing that's
	light and gay, I'll al -- ways think of you that way.

	% part "C"
	I'll find you in the morn -- ing sun and when the night is new. I'll be
	look -- ing at the moon, __ but I'll Be See -- ing You!

	% part "Volta"
	You! __
}
