






{
	\tempo "Allegro" 4 = 150
	\time 4/4
	\key f \major

	\partial 8*5 c8 bes'4 c8 a~ |

	% part "A"
	a1 | r4 r8 c, bes'4 a | a4 g8 e8~ e2 | r4 a, g'4 a8 f~ |
	f1 | r4 r8 f a4 f8 ees8~ | ees1 | r2 r4 ees |
	des d c'2 | r4 r8 bes f4 g | a1 | r2 r4 a |
	gis1 | r4 r8 e g4 f | e1 | r4 r8 c bes'4 c8 a~ |

	% part "B"
	a1 | r4 r8 c, bes'4 a | a4 g8 e8~ e2 | r4 a, g'4 a8 f~ |
	f1 | r4 r8 f a4 f8 ees8~ | ees1 | r2 r4 ees |
	des d c'2 | r4 r8 bes f4 g | a1 | r4 r8 a c4 b |
	bes4. d,8 e4 f | g2 a | f1~ | f2 r2 |
}

