



{
	\tempo "Allegro" 4 = 150
	\time 4/4
	\key f \major

	\partial 4*3 c4 bes' c8 a~ |

	% part "A"
	a1~ | a4 c, bes' a | a4 g8 e~ e2~ | e4 a, g' a8 f~ |
	f1~ | f4 f a f8 ees~ | ees1~ | ees2 r4 d |
	cis d c'2~ | c4 bes f g | a4. a8 a a4 a8~ | a4 r \tuplet 3/2 { a a a } |
	a4. gis8 gis2~ | gis4 e dis e | g1~ | g4 c, bes' c8 a~ |

	% part "B"
	a1~ | a4 c, bes' a | a4 g8 e~ e2~ | e4 a, g' a8 f~ |
	f1~ | f4 f a f8 ees~ | ees1~ | ees2 r4 d |
	cis d c'2~ | c4 bes f g | a4. a8 a a4 a8~ | a4 a c bes |
	a4. d,8 e f4 g8~ | g2 a | f1~ | f4 r r2 |
}




