



{
	\tempo "Allegro" 4 = 160
	\time 2/2
	\key ees \major

	\repeat volta 2 {

		% part "A"
		g'2. f4 | f8 ees4 d8~ d4 ees | aes4. g8 g4. f8 | f4. e8 e4 f |
		as4. g8 g4. f8 | f4. e8 e4 f | fis8 g4 c8~ c2~ | c2. r4 |

		% part "B"
		ees2. d4 | d8 c4 b8~ b4 c | ees2. d4 | d8 c4 b8~ b4 c |
		c2. bes4 | bes8 fis4 fis8~ fis4 d' | c8 g4 g8~ g4 c | fis,8 c4 c8~ c2 |

		% part "A'"
		g'2. f4 | f8 ees4 d8~ d4 ees | aes4. g8 g4. f8 | f4. e8 e4 f |
		aes4. g8 g4. f8 | f4. e8 e4 f | bes4. aes8 aes4. g8 | g4. fis8 fis4 g |

		% part "C"
		% on the third bar we can do <g \parenthesize \tweak font-size #-1 g'>2.
		c4. c8 bes4 aes | d4. d8 c4 b | ees ees d c | g2. f8 g |
		aes aes aes aes aes2~ | aes8 aes bes ces bes4 aes |
	} \alternative {
		{
			ees'2. r4 | r1 |
		}
		{
			ees1~ | es2. r4 |
		}
	}
}

