





\chordmode {
	\startChords
	\startSong

	\partial 8*5 s8 s2 |

	\myMark "A"
	\startPart
	f1*2:maj7 | e1:m7.5- | a:7.9- | \myEndLine
	d:m7 | g:7 | c:m7 | f:7 | \myEndLine
	bes:maj7 | ees:7 | f1*2:maj7 | \myEndLine
	b1:m7.5- | e:7 | a2:m7 aes:dim7 | g:m7 ges:7/c | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	f1*2:maj7 | e1:m7.5- | a:7.9- | \myEndLine
	d:m7 | g:7 | c:m7 | f:7 | \myEndLine
	bes:maj7 | ees:7 | a1:m7.5- | d:7.9- | \myEndLine
	g:m7 | c:7 | f2:maj7 d:7 | g:m7 c:7 | \myEndLine
	\endPart

	\endSong
	\endChords
}


