







\lyricmode {

	% part "A"
	I'll Close My Eyes __
	To eve -- ry -- one but you __
	And when I do __
	I'll_see_you stand -- ing there __

	I'll lock my heart
	To any_other ca -- ress
	I'll_never_say yes
	To_a_new love af -- fair

	% part "B"
	Then_I'll Close My Eyes __
	To eve -- ry -- thing that's gay __
	If you_are not there __
	Oh,_to_share_each love -- ly day __

	And through the years
	In_those moments When_we're_far apart
	%Do -- n't you know
	I'll Close My Eyes
	And I'll see you_with my heart __
}
