


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	g1 | g:6 | c1*2:9 | \myEndLine
	f:maj7 | e1:m7 | a:7 | \myEndLine
	a:m7.5- | d2:7 d:7/c | b1:m7 | e:9 | \myEndLine
	a:m7 | d:7.9- | g:maj7 | g:6 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	c:m7 | f:7 | bes:maj7 | g:m7 | \myEndLine
	c:m7 | f:7 | bes:maj7 | bes:6 | \myEndLine
	a:m11 | d:7 | g:maj7 | g:6 | \myEndLine
	fis:m11 | b:9 | e2:maj7 e:6 | a:m7 d:7 | \myEndLine
	\endPart

	%\myMark "Coda"
	\mark \markup { \musicglyph #"scripts.coda" }
	\startPart
	a1:m7.5- | d2:7 d:7/c | b1:m7 | e:9 | \myEndLine
	a:m7 | d:7.9- | g2 a:m7 | aes:maj7 g:6.9 | \myEndLine
	\endPart

	\endSong
	\endChords
}



