



{
	\tempo "Allegro" 4 = 130
	\time 2/2
	\key g \major

	\partial 8 dis8 |

	% part "A"
	\repeat volta 2 {
		e g e4 g a | b8 e,4 e8~ e4. dis8 | e g e4 g a | bes8 ees,4 ees8~ ees4. ees8 |
		e8 g e4 g a | b8 d4 d8~ d4 d8 c | b g e4 g8 a4 g8~ | g2 r4 r8 dis |

		e g e4 g a | b8 e,4 e8~ e4. dis8 | e g e4 g a | bes8 ees,4 ees8~ ees4. ees8 |
		e8 g e4 g a | b8 d4 d8~ d4 d8 c | b g e4 g8 a4 g8~ | g2. r4 |

		r8 b4 fis8 b4 fis | dis8 fis4 b8~ b2 | r8 bes4 f8 bes4 f | d8 f4 bes8~ bes2 | r8 a4 e8 a4 e |
		cis8 e4 a8~ a4 a8 a | bes bes bes4 bes8 g4 a8~ | a2. r8 dis,8 | e g e4 g a |
		b8 e,4 e8~ e4. dis8 |

		e g e4 g a | bes8 ees,4 ees8~ ees4. ees8 | e g e4 g a |
		b8 d4 d8~ d4 d8 c | b8 g e4 g8 a4 g8~ |


	} \alternative {
		{
			g2 r4 r8 dis8 |
		}
		{
			g2.\repeatTie r4 |
		}
	}
}

