




\lyricmode {
	I nev -- er cared much for moon -- lit skies, __ I nev -- er wink back at fi -- re -- flies; __ but
	now that the stars are in your eyes, __ I'm Be -- gin -- ning To See The Light. __ I
	nev -- er went in for af -- ter -- glow, __ or can -- dle -- light on the mis -- tle -- toe; __ but
	now when you turn the lamp down low __ I'm Be -- gin -- ning To See The Light. __
	Used to ram -- ble thu the park, __ shad -- ow -- box -- ing in the dark. __ Then you came and
	caused a spark, __ that's a four -- a -- larm fi -- re now. __ I nev -- er made love by
	lan -- tern shine, __ I nev -- er saw rain -- bows in my wine; __ but now that your lips are
	burn -- ing mine, __ I'm Be -- gin -- ning To See The Light. __ I
	_
}
