




\lyricmode {
	I'm Sit -- ting On Top Of The World, __ just roll -- ing a -- long, __ just roll -- ing a -- long. __

	I'm quit -- ing the blues of the world, __ just sing -- ing a song, __ just sing -- ing a song. __

	"\"Glor" -- y Hal -- el -- lu -- "jah,\"" I just phoned the Par -- son, "\"Hey," Par get read -- y to "call.\"" Just like Hump -- ty Dump -- ty,
	I'm go -- ing to fall, I'm Sit -- ting On Top Of The World, __ just roll -- ing a long, __
	just roll -- ing a long. __ I'm
	long. __
}
