




% this version of the lyrics is from the Hal Leonard book but adjusted for the real book (the real book has no lyrics)...
\lyricmode {

	% part "A"
	Is -- n't It Ro -- man -- tic? Mu -- sic in the night, a dream that can be heard.
	Is -- n't It Ro -- man -- tic? Mov -- ing shad -- ows write the old -- est mag -- ic word.

	% part "B"
	I hear the breez -- es play -- ing in the trees a -- bove.
	While all the world is say -- ing you were meant for love.

	% part "Forward"
	Is -- n't It Ro --

	% part "C"
	Sweet sym -- bols in the moon -- light
	Do you mean that I will fall in love per -- chance? __ Is -- n't it ro -- mance? __
}

