




\lyricmode {

	I'm as

	% part "A"
	rest -- less as a wil -- low in a wind -- storm,
	I'm as jump -- y as a pup -- pet on a string.
	I'd say that I had spring fev -- er,
	but I know it is -- n't spring. I am

	% part "A"
	star -- ry eyed and vague -- ly dis -- con -- tent -- ed,
	like a night -- in -- gale with -- out a song to sing.
	Oh, why should I have spring fev -- er
	when it is -- n't e -- ven spring?

	% part "B"
	I keep wish -- ing I were some -- where else
	walk -- ing down a strange new street;
	hear -- ing words that I have nev -- er heard
	from a man I've yet to meet, I'm as

	% part "A"
	bu -- sy as a spi -- der spinn -- ing day -- dreams
	I'm as gid -- dy as a ba -- by on a swing.
	I have -- n't seen a cro -- cus or a rose -- bud,
	or a rob -- in on the wing.
	But I feel so gay in a mel -- an -- cho -- ly way
	that It Might As Well Be Spring.
	It Might __ _ As Well __ _ Be Spring! __
}
