




\lyricmode {

	% part "A"
	Once I laughed when
	I heard you say -- ing
	that I'd be play -- ing
	sol -- i -- taire, __
	un -- eas -- y in my
	eas -- y chair, __
	It Nev -- er En -- tered My Mind. __

	% part "A"
	Once you told me
	I was mis -- tak -- en
	that I'd a -- wak -- en
	with the sun __
	and or -- der or -- ange juice for one, __
	It Nev -- er En -- tered My Mind. __

	% part "B"
	You have what __
	I lack my -- self, __
	and now I e -- ven have to scratch
	my back my -- self. __

	% part "A"
	Once you warned me
	that if you scorned me
	I'd sing the maid -- en's
	pray'r a -- gain, __
	and with that you were there a -- gain __
	to get in -- to my hair a -- gain __
	It Nev -- er En -- tered My Mind. __
}
