



{
	\tempo "Andante" 4 = 76
	\time 4/4
	\key f \major

	\repeat volta 2 {

		% part "A"
		a'4 a a a | r8. a16[ g8. f16] e4 e | r8. f16[ e8. d16] c4 c | f e8 c~ c2 |
		r8. f16[ e8. d16] c4 c | f e8 c~ c2 | r8. d16[ f8. g16] a8 f a g~ | g2. r4 |

		% part "A"
		a4 a a a | r8. a16[ g8. f16] e4 e | r8. f16[ e8. d16] c4 c | f e8 c~ c2 |
		r8. f16[ e8. d16] c4 c | f e8 c~ c2 | r8. d16[ f8. g16] a8 f a c~ | c2. r4 |

		% part "B"
		d2 f,4 f~ | f2. e4 | g2 f4 f~ | f2 r4 e |
		a8 a4. bes8 bes4. | c8 c4. d8 d4. | e2 c4 c~ | c2. r4 |

		% part "A"
		a4 a a a | r8. a16[ g8. f16] e4 e | r8. f16[ e8. d16] c4 c | f e8 c~ c2 |
		r8. f16[ e8. d16] c4 c | c'4 bes8 a~ a2 | r8. bes16[ a8. g16] f4 e | a e8 e~ e2 |
		r8. d16[ f8. g16] a8 f g f~ |
	} \alternative {
		{
			f2 r |
		}
		{
			f2. r4 |
		}
	}
}

