

	DONE:
	- filled in this tunes meta data from the fake book.
	- filled in this tunes structure.
	- brought in the fake book epdf.
	- added youtube performances.
	- added a lyrics url.
	- filled in the fake book lyrics.
	- filled in the fake book chords.
	- filled in the fake book tune.
	- checked the fake book chords.
	- checked the fake book tune.
	- checked the fake book lyrics.
	- heard that the fake book tune sounds well.
	TODO:
	- bring another version of this tune in here.



