


\chordmode {
	\startChords
	\startSong

	\partial 4 g4:7 |

	\myMark "A"
	\startPart
	c1*2:maj7 | c1:m7 | f:7 | \myEndLine
	g1*2:maj7 | bes1:m7 | ees:7 | \myEndLine
	a:m7 | d:7 | b:m7 | e:m7 | \myEndLine
	a1*2:7 | a1:m7 | d2:7 des:7 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	c1*2:maj7 | c1:m7 | f:7 | \myEndLine
	g1*2:maj7 | bes1:m7 | ees:7 | \myEndLine
	a:m7 | d:7 | b:m7 | e:m7 | \myEndLine
	a:7 | a2:m7 d:7 | g1:6 | \LPC d2:m7 \RPC g:7 | \myEndLine
	\endPart

	\endSong
	\endChords
}


