



{
	\tempo "Allegro" 4 = 130
	\time 2/2
	\key g \major

	\repeat volta 2 {

		% part "A"
		g'4 e8 fis~ fis fis4 e8 | g4 a8 b~ b b4. | g4 e8 fis~ fis fis4 e8 | g4 a8 b~ b b4. |
		d8 g, r4 d'8 g, r4 | d'8 g, r4 d'8 g, r4 | d'4 c8. b16 a4 g | a2. r4 |

		% part "A"
		g8 g4 e8 fis fis4 e8 | g g4 a8 b b4. | g8 g4 e8 fis fis4 e8 | g g4 a8 b b4 b8 |
		d g, r g d' g, r g | d' g, r g d' g, r g | d'4 c8. b16 a4 g | g2 r4 g |

		% part "B"
		e'1 | d8. cis16 b8. cis16 d4 d | b b c c | a2. e4 |
		e'1 | d8. cis16 b8. cis16 d4 d | b b c c | a2. d,8. d16 |

		% part "A"
		g8 g4 e8 fis fis4 e8 | g g4 a8 b b4. | g8 g4 e8 fis fis4 e8 | g g4 a8 b b4 b8 |
		d g, r4 d'8 g, r4 | d'8. d16 g,8. g16 d'8 g,4. | d'8. d16 c8. b16 c8. b16 a4 | b2. r4 | e b8. c16 b4 a |
	} \alternative {
		{
			g2. r4 |
		}
		{
			g2. r4 |
		}
	}
}


