


\chordmode {
	\startChords
	\startSong

	\repeat volta 2 {

		\myMark "A"
		\startPart
		g2 e:m9 | a:m7 d:7 | g2 e:m9 | a:m7 d:7 | \myEndLine
		g g:7/f | c/e c:m/ees | g/d e:m | a:7 d:7 | \myEndLine
		\endPart

		\myMark "A'"
		\startPart
		g2 e:m9 | a:m7 d:7 | g2 e:m9 | a:m7 d:7 | \myEndLine
		g g:7/f | c/e c:m/ees | g/d d:7 | g1 | \myEndLine
		\endPart

		\myMark "B"
		\startPart
		cis:m7.5- | fis2:7 b:m7 | e:7 a:m7 | d1:7 | \myEndLine
		cis:m7.5- | fis2:7 b:m7 | e:7 a:m7 | d1:7 | \myEndLine
		\endPart

		\myMark "A''"
		\startPart
		g2 e:m9 | a:m7 d:7 | g2 e:m9 | a:m7 d:7 | \myEndLine
		g g:7/f | c/e c:m/ees | g/d d:7 | b:7 e:7 | a:m7 d:7 |

	} \alternative {
		{
			g ees4:7 d:7 | \myEndLineVoltaNotLast
		}
		{
			g1 | \myEndLineVoltaLast
		}
	}
	\endPart

	\endSong
	\endChords
}



