




\lyricmode {

	% part "A"
	You say ee -- __ ther and I say eye -- __ ther,
	you say nee -- __ ther and I say ny -- __ ther;
	ee -- ther, eye -- ther, nee -- ther, ny -- ther,
	Let's Call The Whole Thing Off!

	% part "A"
	You like po -- ta -- to and I like po -- tah -- to,
	you like to -- ma -- to and I like to - mah -- to;
	po -- ta -- to, po -- tah -- to, to -- ma -- to, to -- mah -- to!
	Let's Call The Whole Thing Off!
	But

	% part "B"
	oh! If we call the whole thing off,
	then we must part. And
	oh! If we ev -- er part, then that might break my heart!

	% part "A"

	% part "Volta"
}

