




\lyricmode {

	% part "A"
	Late -- ly I find my -- self out gaz -- ing at stars,
	hear -- ing gui -- tars Like Some -- one In Love.

	% part "B"
	Some -- times the things I do a -- stound me,
	__ most -- ly when -- ev -- er you're a -- round me.

	% part "A"
	Late -- ly I seem to walk as though I had wings,
	bump in -- to things Like Some -- one In Love.

	% part "B"
	Each time I look at you I'm linmp as a glove
	and feel -- ing Like Some -- one In Love.

	% part "Volta"
	Love. __
}
