


\chordmode {
	\startChords
	\startSong

	\repeat volta 2 {

		\myMark "A"
		\startPart
		c2:maj7 c/b | c:6/a c/g | d:7/fis g:7/f | e:m7 ees:7 | \myEndLine
		d1:m7 | g2.:7 g4:9.5+ | c1:maj7 | g4:m7 c2:9 c4:9.5+ | \myEndLine
		\endPart

		\myMark "B"
		\startPart
		f2.:6 f4:5+ | b2:m7 e:7 | a1:maj7 | a:6 | \myEndLine
		a:m7 | d:7 | d1:7 | g:7.5+ | \myEndLine
		\endPart

		\myMark "A"
		\startPart
		c2:maj7 c/b | c:6/a c/g | d:7/fis g:7/f | e:m7 ees:7 | \myEndLine
		d1:m7 | g2.:7 g4:9.5+ | c1:maj7 | g4:m7 c2:9 c4:9.5+ | \myEndLine
		\endPart

		\myMark "B'"
		\startPart
		f2.:6 f4:5+ | b2:m7 e:7 | a1:maj7 | d2.:9 dis4:dim | \myEndLine
		e2:m7 a:7 | d:m7 g:7.9- |
	} \alternative {
		{
			c a:m7 | d:9 g:7 | \myEndLineVoltaNotLast
		}
		{
			c f:m6 | c1 | \myEndLineVoltaLast
		}
	}
	\endPart

	\endSong
	\endChords
}


