




\lyricmode {
	Be -- fore Lord God made the sea and the land, He held all the stars in the palm of His hand, and they
	ran through His fin -- gers like grains of sand, and one lit -- tle star fell a -- lone. Then the
	Lord God hunt -- ed through the wide night air for the lit -- tle dark star on the wind down _ there. And he
	stat -- ed and prom -- ised He'd take spec -- ial care so it would -- n't get lost a -- gain. Now a
	man don't mind if the stars grow dim and the clouds blow o -- ver and dark -- en him. So
	long as the Lord God's watch -- ing o -- ver them keep -- ing track how it all goes on. But
	I've been walk -- ing through the night, and the day, 'till my eyes get wear -- y and my head turn _ grey, And _
	some -- times it seems may -- be God's gone a -- way, for -- get -- ting the prom -- ise that we heard Him say,
	And we're lost out here in the stars, lit -- tle stars, big stars, blow -- ing through the night.
	And we're lost out here in the stars, lit -- tle stars, big stars, blow -- ing through the night.
	And we're lost out here in the stars. __
}
