


\chordmode {
	\startChords
	\startSong

	\repeat volta 2 {

		\myMark "A"
		\startPart
		ees1:7 | ees:7 | bes:m | bes:m | \myEndLine
		ees:7 | ees:7 | bes:m | bes:m | \myEndLine
		ees:m7 | aes:7 | des:7 | ges:7 | \myEndLine
		c:m7.5- | f:7.5+ | bes:m | bes:m | \myEndLine
		\endPart

		\myMark "A"
		\startPart
		ees1:7 | ees:7 | bes:m | bes:m | \myEndLine
		ees:7 | ees:7 | bes:m | bes:m | \myEndLine
		ees:m7 | aes:7 | des:7 | ges:7 | \myEndLine
		c:m7.5- | f:7.5+ | bes:m | bes:m7 | \myEndLine
		\endPart

		\myMark "B"
		\startPart
		ees:m7 | aes:7 | des:maj7 | f2:m7.5- bes:7 | \myEndLine
		ees1:m7 | aes:7 | des:maj7 | bes:m7 | \myEndLine
		bes:7 | bes:7 | ees:m | ees:m | \myEndLine
		g:m7.5- | c:7 | f:m7.5- | bes:7.9- | \myEndLine
		\endPart

		\myMark "A'"
		\startPart
		ees:7 | ees:7 | bes:m | bes:m | \myEndLine
		ees:7 | ees:7 | bes:m | bes:m | \myEndLine
		ees:m7 | aes:7 | des:7 | ges:7 | \myEndLine
		c:m7.5- | f:7.5+ | bes:m | bes:m7/aes | \myEndLine
		g2:m7.5- g:m7.5-/f | ees1:7 | ees2:m7 ees:m7/des | c1:m7.5- | \myEndLine
		bes:m | ees:7 |
	} \alternative {
		{
			bes | bes | \myEndLineVoltaNotLast
		}
		{
			bes | bes | \myEndLineVoltaLast
		}
	}
	\endPart

	\endSong
	\endChords
}


