




\lyricmode {
	Love __ For Sale, Ap -- pe -- tiz -- ing young Love For Sale
	Love that's fresh and still un -- spoiled, love that's on -- ly slight -- ly soiled, Love __ For Sale. __

	Who __ will buy? __ Who would like to sam -- ple my sup -- ply? __
	Who's pre -- pared to pay the price, for a trip to par -- a -- dise? Love __ For Sale. __
	Let the po -- ets pipe of love in their child -- ish way. I know ev -- ery type of love
	bet -- ter far than they. If you want the thrill of love, I've been thru the mill of love; Old love,
	new love, Ev -- 'ry love but true love. Love __ For Sale, __ Ap -- pe -- tiz -- ing young Love For
	Sale. __ If you want to buy my wares, Fol -- low me and climb the stairs, Love __ For
	Sale. __ Love __ _ _ _ _ _ _ _ _ _ _ _ For
	Sale.
}
