




\lyricmode {

	% part "A"
	Lul -- la -- by Of Bird -- land
	that's what I __
	al -- ways hear __
	when you sigh. __
	Nev -- er in my word -- land could there be ways __ to re -- veal __ __ in a phrase __ how I feel! __

	% part "A"
	Have you ev -- er heard two tur -- tle doves __
	bill and coo __
	when they love? __
	That's the kind of mag -- ic mu -- sic we make __ with our lips __ __ when we kiss! __

	% part "B"
	And tere's a weep -- y old wil -- low; __
	he real -- ly knows how to cry! __
	That's how I'd cry in my pil -- low __
	if you should tell me fare -- well __ and good -- bye! __

	% part "A"
	Lul -- la -- by Of Bird -- land whis -- per low, __
	kiss me sweet __
	and we'll go __
	fly -- in' high in Bird -- land, high in the sky __ up a -- bove __ __ all be -- cause __ we're in love! __

	_ all be -- cause __ we're in love. __ __
}
