






\lyricmode {

	% part "A"
	I know life′s got _ ma -- ny a twist _ _ _
	Loving you, baby, is a thing I cannot resist _ _ _
	Your love and un -- der -- stan -- ding you′ve been giving giving giving
	Without it, I just can't _ go on living _ _ _

	% part "B"
	Ba -- by, have some mer -- cy please
	Don't leave me, baby, on bended knee
	I say now, mer -- cy, mer -- cy, mer -- cy please
	Have mer -- cy on me
	mer -- cy, mer -- cy, mer -- cy please
	Have mer -- cy on me.
}
