

	DONE:
	- filled in meta data from the fake book.
	- added real book epdf.
	- added fake book chords.
	- added fake book tune.
	- added fake book lyrics.
	- check fake book chords.
	- check fake book tune.
	- check fake book lyrics.
	- hear the tune to make sure it's ok.
	- add you tube performances.
	- add lyricsurl.





