





\lyricmode {

	% part "A"
	Don't you know -- babe I wait for you _ every single night
	Hop -- ing you'll re -- turn and make things right _ _ _
	You don′t show and I′m sitting here all alone (all alone) _
	To pray you're gon -- na call me on the phone _ _

	% part "B"
	Ba -- by, have some mer -- cy please
	Don′t make your mama beg on bended knee Oh please
	mer -- cy mer -- cy mer -- cy please
	Have mer -- cy on me
	mer -- cy mer -- cy mer -- cy please

	You know I love you and I'm beg -- ging
	For one more chance, one chance, once more
}

