




\lyricmode {

	% part "A"
	It seems life has played a game on me _ _ _
	I'm lost in a sea of misery _ _ _ _ _
	My love _ has turned her back on me _ _ _
	Heartaches why won't you _ _ let me be I said now

	% part "B"
	Ba -- by have some mer -- cy please
	Dont leave me baby on bended knee _
	Oh please mer -- cy mer -- cy mer -- cy please
	Have mer -- cy on me
	Mer -- cy mer -- cy mer -- cy please
	How can I face life _ with out you
	What would I do if we were through
}


