








\lyricmode {
	Look at me,
	I'm as help -- les as a kit -- ten up a tree
	and I feel like I'm cling -- ing to a cloud,
	I can't __ un -- der -- stand, __
	I get Mist -- y just hold -- ing your hand. __

	Walk my
}


