










\lyricmode {
	On my own, would I wan -- der through this won -- der -- land a -- lone,
	nev -- er know -- ing my right foot from my left,
	my hat __ from my glove, __
	I'm too Mist -- y and too much in
}
