


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	ees2:6 c:m7 | f:m7 e:7.9+ | ees:6 c:m7 | des1:9 | f2:m7 bes:7.11 | ees f4:m7 bes:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	ees2:6 c:m7 | f:m7 e:7.9+ | ees:6 c:m7 | des1:9 | f2:m7 bes:7.11 | ees1 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	a2:m11 d:7 | g:maj7 gis:dim7 | a:m11 aes:9.11+ | g:maj7 g:6 | \myEndLine
	bes:m11 ees:7 | aes:maj7 a:dim7 | bes:m11 ees:9 | aes bes:7.5+.9- | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	ees2:6 c:m7 | f:m7 e:7.9+ | ees:6 c:m7 | des1:9 | f2:m7 bes:7.11 | ees1 | \myEndLine
	c2:m7 f4:9 e:9 | ees1:maj9 | \myEndLine
	\endPart

	\endSong
	\endChords
}


