

	DONE:
	- identified the version as the fake book version.
	- made sure we have two epdfs (real and fake).
	- marked down the structure of this tune.
	- checked the fake book chords.
	- checked the fake book tune.
	- checked the fake book lyrics.
	- listened to the tune and adjust the speed if need be.
	- documented the youtube performances.
	- added lyrics url.
	TODO:
	- get the real book version in here.



