





\lyricmode {

	% part "A"
	cream col -- ored po -- nies and crip ap -- ple strud -- els,
	door -- bells and sleigh -- bell and schnitz -- el with noo -- dles;
	wild geese that fly with the moon on the wings,
	these are a few of My Fa -- vor -- ite Things.
}
