




% this version of the lyrics is from the fake book but adjusted for the real book (the real book has no lyrics)...
\lyricmode {

	% part "A"
	Rain -- drops on ros -- es and whisk -- ers on kit -- tens,
	bright cop -- per ket -- tles and warm wool -- en mit -- tens;
	brown pa -- per pack -- ag -- es tied up with string,
	these are a few of My Fa -- vor -- ite Things.

	% part "A"
	Girls in white dress -- es with blue sat -- in sash -- es,
	snow -- flakes that stay on my nose and eye -- lash -- es,
	sil -- ver white win -- ters that melt in to spring.
	These are a few of My Fa -- vor -- ite Things.

	% part "B"
	When the dog bites, when the bee stings,
	when I'm feel -- ing sad, __
	I sim -- ply re -- mem -- ber My Fa -- vor -- ite things
	and then I don't feel so bad. __
}

