

	DONE:
	- added epdf for the real book.
	- added epdf for the fake book.
	- put in the chords for the real book.
	- checked the chords for the real book.
	- put in the notes for the real book.
	- filled in meta data for this tune (copyright and more).
	- checked the notes for the real book.
	- checked how the tune sounds.
	- added lyrics url and youtube performances.
	- added lyrics for the real book version.
	- checked the lyrics for the real book version.
	- added the song structure (and note about it).
	- added notation about where I got the meta data from.
	TODO:
	- add the fake book version.
	NOTES:
	- in the real book version the last repeat sign is not taken because it seems out of place.
	- this tunes structure could be categorized as ABCA but the A and B in this categorization
	would be too close one to the other.




