

	DONE:
	- put in the location in the fake book.
	- filled in meta data from the fake book.
	- put in the tunes structure.
	- filled in the fake book chords.
	- filled in the fake book lyrics.
	- filled in the fake book tune.
	- heard that the fake book tune sounds well.
	- checked the fake book chords.
	- checked the fake book tune.
	- checked the fake book lyrics.
	TODO:
	- added youtube performances.
	- added a lyrics url.



