




\lyricmode {

	% part "A"
	The ver -- y thought of you makes my heart sing __
	like an A -- pril breeze __ on the wings of spring.
	And you ap -- pear in all your splen -- dor, __
	My One And On -- ly Love.

	% part "A"
	The shad -- own fall and spread their mys -- tic charms __
	in the hush of night __ while you're in my arms.
	I feel your lips so warm and ten -- der, __
	My One And On -- ly Love.

	% part "B"
	The touch __ of your hand __ is like heav -- en, __
	a heav -- __ en that I've __ nev -- er known.
	The blush __ on your cheek when -- ev -- __ er I speak
	tell me that you are my own.

	% part "A"
	You fill my ea -- ger heart with such de -- sire. __
	Ev -- r'y kiss you give __ sets my soul on fire.
	I give my -- self in sweet sur -- ren -- der, __
	My One And On -- ly Love.

	Love.
}
