


\chordmode {
	\startChords
	\startSong

	\repeat volta 2 {

		\myMark "A"
		\startPart
		c2 a:m7 | d:m7 g4:9 gis:dim7 | a:m a:m7/g f2:maj7 | b:m7.5- e4:m7 a:7.9- | \myEndLine
		d:m7 d:m7/c b:m7.5- e:7 | a2:m7 ees:9 | d:m7 g4:7 g:7/f | e:m a:7.9- d:m7 g:9 | \myEndLine
		\endPart

		\myMark "A"
		\startPart
		c2 a:m7 | d:m7 g4:9 gis:dim7 | a:m a:m7/g f2:maj7 | b:m7.5- e4:m7 a:7.9- | \myEndLine
		d:m7 c:m7 b:m7.5- e:7 | a2:m7 ees:9 | d:m7 g4:7 g:7.9- | c2 fis4:m7.5- b:7 | \myEndLine
		\endPart

		\myMark "B"
		\startPart
		e2:m6 cis:m7.5- | fis:m7 b:7 | e2:m6 cis:m7.5- | fis:m7 b:7 | \myEndLine
		e:m e:m/dis | e:m/d e:m/cis | d:m7 aes:7.11+ | d:m7 g:7.9- | \myEndLine
		\endPart

		\myMark "A"
		\startPart
		c2 a:m7 | d:m7 g4:9 gis:dim7 | a:m a:m7/g f2:maj7 | b:m7.5- e4:m7 a:7.9- | \myEndLine
		d:m7 c:m7 b:m7.5- e:7 | a2:m7 ees:9 | a:m7 g4:7.5+ des:9 |
	} \alternative {
		{
			c2 d4:m7 g:7.5+ | \myEndLineVoltaNotLast
		}
		{
			aes4:maj7 des:maj7 des:6 c:6.9 | \myEndLineVoltaLast
		}
	}
	\endPart

	\endSong
	\endChords
}


