

	DONE:
	- filled in the meta data from the fake book.
	- filled in structure and fake book location on my own.
	- fill in the fake book chords.
	- fill in the fake book lyrics.
	- fill in the fake book tune.
	- check the fake book chords.
	- check the fake book tune.
	- check the fake book lyrics.
	- hear that the fake book tune sounds well.
	- add youtube performances.
	- add a lyrics url.
	TODO:
	- get another version of this tune in here.



