




\lyricmode {

	% part "A"
	There was a boy,
	A ver -- y strange en -- chant -- ed boy
	They say he wan -- dered ver -- y far, ver -- y far,
	o -- ver land and sea;

	A lit -- tle shy
	and sad of eye,
	But ver -- y wise
	was he

	% part "B"
	And then one day,
	One mag -- ic day he came my way,
	And as we spoke of man -- y things, fools and kings,
	this he said to me: The

	great -- est thing
	you'll ev -- er learn
	is just to love and be loved
	in re -- turn.
}
