



{
	\tempo "Moderato" 4 = 110
	\time 4/4
	\key d \minor

	\partial 8 a8 |

	% part "A"
	a'8 f d2. | r4 r8 a e' f g bes | a f d2. | r4 r8 a e' f g bes |
	a4. d8 cis2 | a4. c!8 b2 | g4. bes!8 a4. d,8 | e2. r8 a, |
	a'2. g4 | e2. a,4 | g'2. f4 | d2. a4 |
	f'2. e4 | b2. c4 | cis1 | r2 r4 r8 a |

	% part "B"
	a'8 f d2. | r4 r8 a e' f g bes | a f d2. | r4 r8 a e' f g bes |
	a4. d8 cis2 | a4. c!8 b2 | g4. bes!8 a4. d,8 | e2. r8 a, |
	a'2. g4 | e2. a,4 | g'2. f4 | d2. a4 |
	f'4. e8 b4. a8 | g'4 f2 a,8 e' | d1 | r |
}

