


\chordmode {
	\startSong
	\startChords

	\myMark "A"
	\startPart
	b2:7 e:7 | a:7 d:7 | g:7 c:7 | a:7 a:7.9- | \myEndLine
	g1/d | a2:m g/b | c4:6 g/b bes:dim7 a:m7 | g1 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	b2:7 e:7 | a:7 d:7 | g:7 c:7 | a:7 a:7.9- | \myEndLine
	g1/d | a2:m g/b | c4:6 g/b bes:dim7 a:m7 | g1 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	e1:m | c:9 | e:m7 | a:7 | \myEndLine
	d2:m d:m/f | a:7/e a:7 | a1:m7 | d2:7.5+ d:7.5+/c | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	b2:7 e:7 | a:7 d:7 | g:7 c:7 | a:7 a:7.9- | \myEndLine
	g1/d | a2:m g/b | f:7 e:7 | a:m7 a4:m/d d:7.5+ | g2 ees4:7 d:7 | g1:6 | \myEndLine
	\endPart

	\endChords
	\endSong
}


