



{
	\tempo "Andante Moderato" 4 = 88
	\time 2/2
	\key g \major

	% part "A"
	b'4 c c b | a b2. | g4 a a g | fis1 |
	d4. e8~ e8. d16 e8. g16 | a8 b4. r8. d,16 e8. g16 | a8 b4. g4 g8 g~ | g2. r4 |

	% part "A"
	b4 c c b | a b2. | g4 a \tuplet 3/2 { a4 gis g } | fis1 |
	d4. e8~ e8. d16 e8. g16 | a8 b4. r8. d,16 e8. g16 | a8 b4. g4 g8 g~ | g1 |

	% part "B"
	r8 b4 g8 b4 g | ais4. g8~ g2 | b8. b16 b,8. b16 e8 g4. | fis1 |
	r8 a4 fis8 a4 fis | a4. a8~ a4 a8. b16 | d4 d d8. e16 b4 | ais1 |

	% part "A"
	b4 c c b | a b2. | g4 a \tuplet 3/2 { a4 gis g } | fis1 |
	d4. e8~ e8. d16 e8. g16 | a8 b4. r8. d,16 e8. g16 | a8 b4.~ b2 | d4 b g e | g1~ | g2. r4 |
}

