




\lyricmode {
	Hold -- ing hands at mid -- night 'neath a star -- y sky. Nice Work __ If You Can
	Get it, and you can get it if you try. __ Stroll -- ing with the one girl,
	sigh -- ing sigh aft -- er sign, Nice Work __ If You Can Get It, and you can ge tit if you try. __
	Just im -- ag -- ine some -- one __ wait -- ing at the cot -- tage door,
	where two hearts be -- come one. __ Who could ask for an -- y thing more? Lov -- ing one who
	loves you, and then tak -- ing that vow, Nice Work __ If You Can Get It, and if you
	get it, __ won't you tell me how? __
}
