




% this version of the lyrics is from the fake book but adjusted for the real book (the real book has no lyrics)...
\lyricmode {

	% part "A"
	Night And Day __
	You are the one __
	On -- ly you __ be -- nea -- th the moon
	And under the sun __
	Whe -- ther near to me or far __ _
	No mat -- ter, dar -- ling Where you are __ _
	I think of __ you
	Night And Day __

	Day and night __

	% part "B"
	_ Night And Day
	Un -- der the hide of me __
	There's an oh such a hun -- gry
	Year -- __ nin' bur -- __ nin' in -- side of me __
	And its tor -- ment won't be through __
	'Til you let me spend my life
	Mak -- ing love __ to you
	Day and night __
	Night And Day __
}

