





\lyricmode {

	% part "A"
	_ _ _
	Why it is so __
	That this long -- __ ing for you
	Fol -- lows wher -- ever I go. __
	In the roa -- rin' tra -- ffic's boom __
	In the si -- lence of my lone -- ly room __ _
	I think of __ you
	Night And Day __
}
