

	DONE:
	- filled in the meta data from the fake book
	- write the fake book chords.
	- write the fake book tune.
	- got the fake book epdf.
	- add you tube performances.
	- check the fake book chords.
	- check the fake book tune.
	- adjusted the tunes speed.
	- checked that the midi version sounds well.
	TODO:


