



{
	\tempo "Andante" 4 = 88
	\time 4/4
	\key ees \major

	\repeat volta 2 {

		% part "A"
		bes4 bes c8 ees4 c8 | bes4 bes c8 ees4 f8 | g4 g f8 ees4 f8 | g4 bes c8 bes4 c8 |
		bes4 bes g8 f4 g8 | bes4 bes g8 f4 g8 | ees1~ | ees2. r8 bes8 | bes4 bes c8 ees4 c8 |
		bes4 bes c8 ees4 f8 | g4 bes c8 bes4 c8 | ees4 ees d8 c4 d8 | bes4 bes g8 f4 g8 |
		bes4 bes g8 f4 g8 | ees1~ | ees4 r4 r2 | d'4 bes c4. ees8 | d4 bes c2 |
		d8. d16 bes4 c8. c16 ees4 | d bes c2 | bes8 r g4 a2 | bes4 g a2 | bes8. bes16 g8. g16 a4 c8. c16 |
		bes4 g f2 | bes,4 bes c8 ees4 c8 | bes4 bes c8 ees4 f8 | g4 bes c8 bes4 c8 | ees4 ees f8 ees4 f8 |
		g4 g f8 ees4 f8 | g4 g f8 ees f4 |
	} \alternative {
		{
			ees4 r r2 | R1 |
		}
		{
			ees1~ | ees4 r r2 |
		}
	}
}

