




\lyricmode {
	Ol' Man Riv -- er, dat Ol' Man Riv --er, he must know sump -- in', but don't say noth -- in' he
	jus' keeps roll -- in', he keeps on roll -- in' a -- long. __ He don't plant 'ta -- ters, he
	don't plant cot -- ton, an' dem dat plants 'em is soon for -- got -- ten; but Ol' Man Riv --er, he
	jus' keeps roll -- in' a -- long. __ You an' me, we sweat an' strain,
	bo -- dy all ach -- in' an' racked wid pain. "\"Tote" dat "barge!\"" "\"Lift" dat "bale,\"" git a lit -- tle drunk an' you
	land in jail. Ah gits wea -- ry an' sick of try -- in', Ah'm tired of liv -- in' an' skeered of dy -- in'. But
	Ol' Man Riv -- er, he jus' keeps roll -- in' a -- long.
	long. __
}
