




% this version of the lyrics is from the fake book but adjusted for the real book (the real book has no lyrics)...
\lyricmode {
	Once __ __ I loved, __ __
	And I gave so much love to this love,
	You were the world to me; __ __

	Once __ __ I cried __ __
	at the thought I was fool -- ish and proud
	and let you say good -- bye. __ __
}

