





\lyricmode {
	Then __ __ one day, __ __
	From my in -- fi -- nite sad -- ness you came
	and brought me love a -- gain; __ __
	Now __ __ I know __ __
	that no mat -- ter what -- ev -- er be -- falls
	I'll nev -- er _ _ _ let you go, __

	I will hold __ you close, __
	Make __ you stay; __ __
	Be -- cause love is the __ sad -- dest thing __
	when it goes a -- way, __ __
	Be -- cause love is the __ sad -- dest thing __
	when it goes a -- way, __
}
