



{
	\tempo "Allegro" 4 = 144
	\time 4/4
	\key f \major

	% part "A"
	\repeat volta 2 {
		d'1~ | d2~ d8 c4 a8~ | a1~ | a2 \tuplet 3/2 { r4 bes c } |
		\tuplet 3/2 { d d d } \tuplet 3/2 { d d d } | d2 \tuplet 3/2 { f4 e d } |
		\tuplet 3/2 { e c a~ } a2~| a2. r4 |
		c1~ | c2~ c8 bes4 g8~ | g1~ | g2 \tuplet 3/2 { r4 g a } |
		\tuplet 3/2 { bes bes a } \tuplet 3/2 { c c bes } | a2 \tuplet 3/2 { g4 bes a } |
	} \alternative {
		{
			g8 fis4 fis8~ fis2~ | fis r
		}
		{
			g8 fis4 a8~ a2 | g8 f!4 a8~ a g4 e8~ |
		}
	}

	% part "B"
	e1 | g2~ g8 f4 d8~ | d1~ | d2 \tuplet 3/2 { r4 d e } |
	\tuplet 3/2 { f f e~ } \tuplet 3/2 { e g ges } | f2~ f8 f4 des8 | e4 d8 d~ d2~ |
	d2 \tuplet 3/2 { r4 d e } | \tuplet 3/2 { f f e~ } \tuplet 3/2 {e g ges } |
	f2~ f8 f4 cis8 | e4. d8 d2~ | d1 |
}


