

	DONE:
	- filled in the meta data.
	- brought in fake book epdf.
	- brought in real book epdf.
	- put in the real book chords.
	- put in the real book tune.
	- put in the real book lyrics.
	- filled in the meta data (from the fake book).
	- checked the chords in the real book version.
	- checked the tune in the real book version.
	- checked the lyrics in the real book version.
	- hear the tune to make sure it sounds good.
	- added youtube performances.
	- added lyrics url.
	TODO:
	- add the fake book version.
	REMARKS:
	- I added turn around notes at the end of the real book version.



