




\lyricmode {

	% part "A"
	I'm wrack -- in' my brain, to think of a name, __
	to give to this tune, so Per -- ry can croon, __
	and may -- be ol' Bing will give it a fling. __
	And that -- 'll start ev -- 'ry -- one hum -- min' the thing. __

	% part "A"
	The mel -- o -- dy's dumb, re -- peat an' re -- peat. __
	But if you can swing, it's got a good beat. __
	And that's the main thing, to make with the feet. __
	'Cause ev -- 'ry -- one is swing -- in' to day. __

	% part "B"
	So, __ I'll call it O -- pus One! It's not for Sam -- my Kaye. __
	Hey! __ hey! __ hey! __ It's O -- pus One! It's got to swing,
	not sway. __ May -- be, __

	% part "A"
	if Mis -- ter Les Brown could make it re -- nown, __
	and Ray An -- tho -- ny could swing it for me. __
	There's nev -- er a doubt you'll knock your -- self out. __
	When -- ev -- er you can hear O -- pus One. __
}
