




\lyricmode {

	% part "A"
	When or -- chids bloom in the moon -- light __ and lov -- ers vow to be true;
	I still can dream in the moon -- light, __ of one dear night that we knew.
	When or -- chids fade in the dawn -- ing, __ they speak of tears and "\"Good" -- "bye!\""
	Tho' my dreams __ are shat -- tered, like the pet -- als scat -- tered, still my love __ can nev -- er die.

	% part "B"
	There is peace in the twi -- light, __ when the day is thru,
	but the shad -- own that fall on -- ly seem to re -- call all my long -- ing for you.
	There's a dream in the moon -- beams, __ up on the sea of blue;
	but the moon -- beams that fall, on -- ly seem to re -- call, love is all, love is you.
}
