


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	f1:m | des2 f1.:m | c1:7 | \myEndLine
	c:7 | g2:m7.5- c1.:7 | f1:m | \myEndLine
	f:m | des2 f:m | f1:7 | bes:m | \myEndLine
	bes:m | f1:m | c:7 | f4:m c:7 f2:m | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	f2 f4:dim c:7 | f1. f2:6 | c1:7 | \myEndLine
	c1*3:7 | f2. fis4:dim | \myEndLine
	c2:7 f4:dim c:7 | f1. f2:7 | bes1 | \myEndLine
	bes | des:7 | f2 f4:dim c:7 | f4 c:7 f2 | \myEndLine
	\endPart

	\endSong
	\endChords
}


