

	DONE:
	- added the fake book epdf.
	- filled in the meta data from the fake book.
	- put in the tunes structure.
	- wrote down the fake book chords.
	- wrote down the fake book lyrics.
	- wrote down the fake book tune.
	- check the fake book chords.
	- check the fake book tune.
	- check the fake book lyrics.
	- played the midi to hear that it sounds right.
	- added youtube performances.
	TODO:
	- get another version in here (from where?)



