

	DONE:
	- put in the tunes structure
	- added the epdf from the fake book.
	- added the meta data from the fake book.
	- put in the chords (fakebook).
	- put in the tune (fakebook).
	- check the chords (fakebook).
	- check the tune (fakebook).
	- heard the tune to check that it is right and adjust the tempo.
	TODO:
	- added youtube performances.
	- add another version of this tune.


