


\chordmode {
	\startChords
	\startSong

	\partial 8 s8 |

	\repeat volta 2 {

		\myMark "A"
		\startPart
		g1*2:maj7 | g2:m7 c:7 | g:m7 c:7 | \myEndLine
		f1*2:maj7 | f1:m7 | bes:7 | \myEndLine
		\endPart

		\myMark "B"
		\startPart
		ees:7 | d:7 |
	} \alternative {
		{
			g:m | c2:m7.5- d:7 | \myEndLine
			b1:m7 | e:7 | a:m7 | d:7 | \myEndLineVolta
		}
		{
			g | a2:m7 d:7 | \myEndLine
			g/b bes:7 | a:m7 aes:7 | g1*2:maj7 | \myEndLineVolta \endPart
		}
	}

	\endSong
	\endChords
}

