




\lyricmode {

	% part "A"
	A coun -- try dance was be -- ing held in a gar -- den,
	I felt a bump and heard an "\"Oh," beg your par -- "don,\""
	sud -- den -- ly I saw Pol -- ka Dots And Moon -- beams
	all a -- round a pug -- nosed dream. __

	% part "A"
	The mus -- ic start -- ed and was I the per -- plexed one,
	I held my breath and said "\"may" I have the next "one.\""
	In my fright -- ened arms Pol -- ka Dots And Moon -- beams
	spark -- led on a pug -- nosed dream. __

	% part "B"
	There were ques -- tions in the eyes of oth -- er danc -- ers
	as we float -- ed o -- ver the floor.
	There were ques -- tions but my heart knew all the an -- swers,
	and per -- haps a few things more. __

	% part "A"
	Now in a cot -- tage built of li -- lacs and laugh -- ter
	I know the mean -- ing of the words "\"ev" -- er af -- "ter.\""
	And I'll al -- ways see Pol -- ka Dots And Moon -- beams
	when I kiss the pug -- nosed dream. __
}
