




\lyricmode {
	Poor But -- ter -- fly, __ 'neath the blos -- soms wait -- int, __ Poor But -- ter --
	fly __ for she loved him so. __ The mo -- ments pass in -- to hour, __ the hours _
	pass in -- to years, __ and as she smiles through her tears, __ she mur -- murs low, __
	"\"The" moon and I __ know that he'll be faith -- ful. __ I'm sure he'll come __
	to me by and bye. __ But if he don't come back, __ then I'll nev -- er
	sigh or _ cry, __ I just mus' "die.\"" Poor _ But -- ter -- fly. __
}
