




\lyricmode {
	If you hear a song in blue __ like a flow -- er cry -- ing for the dew __
	that was my heart ser -- e -- nad -- ing you __ my Pre -- lude To A Kiss. __ If you hear a
	song that grows from my ten -- der sen -- ti -- men -- tal woes __ That was my heart try -- ing to com -- pose __
	a Pre -- lude To A Kiss. __ Though it's just a sim -- ple mel -- o -- dy with noth -- ing fan -- cy,
	noth -- ing much you could turn it to a sym -- pho -- ny a Schu -- bert tune __ with a
	Gersh -- win touch. Oh! How my love song gen -- tly cries __ for the ten -- der -- ness with --
	in your eyes __ my love is a pre -- lude that nev -- er dies __ a Pre -- lude To A Kiss. __
}
