




\lyricmode {

	% part "A"
	Qui -- et Nights Of Qui -- et Stars,
	qui -- et chords from my __ gui -- tar
	float -- ing on the si -- lence that __ sur -- rounds __ us. __
	Qui -- et thoughts and qui -- et dreas, __
	qui -- et walks by qui -- et streams,
	and a win -- dow look -- ing on __ the moun -- tains and the sea. __
	How love -- ly!

	% part "A'"
	This is where I want __ to be. __
	Here, with you so close __ to me __
	un -- til __ the fin -- al flick -- er of __ life's em -- ber. __
	I, who __ was lost and lone -- ly, __
	be -- liev -- ing life was on -- ly __
	a bit -- ter tra -- gic joke, have found __ with you, __
	the mean -- ing of ex -- ist -- ence.
	Oh, __ my love. __
}
