


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	d1*2:9 | aes:dim7 | \myEndLine
	g1:m7 | c8*5:7 ges4.:7 | f2:dim7 f:maj7 | f1:maj7 | \myEndLine
	f:m7 | bes:13 | e:m7 | a:7.5+ | \myEndLine
	d:9 | d2.:9 d4:m7 | d2.:m7 aes4:dim7 | aes1:dim7 | \myEndLine
	\endPart

	\myMark "A'"
	\startPart
	d1*2:9 | aes:dim7 | \myEndLine
	g1:m7 | c8*5:7 ges4.:7 | f2:dim7 f:maj7 | f1:maj7 | \myEndLine
	f:m7 | bes:7.5- | e:m7 | a:m7 | \myEndLine
	d:m7 | g:7.9- | e:m7 | a:7.5+ | \myEndLine
	d:m7 | g:9 | c1*2:6 | \myEndLine
	\endPart

	\endSong
	\endChords
}


