


\chordmode {
	\startChords
	\startSong

	\repeat volta 2 {

		\myMark "A"
		\startPart
		g1*2 | c2 c:m6 | g1 | \myEndLine
		g2 gis:dim7 | a2:m7 d:7 | a:m7 d:7 | g1 | \myEndLine
		\endPart

		\myMark "A"
		\startPart
		g1*2 | c2 c:m6 | g1 | \myEndLine
		g2 gis:dim7 | a2:m7 d:7 | a:m7 d:7 | g1 | \myEndLine
		\endPart

		\myMark "B"
		\startPart
		c2 c:m6 | g1 | d:7 | g | \myEndLine
		c2 c:m6 | g1 | a:7 | a2:m7 d:7 | \myEndLine
		\endPart

		\myMark "A"
		\startPart
		g1*2 | c2 c:m6 | g1 | \myEndLine
		g2 gis:dim7 | a2:m7 d:7 | a:m7 d:7 |
	} \alternative {
		{
			g2 a4:m7 d:7 | \myEndLineVoltaNotLast
		}
		{
			g1 | \myEndLineVoltaLast
		}
	}
	\endPart

	\endSong
	\endChords
}


