




\lyricmode {

	% part "A"
	Red Sails In The Sun -- set way out on the sea, oh! car -- ry my loved one
	home safe -- ly to me.

	% part "A"
	He sailed at the dawn -- ing, all day I've been blue.
	Red Sails In The Sun -- set I'm trust -- ing in you.

	% part "B"
	Swift wings you must bor -- row, make stright for the shore.
	We mar -- ry to -- mor -- row and he goes sail -- ing no more.

	% part "A"
	Red Sails In The Sun -- set way out on the sea, oh! car -- ry my loved one home safe -- ly to me.

	% part "Volta"
	me.
}
