





\lyricmode {

	% part "A"
	Memo -- ries al -- ways start 'round midnight, mid -- _ _ night.
	Ha -- ven't got the heart to stand -- _ _ those me -- _ _ mories,
	When my heart is still with you, _ _ _ _ _
	And ol'
}
