

	DONE:
	- brought in the real book epdf.
	- brought in the fake book epdf.
	- fill in the meta data for the this tune.
	- put in the real book chords.
	- make sure the repetition marks show.
	- put in the structure of the tune.
	- added lyrics url.
	- put in the real book tune.
	- heard the tune to make sure it sounds good.
	- checked the real book chords.
	- checked the real book tune.
	- put in the real book lyrics.
	- checked the real book lyrics.
	- added youtube performances.
	TODO:
	- add the fake book version.
	REMARKS:
	- in the real book chords the bes:7 chord that ends the first two bars of the A section (appears
	3 times) is an altered chord and the lead sheet says so. How do I do an altered chord in lilypond?
	I've seen some discussions about it but nothing conclusive.




