




\lyricmode {

	% part "A"
	It be -- gins to tell, 'round midnight, mid -- _ _ night.
	I do pre -- tty well, till af -- _ _ ter sun -- _ _ down,
	Sup -- per -- time I'm fee -- lin' sad; _ _ _ _ _
	But it real -- ly gets _ _ _ bad, 'round mid -- night.

	% part "Volta"

	mid -- _ _ night knows it, too.

	% part "B"
	When a quar -- rel we had needs men -- ding,
	Does it mean that our love is end -- ing.
	Dar -- lin' I need you, lately I find
	You're out of my heart,
	And I'm out of my mind. _ _ _

	% part "A"
	Let our hearts take wings' 'round midnight, mid -- _ _ night.
	Let the an -- gels sing, for your -- _ _ re tur -- _ _ ning.
	Till our love is safe and sound. _ _ _ _ _
	And old mid -- _ _ night comes a -- round.
}

