

	DONE:
	- put in the location in the fake book.
	- put in the meta data from the fake book.
	- put in the tune structure.
	- put in youtube performances and lyrics url.
	- put in the fake book chords.
	- put in the fake book tune.
	- put in the fake book lyrics.
	- check the fake book chords.
	- check the fake book tune.
	- check the fake book lyrics.
	- heard the tune the tune to make sure its ok and the tempo is fine.
	TODO:
	- get another version of the tune in here.




