


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	\repeat volta 2 {
		d2:m7 g:7 | d:m7 g:7 | e:m7 a:7 | e:m7 a:7 | \myEndLine
		a:m9 d:9 | aes:m9 des:9 |
	} \alternative {
		{
			c d:m7 | e:m7 a:7 | \myEndLineVoltaNotLast
		}
		{
			c f:7 | c1 | \myEndLineVoltaLast
		}
	}
	\endPart

	\myMark "B"
	\startPart
	g2:m7 c:7 | g:m7 c:9- | f:maj7 g:m7 | a:m7 bes:m7 | \myEndLine
	a:m7 d:7 | a:m7 d:9- | g:7 d:m7 | g1:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	d2:m7 g:7 | d:m7 g:7 | e:m7 a:7 | e:m7 a:7 | \myEndLine
	a:m9 d:9 | aes:m9 des:9 | c4 c:7/e f aes/ges | c/g g:7 c2:6.9 | \myEndLine
	\endPart

	\endSong
	\endChords
}



