




\lyricmode {

	% part "A"
	Cig -- a -- rette hold -- er which wigs me, o -- ver her shoul -- der, she digs me.
	Out cat -- tin' that Sat -- in Doll. __

	% part "B"
	_ She's no -- bod -- y's fool, so I'm play -- ing it cool as can be. __
	I'll give it a whirl, __ but I ain't for no girl __ catch -- ing me. __
	\markup \italic Switch -- \markup \italic E -- \markup \italic Roo -- \markup \italic ney

	% part "A"
	Tel -- e -- phone num -- bers well you know, do -- ing my rhum -- bas
	with u -- no, and that 'n' my Sat -- in Doll. __
}

