




% this version of the lyrics is from the fake book but adjusted for the real book (the real book has no lyrics)...
\lyricmode {

	% part "A"
	Some -- day my prince will come
	Some -- day I'll find my love

	% part "B"
	And how thrilling that moment will be
	When the prince of my dreams_comes to me
}


