




% lyrics from the internet adjusted for the real book
\lyricmode {
%	There's a saying old, says that love is blind
%	Still we're often told, "seek and ye shall find"
%	So I'm going to seek a certain lad I've had in mind

%	Looking everywhere, haven't found him yet
%	He's the big affair I cannot forget
%	Only man I ever think of with regret

%	I'd like to add his initial to my monogram
%	Tell me, where is the shepherd for this lost lamb?

	% part "A"
	There's a some -- bo -- dy I'm lon -- gin' to see
	I hope that he, turns out to be
	Some -- one who'll watch o -- ver me

	me

	% part "B"
	Al -- though he may not be the man some
	Girls think of as hand -- some
	To my heart he car -- ries the key

	% part "A"
	Won't you tell him please to put on some speed
	Fol -- low my lead, oh, how I need
	Some -- one to watch o -- ver me

%	Won't you tell him please to put on some speed
%	Follow my lead, oh, how I need
%	Someone to watch over me

%	Someone to watch over me
}

