





\lyricmode {

	% part "A"
	He'll whis -- per I love you
	And steal a kiss or two

	% part "C"
	Though he's
	_ _ _ _ _ _ _ _ _ _ _ _ _
	far _ a -- way I'll find my love_some -- day
	Some -- day_when my dreams come true
}

