



{
	\tempo "Andante" 4 = 92
	\time 4/4
	\key aes \major

	% part "A"
	\repeat volta 2 {
		r4 aes8 bes c ees f aes | bes bes4 aes8 g2 | aes8 aes4 g8 f2 | g8 g4 f8 ees2 |
		r4 f ees des | aes'2 aes,8 bes4. |
	} \alternative {
		{ c1~ | c2 r | }
		{ aes1 | r4 bes c ees | }
	}

	% part "B"
	g4 aes g aes | bes aes2 g4 | bes aes2 g4 | bes aes2 f4 |
	aes g2 f4 | aes g2 e4 | c1~ | c2 r |

	% part "A"
	r4 aes8 bes c ees f aes | bes bes4 aes8 g2 | aes8 aes4 g8 f2 | g8 g4 f8 ees2 |
	r4 f ees des | aes'2 aes,8 bes4. | aes1 | r |
}


