

	DONE:
	- added the epdf from the ccb.
	- put in the tunes structure
	- added the meta data from the ccb.
	- added lyrics url.
	- added youtube performances.
	- put in the chords (ccb).
	- put in the tune (ccb).
	- put in the lyrics (ccb).
	- check the lyrics (ccb).
	- check the chords (ccb).
	- check the tune (ccb).
	- heard the tune to check that it is right and adjust the tempo.
	- brought in the wikifonia version.
	- filled in the meta data from wikifonia and wikipedia.
	- put in the lyrics from wikifonia.
	- put in the chords from wikifonia.
	- put in the tune from wikifonia.
	- checked the wikifonia melody sounds fine.
	- checked the wikifonia chords.
	- checked the wikifonia lyrics.
	- checked the wikifonia melody.
	TODO:
	- put the copyright right in the wikifonia copyright statement (with the copyright symbol).








