








\lyricmode {

	% part "A"
	Some -- where O -- ver The Rain -- bow, way up high,
	there's a land that I heard of once in a lull -- a -- by

	% part "B"
	true
	Some day I'll wish up -- on a star and wake up where the clouds are far be -- hind me. __
	Where trou -- bles melt like le -- mon drops a -- way a -- bove the chim -- ney tops that's where you'll find me

	% part "A"
	Some -- where O -- ver The Rain -- bow, blue -- birds fly.
	Birds fly o -- ver the rain -- bow, why then, oh why can't I?
}

