

	DONE:
	- checked the real book chords.
	- checked the real book notes.
	- heard it and made sure it sounds fine.
	- wrote the lyrics and adjusted them to the tune.
	- got epdf for the real book.
	- there is no fake book version of this tune.
	TODO:
	- fill in the copyright.



