

	DONE:
	- filled in the meta data from the fake book.
	- brought the fake book epdf.
	- filled in the structure.
	- filled in the fake book lyrics.
	- filled in the fake book chords.
	- filled in the fake book tune.
	- check the fake book chords.
	- check the fake book tune.
	- check the fake book lyrics.
	- check that the tune sounds well and the tempo is well adjusted.
	- added youtube performances.
	- added lyrics url.
	TODO:
	- do another version of this tune.
	REMARKS:
	- In the 6th bar Fake Book has d:m7.9- for the first measure, second system here, but I
	think the a (fifth) should be flat to match the melody so d:m7.5 (JE)



