



{
	\tempo "Moderato" 4 = 108
	\time 4/4
	\key d \minor

	\partial 4 a'8. f16 |

	\repeat volta 2 {

		% part "A"
		a1~ | a8 r g8. f16 g8. a16 f4 | d2 a~ | a4 r a' f |
		g8 g~ g2. | r4 f8. d16 f8. d16 f4 | e1~ | e2 r8 a4 f8 |

		% part "B"
		a8 a~ a2. | r4 g8. f16 g8. a16 f4 | d2 a~ | a r4 a |
		c a8 c d f~ f4 | a8 g~ g4 f2 | d1~ | d4 r r <\parenthesize a'>8. <\parenthesize f>16 |
	}
}





