






\chordmode {
	\startChords
	\startSong

	\partial 2 s2 |

	\myMark "A"
	\startPart
	a:m6 e:7/b | a:m6/c e:7/b | a:m6 e:7/b | a:m6/c e4:7/b a:m6 | \myEndLine
	d2:m f | f2.:maj7 dis4:dim | e2 b:7 | e e8:m6 e4.:7.5- | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	a2:m6 e:7/b | a:m6/c e:7/b | a:m6 e:7/b | a:m d:7 | \myEndLine
	c a:m | d d:m7/g | a1:m | a2:m a:m7+ | a:m6 a:m7+ | d:9 e:5+ | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	a2.:m6 e4:7/b | a2:m6/c e:7/b | a:m6 e:7/b | a:m6/c e4:7/b a:m6 | \myEndLine
	d2:m f | f2.:maj dis4:dim | e2 b:7 | e e4:m6 e:7.5- | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	a2:m6 e:7/b | a:m6/c e:7/b | a:m6 e:7/b | a:m d:7 | \myEndLine
	c a:m | d d:m7/g | a1:m | d2 f | c f:9 | bes e:13.11 | a1:m | \myEndLine
	\endPart

	\endSong
	\endChords
}


