




% these lyrics are from the Internet and adjusted for this tune...
\lyricmode {

	% part "A"
	Sum -- mer -- time, __
	And the liv -- in' is eas -- y __
	Fish are jump -- in' __
	And the cot -- ton is high __

	% part "B"
	Your dad -- dy's rich __
	And yo' mam -- ma's good look -- in' __
	So hush lit -- tle ba -- by __
	Do -- n't __ you cry __

	One_of these
}




