





\lyricmode {

	% part "A"
	One_of these mornings __
	You're going to rise up sing -- ing __
	Then you'll spread your_wings __
	And you'll take to the sky __

	% part "B"
	But_till that morn -- ing __
	There's a -- 'no -- thing can harm you __
	With da -- ddy and ma -- mma st -- an -- ding by __
}



