








\lyricmode {

	% part "A"
	Sum -- mer -- time __
	an' the liv -- in' is eas -- y, __
	fish are jump -- in'; __
	an' the cot -- ton is high. __

	% part "B"
	Oh, yo' dad -- dy's rich, __
	an' yo' ma is good look -- in', __
	so hush, lit -- tle ba -- by, __
	don' __ _ yo' cry. __

	% part "A"
	One of these morn -- in's __
	you goin' to rise __ _ up sing -- in', __
	then you'll spread yo' wings __
	an' you'll take __ _ the sky. __

	% part "B"
	But 'til that morn -- in' __
	there's a -- noth -- in' can harm you __
	with dad -- dy an' mam -- my
	stand -- _ in' by. __
}
