




\lyricmode {

	% part "A"
	You __ must take the "\"A\"" Train __ To go to Sug -- ar Hill way up in Har -- lem. __
	_

	% part "B"
	Hur -- ry, __ get on now it's com -- ing. __ Lis -- ten __ to those rails a --
	thrum -- ming. __ All

	% part "A"
	'board! __ Get on the "\"A\"" Train, __ soon
	you will be on Sug -- ar Hill in Har -- lem. __
}

