



{
	\tempo "Allegro" 4 = 168
	\time 4/4
	\key c \major

	% part "A"
	\repeat volta 2 {
		g'1~ | g8 e'4. g,4 c | e8 aes,~ aes2.~ | aes1 |
		a! | a8 bes b e g, fis f cis' | c! e,~ e2.~ |
	} \alternative {
		{
			e1 |
		}
		{
			e2\repeatTie r |
		}
	}

	% part "B"
	a8 c~ c2. | e8 f,4. a4 c | e8 a,4.~ a2~ | a1 |
	a8 c~ c2. | e4 fis, a c | e8 a,~ a2.~ | a2 aes |

	% part "A"
	g1~ | g8 e'4. g,4 c | e8 aes,~ aes2.~ | aes1 |
	a! | a8 bes b e g, fis f cis' | c! e,~ e2.~ | e2 r2 |
	% These small cue notes were in the fake book, but splitting the voices
	% breaks the tie from the previous measure. Maybe some can find a fix?
	%<< { \teeny g8 a_\markup { \italic "(Instrumental)" } b c~ c4 c, } \\ { \normalsize e2 r2 } >> |
}


