


\chordmode {
	\startSong
	\startChords

	\partial 2 s2 |

	\myMark "A"
	\startPart
	d2.:m a2:m7 | d2.:m a2:m7 | d2.:m a2:m7 | d2.:m a2:m7 | \myEndLine
	d2.:m a2:m7 | d2.:m a2:m7 | d2.:m a2:m7 | d2.:m a2:m7 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	bes2. c2:7 | a2.:m7 d2:m | g2.:m7 c2:7 | f2. f2:7 | \myEndLine
	bes2. c2:7 | a2.:m7 d2:m | g2.:m7 c2:7 | e2.:m7 a2:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	d2.:m a2:m7 | d2.:m a2:m7 | d2.:m a2:m7 | d2.:m a2:m7 | \myEndLine
	d2.:m a2:m7 | d2.:m a2:m7 | d2.:m a2:m7 | d2.:m d2:m | \myEndLine
	\endPart

	\endChords
	\endSong
}

