




\lyricmode {

	% part "A"
	I can on -- ly give you love that lasts for -- ev -- er, __
	and the prom -- ise to be near each time you call;
	and the on -- ly heart I own, for you and you a -- lone, That's All, That's All. I can
	_ _ _ _ _
	%All, That's All.

	% part "B"
	those I am sure who have told you
	they would give you the world for a toy.
	All I have are these arms to en -- fold you
	and a love time can nev -- er de -- stroy.

	% part "A"
	If you're won -- d'ring what I'm ask -- ing in re -- turn dear, __
	you'll be glad to know that my de -- mands are small:
	say it's me that you'll a -- dore,
	for now and ev -- er -- more,
	That's All, That's All.
}

