





\lyricmode {

	% part "A"
	_ _
	on -ly give you coun -- try walks in spring -- time, __
	and a hand to hold when leaves be -- gin to fall;
	and a love whose burn -- ing light,
	will warm the win -- ter night,
	That's
	_ _ _ _ _
	All, That's All. There are
}
