


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	\repeat volta 2 {
		f1*2:maj7 | g:7 | \myEndLine
		g1:m7 | ges:7 |
	} \alternative {
		{
			f1:maj7 | ges:7.5- | \myEndLineVoltaNotLast
		}
		{
			f1*2:maj7 | \myEndLineVoltaLast
		}
	}
	\endPart

	\myMark "B"
	\startPart
	ges1*2:maj7 | ces:7.9 | \myEndLine
	fis:m7 | d:7.9 | \myEndLine
	g:m7 | ees:7.9 | \myEndLine
	a1:m7 | d:7.5-.9- | g:m7 | c:7.5-.9- | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	f1*2:maj7 | g:7 | \myEndLine
	g1:m7 | ges:7.5- | f:maj7 | ges:7 | \myEndLine
	f:maj7 | ges:7 | f1*2:maj7 | \myEndLine
	\endPart

	\endSong
	\endChords
}



