




\lyricmode {

	% part "A"
	The boat rides we would take,
	the moon -- light on the lake,
	the way we danced and hummed our fav -- 'rite song.
	The Things We Did Last Sum -- mer
	I'll re -- mem -- ber __ all win -- ter long.

	% part "A"
	The mid -- way and the fun,
	the kew -- pie dolls we won,
	the bell I/you rang to prove that I/you was/were strong;
	The Things We Did Last Sum -- mer
	I'll re -- mem -- ber __ all win -- ter long.

	% part "B"
	The ear -- ly morn -- ing hike.
	The rent -- ed tan -- dem bike.
	The lunch -- es that we used to pack: __
	We nev -- er could ex -- plain
	that sud -- den sum -- mer rain.
	The looks we got when we got back. __

	% part "A"
	The leaves be -- gan to fade
	like prom -- is -- es we made.
	How could a love that seemed so right go wrong?
	The Things We Did Last Sum -- mer
	I'll re -- mem -- ber __ all win -- ter long.
}
