




% this version of the lyrics is from the fake book but adjusted for the real book (the real book has no lyrics).
\lyricmode {

	% part "A"
	The sha -- dow of your smile, when you are gone. __
	Will co -- lor all my dreams, and light the dawn. __

	% part "B"
	Look in -- to my eyes, my love, and see. __
	All the love -- ly things you are to me. __

	% part "A"
	A wist -- ful lit -- tle star, was far too high. __
	A tear drop kissed your lips, and so did I. __

	% part "C"
	Now when I re -- mem -- ber spring. __
	All the joy that love can bring. __
	I will be re -- mem -- be -- ring __
	The sha -- dow of your smile.

	% part "return"
	The sha -- dow of your
}
