




\lyricmode {
	Your eyes don't shine __ like they used to shine. And the thrill is
	gone __ when your lips meet mine. I'm A -- fraid __ The Mas -- que -- rade Is
	O -- ver And so is love, __ and so is love. __
	Your love, __ and so is love. __ I
	guess I'll have to play Pag -- liac -- ci and get my self a clown's dis -- guise, and
	learn to laugh like Pag -- liac -- ci with tears __ in my eyes. You look the
	same, __ you're a lot the same, but my heart says, "\"No," __ no, you're
	not the "same.\"" I'm A -- fraid __ The Mas -- que -- rade Is O -- ver
	and so is love, __ and so is love. __
}

