




\lyricmode {

	% part "Instr."
	_ _ _ _ _ _ _ _

	% part "A"
	Some -- day when I'm aw -- fly low,
	When the world is cold,
	I will feel a glow just think -- ing
	of you,
	And the way you look to -- night.
	Oh, but you're

	% part "B"
	With each word your ten -- der -- ness grows, __
	tear -- ing my fear __ a -- part, __
	And that laugh that wrin -- kles your nose __
	touch -- es my fool -- ish heart. __

	% part "C"
	Love -- ly, nev -- er, nev -- er change,
	Keep that breath -- less charm,
	Won't you please ar -- range it 'cause I love you,
	Just the way you look to -- night,
	Just the way you look to -- night.
}

