

	DONE:
	- put in the fake book meta data.
	- put in the fake book chords.
	- put in the fake book lyrics.
	- put in the fake book tune.
	- checked the fake book chords.
	- checked the fake book tune.
	- checked the fake book lyrics.
	- heard the tune to make sure it sounds good and in the right tempo.
	- put in youtube performances.
	- added a lyrics url.
	TODO:
	- add another version of this tune (the amit golan version with the C7 after the G7 and the G7.5+ in the chorus instead
	of a regular G).



