





\lyricmode {

	% part "A"
	When she walks she's like __ a sam -- __ ba
	that swings __ so cool and sways __ _ so gen -- __ tle,
	that when __ she pass -- __ es, each one __ she pass -- __ es goes _ "\"ah!\"" __
}
