




\lyricmode {

	% part "A"
	It's not the pale moon that ex -- cites me, that thrills and de -- lights me. Oh,
	no, __ it's just The Near -- ness Of You. __

	% part "A"
	It is -- n't your sweet con -- ver -- sa -- tion that brings this sen -- sa -- tion. Oh,
	no, __ It's just the Near -- ness Of You. __

	% part "B"
	When you're in my arms __ and I feel you so close to me __ all my
	wild -- est dreams com true. __

	% part "A"
	I need no soft lights to en -- change me if you'll on -- ly grant me the
	right __ to hold you ev -- er so tight __ and to feel in the
	night The Near -- ness Of You. __
}
