







% these are lyrics from the internet adjusted for the real book
\lyricmode {

	% part "Intro"
	_ _ _ _ _ _ _ _ _ _ _ _ _

	% part "A"
	הוא יום א -- חד י -- בוא א -- הוב לי -- בי
	ע -- ייף מ -- נ -- תי -- בו א -- הוב לי -- בי
	ו -- כש -- הוא י -- ע -- צר
	אז רק או -- מר לו תי -- ש -- אר

	% part "A"
	י -- ביט בי ו -- יצ -- חק מה, מה מצ -- חיק?
	את שתי י -- די ח -- זק פת -- אום יח -- זיק
	ו -- גם אם זה מו -- זר
	א -- דע כי שנינו לא נאמר ד -- בר

	% part "B"
	גם אם זה יה -- יה יום ג -- שם
	יום של ק -- שת יום של סתיו
	הוא י -- בוא אי -- ני חו -- ש -- שת
	יום של תכ -- לת הוא דו -- פק ב -- ד -- לת

	% part "A"
	תה -- יה ל -- נו בק -- תה רק לי ו -- לו
	עם ד -- לת ו -- מי -- טה אח ו -- ח -- לון
	א -- שב בו ו -- א -- ביט
	מ -- תי י -- בוא א -- הוב לי -- בי?

	% part "Volta"
	_ בי?
}
