





\lyricmode {

	% part "Instr."
	_ _ _ _ _ _ _ _

	% part "A"
	Love -- ly, with your smile so warm,
	And your cheek so soft,
	There is noth -- ing for me but to
	love you,
	Just the way you look to -- night.
}
