



{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key f \major

	% part "Instr."
	\repeat volta 2 {
		r4 c' d2 | r4 a' g2 | r4 e d2 | r4 a g2 |
	}

	% part "A"
	%\mark \markup { \musicglyph #"scripts.segno" }
	\repeat volta 2 {
		c1 | f, | g4 a bes a | g1 |
		a4 bes c bes | a1 | bes4 c d c | bes c d e |
		f1 | f, | g4 a c bes | a2 g |
		%<< { r4 c d2 } \\ { f,1 } >> | << { r4 a' g2 } \\ { r1 } >> | << { r4 e d2 } \\ { r1 } >> |
		f1 | r1 | r1 |
	} \alternative {
		{
			%<< { r4 a g2} \\ { r4 d e g } >> |
			r4 d e g |
		}
		{
			%<< { r1 } \\ { r4 aes g2 } >> |
			r1 |
		}
	}

	% part "B"
	c2 c | c c | c4 ees des bes~ | bes1 |
	bes4 c aes g~ | g2 aes | f'1~ | f2. r4 |
	ees2 ees | ees ees | ees4 f des c~ | c1 |
	bes4 c2 aes4 | g2 aes | c1~ | c2. r4 |

	% part "C"
	c1 | f, | g4 a bes a | g1 |
	a4 bes c bes | a1 | bes4 c d c | bes c d e |
	f1 | f, | g4 a c bes | a2 g |
	%<< { r4 c d2 } \\ { f,1 } >> | << { r4 a' g2 } \\ { r1 } >> | << { r4 e d2 } \\ { r1 } >> | << { r4 a g2} \\ { r1 } >> |
	f1 | r1 | r1 | r1 |
	g4 a c bes | a2 g | f4 r r2 | r1 |
}


