

	DONE:
	- brought in the epdf from the new real book
	- filled in the meta data from the new real book.
	- added a lyrics url.
	- added youtube performances.
	- wrote down the new real book vol1 chords.
	- wrote down the new real book vol1 tune.
	- wrote down the new real book vol1 lyrics.
	- played the midi to hear that it sounds right.
	- check the new real book vol1 chords.
	- check the new real book vol1 tune.
	- check the new real book vol1 lyrics.
	TODO:
	- there is a second voice which is already written in the notes of the new real book vol1 version
	but which is marked out because of lyrics adjustment problems. Enable it.
	- there are more details (senor, fine, etc) in the new real book vol1 version which are not there.
	- add another version of this tune.




