

	DONE:
	- put in the tunes meta data from the real book and fake book.
	- put in locations for reak book and fake book.
	- put in the tunes structure.
	- put in the fake book chords.
	- put in the fake book tune.
	- put in the fake book lyrics.
	- check the fake book chords.
	- check the fake book tune.
	- check the fake book lyrics.
	- heard the tune to make sure it sounds good.
	- added you tube performances.
	- added a lyrics url.
	TODO:
	- add the real book version of this tune.
	- there is an intro to this song (I don't know where from...)
	\mark "Intro"
	\startPart
	f1:6.9 | c2:m7 c:m6 | f1:6.9 | c2:m7 c:m6 | \myEndLine
	\endPart





