



{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key ees \major

	\partial 4 bes4 |

	% part "A"
	c d ees f | g bes f ees | f1~ | f2 r8 g4. |
	ees4 f g bes | c ees c4. bes8 | c1~ | c2. bes4 |
	ees c bes aes | g f g aes | bes g f ees | f ees8 f~ f4 ees |
	d' c bes a | g f g f | aes1~ | aes2. bes,4 |

	% part "B"
	c d ees f | g bes f ees | f1~ | f2 r8 g4. |
	ees4 f g bes | c ees c4. bes8 | c1~ | c2. bes4 |
	ees c bes aes | g f g aes | bes g f ees8 d'~ | d2 r8 c4. |
	bes4 ees d c | bes ees, bes' aes | f2 g | ees1_\markup { \italic { Fine } } |
}




