

	DONE:
	- added a lyrics url.
	- put in the fake book meta data.
	- put in the fake book chords.
	- put in the fake book lyrics.
	- put in the fake book tune.
	- put in youtube performances.
	- brought in the epdf from the fake book for this tune.
	- checked the fake book chords.
	- checked the fake book tune.
	- checked the fake book lyrics.
	- heard the tune to make sure it sounds good and in the right tempo.
	TODO:
	- find another version of this tune?



