




\lyricmode {

	% part "A"
	The way you wear your hat, __
	the way you sip your tea, __
	the mem -- 'ry of all that __
	no, no! They Can't Take That A -- way From Me!

	% part "A"
	The way your smile just beams, __
	the way you sing off key, __
	the way you haunt my dreams, __
	no, no! They Can't Take That A -- way From Me! __

	% part "B"
	We may nev -- er, nev -- er meet a -- gain on the bump -- y road to love,
	still I'll al -- ways, al -- ways keep the mem -- 'ry of

	% part "A"
	the way you hold your knife, __
	the way we danced till three, __
	the way you changed my life, __
	no, no! They Can't Take That A -- way From Me! __
	No! They Can't Take That A -- way From Me! __
}
