


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	g1*2:6 | c:7 | \myEndLine
	g1*2 | a2:m7 d:7 | a:m7 d:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	g1*2:6 | c:7 | \myEndLine
	g1 | a2:m7 d:7 | g c:7 | g1 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	fis:m7 | b:7 | e1*2:m7 | \myEndLine
	f1:13 | e:7.5+ | a:9 | d:7.9- | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	g1*2 | c:7 | \myEndLine
	g1:6 | a2:m7 d:7 | g d:7 | g1 | \myEndLine
	\endPart

	\endSong
	\endChords
}


