




\lyricmode {

	% part "A"
	This Can't Be Love be -- cause I feel so well, __
	no sobs, no sor -- rows, no sighs; __

	% part "A"
	This Can't Be Love, I get no diz -- zy spell. __
	My head is not __ in the skies, __

	% part "B"
	my heart does not stand still, __ just hear it beat!
	This is too sweet to be love.

	% part "A"
	This Can't Be Love be -- cause I feel so well; __
	but still I love to look __ in your eyes. __
}
