

	DONE:
	- put in the chords (fakebook).
	- put in the tune (fakebook).
	- put in the lyrics (fakebook).
	- added the epdf from the fake book.
	- fixed the chords.
	- checked the meta data.
	- fixed the tune.
	- checked the chords.
	- checked the tune.
	- make the lyrics go with the tune and not be note based.
	- checked the lyrics.
	- added lyrics url.
	- added youtube performances.
	TODO:
	- add epdf from other sources (new real book vol II).



