




\lyricmode {
	Un -- for -- get -- ta -- ble, __ that's what you are, __
	Un -- for -- get -- ta -- ble, __ tho' near or far. __
	Like a song of love that clings __ to me,
	how the thought of you does things __ to me,
	nev -- er be -- fore __ has some -- one been more __

	Un -- for -- get -- ta -- ble, __ in ev -- 'ry way, __
	and for -- ev -- er more, __ that's how you'll stay. __
	That's why, dar -- ling, it's in -- cred -- i -- ble,
	that some -- one so Un -- for -- get -- __ ta -- ble,
	thinks that I am Un -- for -- get -- __ ta -- ble too. __
}
