


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	\repeat volta 3 {
		g2.:m7 | c:m7 | f:m7 | bes:7 | g:7 | g2:m7.5- c4:7 | f2.:7 | bes:7 |
		ees:7 | aes:maj7 |
	} \alternative {
		{
			f:m7.5- | bes2:7 bes4:7/aes | g2.:m7 | c:7 | f:m7 | bes:7 | \myEndLineVoltaNotLast
		}
		{
			a:m7 | d2:7 d4:7/c | b2.:m7 | a:m7 | g:maj7 | fis:m7 | \myEndLineVoltaLast
		}
	}
	\endPart

	\myMark "B"
	\startPart
	f2.:m7 | bes:7 | g:m7 | c2:7.5- c4:7 | f2.:m7 | g:7 | c:m7 | bes:m7/ees | \myEndLine
	aes:maj7 | g:7 | c:m7 | f:9 | g:m7 | ges:7 | f:m7 | bes:7 | \myEndLine
	\endPart

	%\myMark "Coda"
	\mark \markup { \musicglyph #"scripts.coda" }
	\startPart
	g2.:m7 | c2:7.5- c4:7 | a2.:m7 | d:7 | g:m7 | ees2:11 ees4:7 | \myEndLine
	aes2.:maj7 | des:9 | c:m | c:m7/bes | f:7/a | aes:dim7 | ees:6/g | ges:dim7 | \myEndLine
	f:m7 | bes2:9 bes4:7.9- | ees2. | ees:6.9 | \myEndLine
	\endPart

	\endSong
	\endChords
}




