




\lyricmode {

	% part "A"
	In her own sweet world, __ pop -- u -- lat -- ed by dolls and clowns and a
	prince and a big pur -- ple bear, __
	wear -- y grown -- ups all wear. __

	% part "B"
	In __ the sun, __ she danc -- es to si -- lent mu -- sic, songs that are spun of
	gold some -- where in her own lit -- tle head. __

	% part "Coda"
	bear. __ When she goes they will cry __ as they whis -- per "\"good" -- "bye.\"" __
	They will miss her, I fear, but then, so will I. __
}


