


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	f1*4:7 | \myEndLine
	bes1*2:7 | f:7 | \myEndLine
	c1:7 | bes:7 | c:7 | bes:7 | \myEndLine
	c:7 | bes:7 | f1*2:7 | \myEndLine
	\endPart

	\endSong
	\endChords
}

