



{
	\tempo "Allegro" 4 = 130
	\time 4/4
	\key c \major

	% part "A"
	ees'1\p\<~ | ees4\! f,8 f <aes c> ( <bes d>4-. ) f8~ | f1~ | f2 r |
	f'1\p\<~ | f4\! f,8 f <aes c> ( <bes d>4-. ) f8~ | f1~ | f2 r |
	r4 c'8 ( c g'4 a | aes8 g f d f4 g-. ) |
	r c,8 ( c g'4 a | aes8 g f d c4 d-. ) |
	r c8 ( c g'4 aes | \mark \markup { \italic { break } } f-. ) f,8 f <aes c> ( <bes d>4-. ) f8~ | f1 | r |
}
