

	DONE:
	- added 'structure' field to the meta data.
	TODO:
	- bring in the aebersold pdf this tune is based on as it is not in the epdf folder.
	- document what has been done.
	- document the youtube performance.
	- add the piano accompaniment for this song (rythm pattern with some notes - ripp
	it off the album).
	- do the real book III version of this tune too (it is already in the epdf).


