




\lyricmode {

	% part "A"
	I see trees of green, red ros -- es too, I see the bloom for me and you, __
	and I think __ to my -- self What A Won -- der -- ful World. __

	% part "A"
	I see skies of blue and clouds of white, the bright __ bless -- ed day, the dark __ sac -- red night, __
	and I think __ to my -- self What A Won -- der -- ful World. __

	% part "B"
	The col -- ors of the rain -- bow, so pret -- ty in the sky
	are al -- so on the fa -- ces of peo -- ple go -- in' by,
	I see friends shak -- in' hands, __ say -- in' "\"How" do you "do!\""
	They're real -- ly say -- in' "\"I" love "you,\""

	% part "A"
	I hear ba -- bies cry, I watch them grow.
	They'll learn much more than I'll __ ev -- er know, __
	and I think __ to my -- self What A Won -- der -- ful World. __
	Yes, I think to my -- self What A Won -- der -- ful World. __
}
