

	DONE:
	- wrote down fake book location.
	- filled in the structure.
	- filled in meta data from the fake book.
	- filled in chords from the fake book.
	- filled in tune from the fake book.
	- filled in lyrics from the real book.
	- checked the chords from the fake book.
	- checked the tune from the fake book.
	- checked the lyrics from the fake book.
	- heard the tune to make sure it sounds ok.
	- added you tube performances and lyrics url.
	TODO:
	- get another version of this tune from somewhere.



