


\chordmode {
	\startChords
	\startSong

	\partial 2. s2. |

	%\myMark "A"
	\mark \markup { \musicglyph #"scripts.segno" }
	\startPart
	g1:m7 | c:7 | f | f2/a aes:dim7 | \myEndLine
	g1:m7 | c2:7 c:7.5+ | f1*2 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	e1:m7 | a:7 | d1*2:m7 | \myEndLine
	g:7 | g1:m7 | c2:7 r | \myEndLine
	\endPart

	% end of the "A" part
	\mark \markup { \musicglyph #"scripts.coda" } c1:m7 | f:7 | \myEndLine

	\myMark "C"
	\startPart
	bes1:maj7 | bes:m6 | f | aes:dim7 | \myEndLine
	g:m7 | c:7 | f1*2 | \myEndLine
	\endPart

	\endSong
	\endChords
}



