




\lyricmode {

	% part "A"
	What A Diff -- 'rence A Day Made, __
	twen -- ty -- four lit -- tle ho -- urs, __
	brought the sun and the flow -- ers __
	where there used to be rain. __

	% part "B"
	My yes -- ter day was blue dear, __
	to -- day I'm part of you dear, __
	my lone -- ly nights are thru dear, __
	since you said you were mine, __

	What A Diff -- 'rence A

	bliss; that thrill -- ing kiss.

	% part "C"
	It's heav -- en when you __
	find ro -- mance on your men -- u. __
	What A Diff -- 'rence A Day Made,
	and the diff -- 'rence is you. __
}

