



{
	\tempo "Andante" 4 = 88
	\time 4/4
	\key ees \major

	\repeat volta 2 {

		% part "A"
		bes4 ees aes g | ees1 | bes4 ees aes g | ees f2. |
		bes,4 ees c' bes | aes2. g4 | f1~ | f2. g8 aes |

		% part "B"
		bes4. ees,8 ees4 ees | g f2 g8 aes | \tuplet 3/2 { bes4 g aes } \tuplet 3/2 { bes g aes } | bes2. aes8 bes |
		c4. f,8 f4 f | aes g2 aes8 bes | \tuplet 3/2 { c4 aes bes } \tuplet 3/2 { c aes c } | bes1 |

		% part "A"
		bes,4 ees aes g | ees1 | bes4 ees aes g | ees f2. |
		bes,4 ees c' bes | aes2. g4 | f1~ | f2. g8 aes |

		% part "C"
		bes4. ees,8 ees4 ees | d' c2 c,4 | c' bes2 c4 | aes2. f4 |
		bes, ees aes g | ees2 f |
	} \alternative {
		{ ees1~ | ees4 r r2 | }
		{ ees1~ | ees2. r4 | }
	}
}

