


\chordmode {
	\startChords
	\startSong

	\repeat volta 2 {

		\myMark "A"
		\startPart
		ees2 c:7.9-.5+ | f:m7 bes:7 | ees c:7.9-.5+ | f:m7 bes:7 | \myEndLine
		ees1 | des2:9 c:9.5+ | f1:m7 | bes:7.9- | \myEndLine
		\endPart

		\myMark "B"
		\startPart
		ees1 | f2:m7 bes:7 | g1:m7 | c:7 | \myEndLine
		f:m | c:7.9- | f:m7 | bes:7 | \myEndLine
		\endPart

		\myMark "A"
		\startPart
		ees2 c:7.9-.5+ | f:m7 bes:7 | ees c:7.9-.5+ | f:m7 bes:7 | \myEndLine
		ees1 | des2:9 c:9.5+ | f1:m7 | bes:7 | \myEndLine
		\endPart

		\myMark "C"
		\startPart
		ees1 | aes | g2:m7 c:7 | f:m7 des:9 | \myEndLine
		ees c:7.9-.5+ | f:m7 bes:7 |
	} \alternative {
		{
			ees c:m7 | f:m7 bes:7.9- | \myEndLineVoltaNotLast
		}
		{
			ees1*2 | \myEndLineVoltaLast
		}
	}
	\endPart

	\endSong
	\endChords
}


