




\lyricmode {

	% part "A"
	When I Fall In Love
	it will be for -- ev -- er,
	or I'll nev -- er
	fall in love. __

	% part "B"
	in a rest -- less world like this is,
	love is end -- ed be -- fore it's be -- gun,
	and too man -- y moon -- light kiss -- es
	seem to cool in the warmth of the sun.

	% part "A"
	When I give my heart
	it will be com -- plete -- ly
	or I'll nev -- er
	give my heart. __

	% part "C"
	And the mo -- ment I can feel that
	you feel that way too,
	is When I Fall In
	Love with you. __

	% part "Volta"
	you. __
}
