

	DONE:
	- added the real book epdf.
	- added the fake book epdf.
	- filled in the tunes structure.
	- filled in the tunes meta data from the fake book.
	- filled in the lyrics url.
	- filled in youtube performances.
	- filled in the fake book lyrics.
	- filled in the fake book chords.
	- filled in the fake book tune.
	- checked the fake book chords.
	- checked the fake book lyrics.
	- checked the fake book tune.
	- heard that the fake book version sounds good.
	- adjusted the fake book tunes speed.
	TODO:
	- add the real book version (epdf is already here).



