






\lyricmode {
	You think you've lost your love, __
	Well, I saw her yesterday.
	It's you she's thinking of
	And she told me what to say.

	She loves you, yeah, yeah, yeah
	She loves you, yeah, yeah, yeah
	She loves you, yeah, yeah, yeah, yeah

	She says she loves you
	And you know that can't be bad.
	Yes, she loves you
	And you know you should be glad.

	She said you hurt her so
	She almost lost her mind.
	But now she said she knows
	You're not the hurting kind.

	She says she loves you
	And you know that can't be bad.
	Yes, she loves you
	And you know you should be glad. Ooh!

	She loves you, yeah, yeah, yeah
	She loves you, yeah, yeah, yeah
	And with a love like that
	You know you should be glad.

	You know it's up to you,
	I think it's only fair,
	Pride can hurt you, too,
	Apologize to her

	Because she loves you
	And you know that can't be bad.
	Yes, she loves you
	And you know you should be glad. Ooh!

	She loves you, yeah, yeah, yeah
	She loves you, yeah, yeah, yeah

	with a love like that
	You know you should
	Be Glad!

	with a love like that
	You know you should
	Be Glad!

	With a love like that
	You know you should
	be glad!

	Yeah, yeah, yeah.
	Yeah, yeah, yeah Ye-ah.
}
