




\chordmode {
	\startChords
	\startSong

	\partial 8 s8 |

	\repeat volta 3 {

		\myMark "A"
		\startPart
		f1 | d:m | a:m | c:7 | \myEndLine
		f | d:m | a:m | c:7 | \myEndLine
		f | f | d:m | d:m | \myEndLine
		bes:m6 | bes:m6 | c:7 | c:7 | \myEndLine
		\endPart

		\myMark "B"
		\startPart
		d:m | d:m | g:7 | g:7 | \myEndLine
		bes:m6 | c2:7.5+ c:7 | f1 | f | \myEndLine
		\endPart
	}

	\endSong
	\endChords
}


