





{
	\tempo "Moderato" 4 = 112
	\time 4/4
	\key f \major

	\partial 8 c'8-2 |
	f4-1 g a bes8 <f a>~ | <f a>2. a8-3 a | << { c4-5 a a4. g8 } \\ { e1-1 } >> | <e a>8 c' <e, a>2 r8 c' |
	f,4-1 g a bes8 <f a>~ | <f a>2. a8 a | << { c4 a a4. g8 } \\ { e1 } >> | <e a>8 c' <e, a>4 r8 c'-2 c c |
	d4-3 f2 f,8-3 g |
}

