

\chordmode {
	\startChords
	\startSong

	\myWordMark "בית"
	\startPart
	\repeat volta 2 {
		a1:m | d:m/f | e:sus4 | e:7 |
	}
	f | g:7 | c | e:7 |
	a:m | d:m | e:sus4 | e:7 |
	\endPart

	\myWordMark "פזמון"
	\startPart
	d:m | g | c | a:7 |
	d:m | e:7 | f | a:7 |
	d:m | g | c | a:7 |
	d:m | e:7 | f | a:m |
	\endPart

	\endSong
	\endChords
}

