

	DONE:
	- added the epdf from a scan.
	- divided the song into parts and put the structure in the headers.
	- adjust the lyrics.
	- checked the lyrics are adjusted.
	TODO:
	- add description to the youtube link and add another link.
	- add nikud? Is that possible ?




