


% Lyrics
\verticalSpace
\verticalSpace
\markup {
	\small {
		\fill-line {
			\hspace #0
			\concat {
				\right-column {
					\box "Chorus"
					"איך הוא שר, איך הוא שר, הם רקדו מסביבו בטירוף הוא היה מאושר"
					"איך הוא שר, איך הוא שר, מה נשאר מהזוהר מכל השירים מה נשאר"
					\vspace #0.3
					\box "Verse"
					"הם סגדו לו כמו אל, הוא היה סך הכל בן-אדם"
					"הקולות ששמע בשכונה נמוגים לאיטם"
					"רק הפחד ההוא הלבן בעורקיו מתפתל"
					"הוא חשב שימריא איתו, לא, הוא נופל"
					\vspace #0.3
					\box "Chorus"
					"איך הוא שר, איך הוא שר, הם רקדו מסביבו בטירוף הוא היה מאושר"
					"איך הוא שר, איך הוא שר, מה נשאר מהזוהר מכל השירים מה נשאר"
				}
				\hspace #3
				\right-column {
					\box "Verse"
					"מרחוק הוא שומע תפילות בית הכנסת מלא"
					"הנרות הדולקים ריח ערב שבת שוב עולה"
					"איך כולם התגאו בו הילד עם קול הזהב"
					"והסוף כמו בקרב אבוד, סוגר עליו"
					\vspace #0.3
					\box "Verse"
					"ואמו לחשה לתינוק שרעד ובכה"
					"עוד תיראה לכולנו תהיה גאווה מקולך"
					"חום ידו של אביו כששר והאש בעיניו"
					"והסוף כמו בקרב אבוד, סוגר עליו"
				}
			}
		}
	}
}
