





% Lyrics
\verticalSpace
\verticalSpace
\markup {
	\small {
		\fill-line {
			\hspace #0
			\concat {
				\right-column {

					\box "A"
					"איך זה שכוכב אחד לבד מעז."
					"איך הוא מעז, למען השם."
					"כוכב אחד לבד."
					"אני לא הייתי מעז."
					"ואני, בעצם, לא לבד."
				}
			}
		}
	}
}
