


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	a1*3:maj7 | e2:m7 e:m6 | e1:m | \myEndLine
	d:m7 | d2:m7 d:m6 | a1*2:maj7 | \myEndLine
	f:maj7 | c:maj7 | \myEndLine
	f2 b:m7 | e1:7 | a1*2:maj7 | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	d1:7 | d:m | fis:dim | a:m | \myEndLine
	b:m7 | a:7 | d:m/f | fis1*2:m | \myEndLine
	a:maj7 | e2:m7 e:m6 | e1:m | \myEndLine
	d:m7 | d2:m6 d:m7 | a1*2:maj7 | \myEndLine
	\endPart

	\endSong
	\endChords
}



