



% Lyrics
\verticalSpace
\verticalSpace
\markup {
	\small {
		\fill-line {
			\hspace #0
			\concat {
				\right-column {
					\box "Verse"
					"אין מקום לדאגה היי שקטה"
					"אני איתך, את לא לבד לעת עתה"
					"עכשיו הכל זורם כאן במנוחה"
					"ואת בוכה, ואת בוכה."
					\vspace #0.3
					\box "Chorus"
					"ספרי לי מה כבד עלייך"
					"את כל מה שחבוי בך ונרדם"
					"אני אמחה את דמעותייך"
					"ורק שלא תבכי עוד לעולם."
				}
				\hspace #3
				\right-column {
					\box "Verse"
					"ברחובות כיבו מזמן את הניאון"
					"את נראית לי עייפה נלך לישון"
					"האור דולק בחדר השני"
					"אבל מישהו בוכה וזה לא אני."
					\vspace #0.3
					\box "Verse"
					"אני רוצה לשמור עלייך ועלי"
					"היום עבר עלינו יום קשה מדי"
					"בחוץ יורדים עכשיו גשמי ברכה"
					"ואת בוכה, ואת בוכה."
					\vspace #0.3
					\box "Chorus"
					"ספרי לי מה כבד עלייך"
					"את כל מה שחבוי בך ונרדם"
					"אני אמחה את דמעותייך"
					"ורק שלא תבכי עוד לעולם."
				}
			}
		}
	}
}
