


{
	\tempo "Moderato" 4 = 80
	\time 4/4
	\key e \minor

	% part "Intro"
	b2. c4 | b2. a8 b16 c |

	% part "Verse"
	d8. c16 b8 c d8. c16 b8 c | d2.. e16 fis | g8. fis16 e8 e d8. b16 d8 e | b2.. b16 c |
	d8. d16 d8 d d8. d16 e8 fis | d2.. e16 fis | g8. fis16 e8 e d4 \times 2/3 { d8 d d } | e1 |
}

