






% Lyrics
\verticalSpace
\verticalSpace
\markup {
	\small {
		\fill-line {
			\hspace #0
			\concat {
				\right-column {

					\box "B"
					"הרדופים שלי, כמוני, וכמוך שכל ימייך,"
					"את פרחי האור שלנו את פיזרת לכל רועה."
					"לא עופות מרום אנחנו, ואל גובה השמיים,"
					"גם אתם, גם אנוכי - לא נגיע כנראה."
					\vspace #0.3

					\box "A"
					"רק בהר על קו הרכס מישהו מוסיף ללכת,"
					"מן הואדי והאבן, לרכסים, אל הרוחות."
					"עד אשר בכסות הערב, יחזור נוגה אלייך,"
					"עם פכפוך פלגים, עם רחש הרדופים ליד החוף."
				}
				\hspace #3
				\right-column {

					\box "A"
					"לא נפרח כבר פעמיים, והרוח על המים,"
					"יפזר דממה צוננת על פנינו החיוורות"
					"שמה בין איבי הנחל, בשעה אחת נשכחת,"
					"זכרונות אזוב שלנו מתרפקים על הקירות."
					\vspace #0.3

					\box "B"
					"בלי תוגה, כפופי צמרת, בלוריות שיבה נבדרת"
					"באשר יפות התואר, בין שריקות העדרים."
					"תפנוקי גוון ירטיטו, בלכתן לרחוץ בזרם"
					"נכלמים נשפיל עיננו, אל המים הקרירים."
					\vspace #0.3

					\box "A"
					"לא נוסיפה עוד לנוע, משתאים נביט ברוח"
					"איך הוא יחד עם המים, מפרקים את הסלעים."
					"תאנה חנטה פגיה, והנשר היגע -"
					"אל קינו חזר בחושך מדרכי האלוהים."

				}
			}
		}
	}
}
