




\lyricmode {
	לא נפ -- רח כבר פ -- ע -- מ -- יים, ו -- ה -- רו -- ח על ה -- מ -- ים,
	י -- פ -- זר דמ -- מה צו -- נ -- נת על פ -- ני -- נו ה -- חיוו -- רות

	ש -- מה _

	בלי תו -- גה, כפו -- פי צ -- מ -- רת, בלו -- ר -- יות שי -- בה נב -- ד -- רת
	ב -- א -- שר י -- פות ה -- תו -- אר, בין שרי -- קות ה -- ע -- _ ד -- רים.

	תפ -- נו
}


