

	DONE:
	TODO:
	- the basics are here. Duplicate the A and B parts again (in chords and melody) and plug
	the A part again. There are some minor chord changes. Check vs the you tube performance.
	Then adjust the lyrics and you are done.





