





\lyricmode {
	_ _ בין אי -- בי ה -- נ -- חל, ב -- ש -- עה א -- חת נש -- כ -- חת,
	זכ -- רו -- נות א -- זוב ש -- ל -- נו מת -- רפ -- קים על ה -- קי -- _ _ _ רות.

	_ _ קי ג -- וון יר -- טי -- טו, ב -- לכ -- תן לר -- חוץ ב -- ז -- רם
	נכ -- ל _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ מים נש -- פיל עי -- נ -- נו, אל ה -- מ -- ים ה -- קרי -- רים.

	לא נו
}

