


\chordmode {
	\startChords
	\startSong

	\myWordMark "Verse"
	\startPart
	a1 | fis:m | d | g | a | \myEndLine
	d | d:m | g | a | \myEndLine
	a1 | fis:m | d | g | a | \myEndLine
	a | cis:m | d | d:m | a | \myEndLine
	\endPart

	\myWordMark "Chorus"
	\startPart
	fis1*2:m | cis:m | b:m | fis:m | \myEndLine
	a | cis:m | b:m | fis:m | \myEndLine
	\endPart

	\myWordMark "Solo"
	\startPart
	\startRepeat
	fis1*2:m | cis:m | b:m | fis:m | \myEndLine
	\endRepeat
	\endPart

	\endSong
	\endChords
}

