



% Lyrics
\verticalSpace
\verticalSpace
\markup {
	\small {
		\fill-line {
			\hspace #0
			\concat {
				\right-column {
					\box "Verse"
					"לא יכולתי לעשות עם זה כלום, אתה שומע?"
					"לא יכולתי לעשות עם זה כלום."
					"זה היה אצלי בידיים..."
					"ולא יכולתי לעשות כלום."
					\vspace #0.3
					\box "Verse"
					"אנלא יכולתי עם זה משהו, אתה שומע?"
					"יכולתי לגמגם"
					"מה רציתי להגיד"
					"יכולתי להרגיש הכי רע, שאפשר."
					\vspace #0.3
					\box "Verse"
					"ופתאום אתה עומד כמו ילד קטן"
					"בסינור לצוואר וחוזר על השאלה"
					"מה עשית עם זה, שואלים לאן"
					"בזבזת את כל זה היה לך סיכוי"
					"ואתה תצטרך להתחיל הכל מחדש."
					\vspace #0.3
					\box "Verse"
					"לא יכולתי לעשות עם זה כלום."
				}
				\hspace #3
				\right-column {
					\box "Verse"
					"לא יכולתי לעשות עם זה כלום, אתה שומע?"
					"לא יכולתי לעשות עם זה כלום."
					"זה היה אצלי בידיים..."
					"ולא יכולתי לעשות כלום."
					\vspace #0.3
					\box "Verse"
					"לא יכולתי לעשות משהו, אתה שומע?"
					"יכולתי לגמגם"
					"מה רציתי להגיד "
					"יכולתי להרגיש הכי רע, שאפשר."
					\vspace #0.3
					\box "Verse"
					"לא יכולתי לעשות עם זה כלום, אתה שומע?"
					"לא יכולתי לעשות עם זה כלום."
					"זה היה אצלי בידיים..."
					"ולא יכולתי לעשות כלום."
					\vspace #0.3
					\box "Verse"
					"לא יכולתי לעשות משהו, אתה שומע?"
					"יכולתי לגמגם"
					"מה רציתי להגיד"
					"יכולתי להרגיש הכי רע, שאפשר."
					\vspace #0.3
					\box "Verse"
					"ופתאום אתה עומד כמו ילד קטן"
					"בסינור לצוואר וחוזר על השאלה"
					"מה עשית עם זה, שואלים לאן"
					"בזבזת את כל זה היה לך סיכוי"
					"ואתה תצטרך להתחיל הכל מחדש."
				}
			}
		}
	}
}
