





% Lyrics
\verticalSpace
\verticalSpace
\markup {
	\small {
		\fill-line {
			\hspace #0
			\concat {
				\right-column {

					\box "A"
					"נח - היונה כבר שבה עם עלה של זית"
					"נח - תן לנו לצאת ולחזור לבית"
					"כי כבר נמאסנו זה על זה"
					"האריה על הממותה, הגמל על השיבוטה"
					"וגם ההיפופוטם."
					"פתח לרגע את הצוהר"
					"ונעוף לתכלת הלבנה"
					"כך עם היונה."
				}
				\hspace #3
				\right-column {

					\box "A"
					"נח - כמה זמן נמשיך לשוט על פני המים?"
					"נח - כל החלונות סגורים כמעט חודשיים."
					"וכבר אין לנו אויר"
					"לאריה ולממותה לגמל ולשיבוטה"
					"וגם להיפופוטם."
					"פתח לרגע את הצוהר"
					"ואל תוך התכלת הלבנה"
					"שלח את היונה."
					\vspace #0.3

					\box "A"
					"נח - מה אתה דואג, הן כבר חדל הגשם"
					"נח - פתח את החלון, אולי הופיעה קשת"
					"ויראו אותה כולם"
					"האריה והממותה, הגמל והשיבוטה"
					"וגם ההיפופוטם."
					"פתח לרגע את הצוהר"
					"ואל תוך התכלת הלבנה"
					"שלח את היונה."
				}
			}
		}
	}
}
