




\lyricmode {

	% part "Intro"
	_ _ _ _ _ _ _ _
	_ _ _ _ _ _ _ _
	_ _ _ _ _ _ _ _
	_ _ _ _ _ _

	% part "A"
	נ -- ח- __ לא ש -- כ -- חנו איך __ ב -- ג -- שם ו -- __ ב -- ס -- ער
	נ -- ח- __ ל -- תי -- בה א -- ספ -- __ ת את ח -- יות __ ה -- י -- ער.
	שת -- יים, שת -- יים מ -- __ כל מין __
	ה -- אר -- יה ו -- ה -- __ מ -- מו -- תה, ה -- ג -- מל ו -- ה -- __ שי -- בו -- טה
	ו -- גם ה -- הי -- פו -- __ פו -- טם. __
	איך פ -- תח -- ת את __ ה -- צו -- הר
	ו -- מ -- תוך ה -- תכ -- __ לת ה -- ל -- ב -- נה __
	ב -- אה ה -- יו -- נה. __
}

