

	DONE:
	- put in some of the meta data
	- put in the chords
	- put in the melody
	- put in the lyrics
	- listened to the midi and it is ok.
	- added the you tube link.
	- checked the chords.
	- checked the melody.
	- marked out the structure.
	- added the lyrics url
	- adjusted the lyrics for the tune.
	TODO:




