



{
	\tempo "Moderato" 4 = 112
	\time 3/4
	\key a \minor

	\partial 4 a'8 e |

	% part "Intro"
	c'4 a4. e8 | f2 g8 a | b4 a4. g8 | f8 e4. f8 g |
	a2 f8 e | ees2 b8 a | gis4 a b |

	% part "A"
	c'2 b8 a | g2 f8 d | e2 d4 | c8 b a2 |
	c'8 b a4 g8 f | e2 d8 e | f4 e ees | e2. |
	d4 e f | g a4. f8 | e4 e d | c b2 |
	a8 b c4 d8 e | g4 f d | e f ees | e2. |
	d4 e f | g a4. f8 | e4 e d | c b2 |
	a8 b c4 d8 e | g4 f d | e c b | a2. ~ | a2 a'8 e |

	% part "B"
	c'2 a8 e | f2 g8 a | b4 a g | f e f8 g |
	a2 f8 e | ees2 b8 a | gis4 a b | c2 a'8 e |
	c'2 a8 e | f2 g8 a | b4 a g | f e f8 g |
	a2 b8 c | d2 b8 a | gis2 a8 b | a2. ~ | a2. |
}



