





\lyricmode {
	_ _
	_ _ _ _ _ _ _ _ _ _ _ _ _
	_ _ _ _ _ _ _ _ _

	אם ה -- יו עי -- נו -- יים - הם הפ -- לי -- גו אל -- יך
	מפר -- שי ה -- ל -- בן אל האו -- פל של -- ך
	תנני ללכת תנני ללכת
	לכרוע על חוף הסליחה.
}

