






% Lyrics
\verticalSpace
\verticalSpace
\markup {
	\small {
		\fill-line {
			\hspace #0
			\concat {
				\right-column {

					\box "B"
					"ולמדתי: שם לכל ריס וציפורן"
					"ולכל שערה בבשר החשוף"
					"וריח ילדות ריח דבק ואורן"
					"הוא ניחוח לילו של הגוף."
					\vspace #0.3

					\box "A"
					"באת אלי את עיני לפקוח,"
					"וגופך לי מבט וחלון וראי,"
					"באת כלילה הבא אל האוח"
					"להראות לו בחושך את כל הדברים."
				}
				\hspace #3
				\right-column {

					\box "A"
					"באת אלי את עיני לפקוח,"
					"וגופך לי מבט וחלון וראי,"
					"באת כלילה הבא אל האוח"
					"להראות לו בחושך את כל הדברים."
					\vspace #0.3

					\box "B"
					"ולמדתי: שם לכל ריס וציפורן"
					"ולכל שערה בבשר החשוף"
					"וריח ילדות ריח דבק ואורן"
					"הוא ניחוח לילו של הגוף."
					\vspace #0.3

					\box "A"
					"אם היו עינויים - הם הפליגו אליך"
					"מפרשי הלבן אל האופל שלך"
					"תנני ללכת תנני ללכת"
					"לכרוע על חוף הסליחה."
				}
			}
		}
	}
}
