

	DONE:
	- did the opening.
	- did the lyrics for the first half of the song.
	TODO:
	- check the rythm of the melody to see if it's ok.
	- add the ending.
	- check the singers word intonation to check if it's ok.
	- document the you tube performances.





