


\chordmode {
	\startChords
	\startSong

	\partial 4 s4 |

	\myWordMark "Intro"
	\startPart
	a2.:m | d:m7 | g:7 | c:maj7 |
	f:maj7 | b:7 | e:7 | \myEndLine
	\endPart

	\myWordMark "A"
	\startPart
	a2.:m | d:m7 | e:7 | a:m |
	a:m | d:m7 | e:7 | a:7 | \myEndLine
	d:m7 | g:7 | c2:maj7 c4:maj7/d | e2.:7 |
	a:m | d:m7 | e:7 | a:7 | \myEndLine
	d:m7 | g:7 | c2:maj7 c4:maj7/d | e2.:7 |
	a:m | d:m7 | e:7 | a:m | a:m | \myEndLine
	\endPart

	\myWordMark "B"
	\startPart
	\repeat unfold 2 {
		a2.:m | d:m7 | g:7 | c:maj7 |
		f:maj7 | b:7 | e:7 | a:m |
	}
	a:m | \myEndLine
	\endPart

	\endSong
	\endChords
}




