


\chordmode {
	\startChords
	\startSong

	\myWordMark "Intro"
	f1 | g | c | a:m | \myEndLine
	f | g | c1*2 | \myEndLine

	\myWordMark "Verse"
	\repeat volta 2 {
		c1*2 | g1*2 | \myEndLine
		g1*2 | c1*2 | \myEndLine
	}
	bes1 | a | aes | g | \myEndLine
	c2 c4 d | ees1 | c1*2 | \myEndLine

	\myWordMark "Chorus"
	\repeat volta 2 {
		f1 | g | c | a:m | \myEndLine
		d:m7 | g | c | c:7 | \myEndLine
	}
	\myWordMark "Bridge"
	f | g | c1*2 | \myEndLine

	\myWordMark "Outro"
	\repeat volta 2 {
		c1 | g | g | c | \myEndLine
	}

	\endSong
	\endChords
}

