



% Lyrics
\verticalSpace
\verticalSpace
\markup {
	\small {
		\fill-line {
			\hspace #0
			\concat {
				\right-column {
					\box "Verse"
					"אז אני מטלפן מתכנן מתכונן"
					"מתקלח שעה מתבונן במראה"
					"מחטא יבלות ומרים משקולות"
					"משחרר כיווצים ומותח קפיצים"
					"כשהראש מסודר לא איכפת שום דבר"
					"יום שישי כבר מגיע"
					"השבוע נגמר"
					\vspace #0.3
					\box "Chorus"
					"יום שישי את יודעת..."
					\vspace #0.3
					\box "Verse"
					"כשעובר יום שבת והזמן זז לאט"
					"אני שוב מיובש, עוד שבוע חדש"
					"בעיות, עניינים, חדשות, עיתונים"
					"והכל שגרתי, שיעמום אמיתי"
					"אז עכשיו אני כאן, מעביר את הזמן"
					"אין לי דרך לברוח, לא יודע לאן"
					\vspace #0.3
					\box "Chorus"
					"יום שישי את יודעת..."
				}
				\hspace #3
				\right-column {
					\box "Verse"
					"השבוע מתחיל מאוחר כרגיל"
					"אין לי כח לקום אין לי חשק לכלום"
					"יום ראשון דיכאון יום שני עצבני"
					"יום שלישי לא ניגמר רביעי מיותר"
					"וביום חמישי מצב רוח חופשי"
					"זה כבר סוף השבוע"
					"ומחר יום שישי"
					\vspace #0.3
					\box "Chorus"
					"יום שישי את יודעת"
					"יש בעיר מסיבה"
					"נשארים כל הלילה"
					"עד הבוקר הבא"
					"יום שישי את יודעת"
					"והיום במיוחד"
					"אם תירצי כל הלילה"
					"הוא שלנו לבד"
				}
			}
		}
	}
}
