

	DONE:
	TODO:
	- mark what has been done in this tune.
	- add more text here about paradiddles.
	- add a reference to wikipedia: http://en.wikipedia.org/wiki/Rudiment
	- get more examples from wikipedia coded here.

