

	DONE:
	TODO:
	- six to dim with full chords going up and down.
	- six to dim with drop two (two hands).
	- six to dim with full chords left hand going down.
	- six to dim arpeggio with the two hands in an interval (a third and then a fifth).
		at least a couple of kinds of argpegios.

