




\lyricmode {
	A -- ve, Ma -- ri -- a! Gra -- ti -- a ple -- na. Do -- mi -- nus Te -- cum
	be -- ne -- dic -- ta tu in mu -- li -- e -- ri -- bus et be -- ne dic -- tus
	fruc -- tus ven tris tu -- i Je -- sus. Sanc -- ta Ma -- ri -- a. Sanc -- ta Ma --
	ri -- a Ma -- ri -- a, O -- ra -- pro no -- bis no -- bis pec -- ca -- to -- ri -- bus nuc et in
	Ho -- ra, in ho -- ra mor -- tis nos -- trae. A -- men. A -- men.
}
