


\chordmode {
	\startChords
	\startSong

	\startPart
	f1 |
	g:m/f |
	c:7/e |
	f |
	d:m/f | %% 5
	g/f |
	c/e |
	f/e |
	d:m7 |
	g:7 | %% 10
	c |
	c:dim7 |
	g:m/bes |
	bes:dim7 |
	f/a | %% 15
	bes/a |
	g:m7 |
	c:7 |
	f |
	f:7 | %% 20
	bes:maj7 |
	b:dim7 |
	f:m/c |
	bes:m6/des |
	c:7 |
	f/c |
	c:7sus4 |
	c:7 |
	f:dim7/c |
	f/c |
	c:7sus4 |
	c:7 |
	f:7 |
	bes/f |
	g:m7/f |
	c1:7sus4/f |
	f |
	\endPart

	\endSong
	\endChords
}


