


\chordmode {
	\startChords
	\startSong

	\myMark "A"
	\startPart
	f2. | d:m7 | bes:maj7 | f | \myEndLine
	bes:maj7 | f | e:m7.5- | a:7.9- | \myEndLine
	\endPart

	\myMark "B"
	\startPart
	d:m | f:7/c | bes:maj7 | bes:m | \myEndLine
	d:m | b4:m7.5- e2:7 | a4:m7 d2:7 | g4:m7 c2:7 | \myEndLine
	\endPart

	\myMark "A"
	\startPart
	f2. | d:m7 | bes:maj7 | f | \myEndLine
	bes:maj7 | f | e:m7.5- | a:7.9- | \myEndLine
	\endPart

	\myMark "C"
	\startPart
	d:m | d:m/c | b:m7.5- | bes:m | \myEndLine
	f | bes:maj7 | f | bes:maj7 | \myEndLine
	f | d:m | g:m7 | c:7 | \myEndLine
	bes:maj7 | bes:m | f | \myEndLine
	\endPart

	\endSong
	\endChords
}


