




\lyricmode {
	% A part
	Moon Ri -- ver __ wi -- der than a mile
	I'm cros -- sing you in style some -- day __
	% B part
	Oh dream ma -- ker, you heart -- brea -- ker
	Wher -- e -- ver you're go -- ing I'm go -- ing your way
	% A part
	Two drif -- ters __ off to see the world
	There's such a lot of world to see __

	We're af -- ter the same __ rain -- bow's end __
	Wai -- ting round the bend __
	My hu -- ckle -- ber -- ry friend, Moon Ri -- ver __
	And me __
}
