

	Song progression:
	opening
	verse1
	intelude
	verse2
	interlude
	verse3
	interlude
	solo sax on verse
	interlude
	verse4
	interlude
	verse5
	interlude
	ending (first part with humming the tune and second part with lyrics)
	DONE:
	- filled in the meta data for this tune
	TODO:





