

	**** THIS TUNE DOESNT COMPILE WITH WARNINGS BECAUSE OF THE GRACE NOTE ISSUE BELOW ****

	DONE:
	TODO:
	- the myGrace notes seem to meddle with the line breaks. Why is that? find
	the reason/submit a bug and document the issue in the hints file.
	- add russian lyrics (write it in russian?!?).
	- find out how to balance volume of accompaniment and lead and set the
	instruments back in (violin for melody and accordion for chords).




