






\score {
	<<
		\new FretBoards {
			
	\chordmode {
		\startChords
		\startSong

		\myWordMark "Verse"
		\startPart
		g1 | d | g | d | \myEndLine
		g | d | g | d | \myEndLine
		\endPart

		\myWordMark "Chorus"
		\startPart
		a:m | e:m | d1*2 | \myEndLine
		a1:m | e:m | d1*2 | \myEndLine
		\endPart

		\endSong
		\endChords
	}

		}
		
	\new ChordNames="Chords"
	\with {
		\override BarLine #'bar-extent = #'(-2 . 2)
		\consists "Bar_engraver"
	}

		
	\chordmode {
		\startChords
		\startSong

		\myWordMark "Verse"
		\startPart
		g1 | d | g | d | \myEndLine
		g | d | g | d | \myEndLine
		\endPart

		\myWordMark "Chorus"
		\startPart
		a:m | e:m | d1*2 | \myEndLine
		a1:m | e:m | d1*2 | \myEndLine
		\endPart

		\endSong
		\endChords
	}

	>>
	%\midi {}
	\layout {}
}

% Lyrics
\verticalSpace
\verticalSpace
\markup {
	\small {
		\concat {
			\column {
				\box "Verse"
				"He had white Horses"
				"And ladies by the score"
				"All dressed in satin"
				"And waiting by the door"
				\vspace #0.3
				\box "Chorus"
				"Ooooh, what a lucky man he was"
				"Ooooh, what a lucky man he was"
				\vspace #0.3
				\box "Verse"
				"White lace and feathers"
				"They made up his bed"
				"A gold covered mattress"
				"On which he was led"
				\vspace #0.3
				\box "Chorus"
				"Ooooh, what a lucky man he was"
				"Ooooh, what a lucky man he was"
			}
			\hspace #3
			\column {
				\box "Verse"
				"He went to fight wars"
				"For his country and his king"
				"Of his honor and his glory"
				"The people would sing"
				\vspace #0.3
				\box "Chorus"
				"Ooooh, what a lucky man he was"
				"Ooooh, what a lucky man he was"
				\vspace #0.3
				\box "Verse"
				"A bullet had found him"
				"His blood ran as he cried"
				"No money could save him"
				"So he laid down and he died"
				\vspace #0.3
				\box "Chorus"
				"Ooooh, what a lucky man he was"
				"Ooooh, what a lucky man he was"
			}
		}
	}
}
