

	DONE:
	- filled in the meta data from the internet.
	- added youtube performance.
	- added lyrics url.
	- added lyrics (from the internet).
	- added chords (found them myself).
	TODO:
	REMARKS:





