

	DONE:
	TODO:
	- are the g:sus4 and d:sus4 chords really sus4 chords? They 4 note
	in them is just an embelishment. How do I annotate this correctly?
	- the g:sus4 and d:sus4 chords look (in guitar tabs) just like regular
	g and d chords. How can also annotate the extra note to be added and the
	finger with which to add it with?





