

	NOTES:
		- this tune is an example of how to create different outputs for midi and
		printing. This is required here since I want the chord names to appear in the
		print but not be heard in the midi. In order situations you want to the midi
		to play the voltas correclty and so need to unfold the music but in the print
		version you want the voltas.
	TODO:
		- I don't want to see the vocal staff in the opening.
		- rests for entire bars (like in the begining) are not centered (should they be ?).
		- reduce the size of the 'GRIZABELLA' headline.
		- what's the deal with setting the key per voice? - do I have to do that ?
			check it out in the documentation, fix if need be and document this.
		- in the bass notes the bass of the chord should be held for the entire bar
			(how do I do this in lilypond ?).
		- too much space between the systems on the page.
		- add a macro that says 'Music by' and then the composer and the same for the lyrics to be preceeded by 'Text by'.

