





% Lyrics
\verticalSpace
\verticalSpace
\markup {
	\small {
		\concat {
			\column {
				\box "Verse"
				"He deals the cards as a meditation"
				"And those he plays never suspect"
				"He doesn't play for the money he wins"
				"He doesn't play for respect"
				\vspace #0.3
				\box "Verse"
				"He deals the cards to find the answer"
				"The sacred geometry of chance"
				"The hidden law of a probable outcome"
				"The numbers lead a dance"
				\vspace #0.3
				\box "Chorus"
				"I know that the spades are swords of a soldier"
				"I know that the clubs are weapons of war"
				"I know that diamonds mean money for this art"
				"But that's not the shape of my heart"
				\vspace #0.3
				\box "Verse"
				"He may play the jack of diamonds"
				"He may lay the queen of spades"
				"He may conceal a king in his hand"
				"While the memory of it fades"
			}
			\hspace #3
			\column {
				\box "Chorus"
				"I know that the spades are swords of a soldier"
				"I know that the clubs are weapons of war"
				"I know that diamonds mean money for this art"
				"But that's not the shape of my heart"
				"Shape of my heart"
				\vspace #0.3
				\box "Verse"
				"And if I told you that I loved you"
				"You'd maybe think there's something wrong"
				"I'm not a man of too many faces"
				"The mask I wear is one"
				\vspace #0.3
				\box "Verse"
				"Those who speak know nothing"
				"And find out to their cost"
				"Like those who curse their luck in too many places"
				"And those who fear are lost"
				\vspace #0.3
				\box "Chorus"
				"I know that the spades are swords of a soldier"
				"I know that the clubs are weapons of war"
				"I know that diamonds mean money for this art"
				"But that's not the shape of my heart"
			}
		}
	}
}
