

	DONE:
	TODO:
	- add a scan of the paper (after fixing the printer).
	- fill in the fingerings.
	- write that the tune is for guitar.
	- document what has been done for this tune.
	- document the youtube performances.


